<div class="panel-heading" style="padding-top:0px; background-color:#e3e8ef;">
    <div class="row">
        <div class="col-md-5" style="padding-top:15px">
            {{pageTitle}}
            <i ng-show="page.isLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
        </div>
        <div class="col-md-7" style="padding-top:5px">
            <div class="pull-right" ng-show="ngCondition">
                
                <button type="submit" class="btn btn-sm btn-primary" ng-click="saveForm()">Save</button>
                <button type="button" class="btn btn-sm btn-warning" ng-click="resetForm()">Reset</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clearForm()">Clear</button>
                 <button type="button" class="btn btn-sm btn-primary" ng-click="back('organization.employees.list')">List</button>
            </div>
        </div>
    </div>
</div>