<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr class="sortable">
            <td class="table-id">Sno</td>
            <td class="col-md-2">Employee</td>
            <td class="col-md-1">Contact Name</td>
            <td class="col-md-1">Contact Number</td>
            <td class="col-md-1">Comment</td>
            <td class="col-md-1">Leave Type</td>
            <td class="col-md-1">Address</td>
            <td class="col-md-2">From Date</td>
            <td class="col-md-2">To Date</td>
            <td class="col-md-1">Actions</td>
        </tr>
    </thead>
    <tbody ng-show="rows.length>0">
        <tr ng-repeat="row in rows" class="editable-row">
            <td >
                {{$index+1}}
            </td>
            <td>
                <span editable-text="row.EmpName" e-name="EmpName" e-form="rowform" e-required>
                {{ row.EmpName || '' }}
                </span>
            </td>
            <td>
                <span editable-text="row.LEADContactName" e-name="LEADContactName" e-form="rowform" e-required>
                {{ row.LEADContactName || '' }}
                </span>
            </td>
            <td>
                <span editable-text="row.LEADContactNo" e-name="LEADContactNo" e-form="rowform" e-required>
                {{ row.LEADContactNo || '' }}
                </span>
            </td><td>
                <span editable-text="row.LeadComment" e-name="LeadComment" e-form="rowform" e-required>
                {{ row.LeadComment || '' }}
                </span>
            </td><td>
                <span editable-text="row.LTName" e-name="LTName" e-form="rowform" e-required>
                {{ row.LTName || '' }}
                </span>
            </td><td>
                <span editable-text="row.LEADAddress" e-name="LEADAddress" e-form="rowform" e-required>
                {{ row.LEADAddress || '' }}
                </span>
            </td><td>
                <span editable-text="row.LEADDateFrom"  e-name="LEADDateFrom" e-form="rowform" e-required>
                {{ row.LEADDateFrom || '' }}
                </span>
            </td><td>
                <span editable-text="row.LEADDateTo" e-name="LEADDateTo" e-form="rowform" e-required>
                {{ row.LEADDateTo || '' }}
                </span>
            </td>
            <td class="col-md-3">
                <div include-with-scope="app/pages/leave/applications/list/action.html"></div>
            </td>
        </tr>
    </tbody>
    <tbody ng-hide="rows.length>0">
        <tr>
            <td colspan="3">No branch found</td>
        </tr>
    </tbody>
</table>