<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal" name="editForm" ng-submit="approvedCtrl.saveForm(editForm)">
      <div ba-panel ba-panel-class="xmedium-panel" ba-panel-title="Employee Leave Application">

        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>

              <th>Employee Name</th>
              <th>Leave Type</th>
              

            </tr>
            
          </thead>
          <tbody>
            <tr>

             
              <td> {{employeeLeaveAppDetailList.EmpName}} </td>
              <td>{{employeeLeaveAppDetailList.LTName}}</td>

            </tr>

            </tbody>
            <thead>
            <tr>

              <th>Leave For Half Day</th>
              <th>Apply Date</th>
              

            </tr>
            
          </thead>
          <tbody>
            <tr>

             
              <td> {{employeeLeaveAppDetailList.LeadHalfDay}} </td>
              <td>{{employeeLeaveAppDetailList.LEADDateFrom}}</td>

            </tr>

            </tbody>
            <thead>
            <tr>

              <th>From Date</th>
              <th>To Date</th>
              

            </tr>
            
          </thead>
          <tbody>
            <tr>

             
              <td> {{employeeLeaveAppDetailList.LEADDateFrom}} </td>
              <td>{{employeeLeaveAppDetailList.LEADDateTo}}</td>

            </tr>

            </tbody>
            <thead>
            <tr>

              <th>Contact Person</th>
              <th>Contact Number</th>
              

            </tr>
            
          </thead>
          <tbody>
            <tr>

             
              <td> {{employeeLeaveAppDetailList.LEADContactName}} </td>
              <td>{{employeeLeaveAppDetailList.LEADContactNo}}</td>

            </tr>

            </tbody>
        </table>

      </div>
    </form>

  </div>
  <div class="col-md-6">
    <form class="form-horizontal" name="editForm" ng-submit="approvedCtrl.saveForm(editForm)">
      <div ba-panel ba-panel-class="xmedium-panel" ba-panel-title="Employee Approval Detail">
    


   <div class="row">     
  <div class="col-md-6">
    <div class="form-group">
      <label for="inputFirstName">Leave Status</label>
      <select class="form-control" title="Select Employee" ng-model="approvedCtrl.entity.LeaveStatusId"
            ng-options="opt.value as opt.name for opt in approvedCtrl.selects.ELSDLeaveStatusId"
             >
                    </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="inputLastName">Approved By</label>
      <select class="form-control" title="Select Employee" ng-model="approvedCtrl.entity.ApprovedById"
            ng-options="opt.value as opt.name for opt in approvedCtrl.selects.ELSDApprovedById"
             >
                    </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputFirstName">From Date</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="From Date">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputWebsite">To Date</label>
      <input type="text" class="form-control" id="inputWebsite" placeholder="To Date">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputFirstName">Sancation Date</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Sanction Date">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      
    </div>
  </div>
</div>
<div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-warning">Save</button>
            <button type="button" class="btn btn-danger" ng-click="back()">Cancel</button>
          </div>
        </div>

  </div>
  </form>
 </div>
    
</div>
<!--<div ng-hide="addCtrl.isLoading"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>-->