<grid-box ng-model="page" ng-hide="showEditForm">
</grid-box>
<form name="editForm " novalidate ng-submit="saveForm(editForm) " ng-show="showEditForm ">
    <div class="panel panel-default xmedium-panel ">
        <edit-panel-head page-title="page.pageinfo.title " reset-form="resetFormCommon(editForm) " clear-form="clearFormCommon(editForm) "
            close-form="closeForm(editForm) " show-close="true " show-save="true " show-clear="true " show-list="false
    " show-reset="true " condition="true "></edit-panel-head>

        <div class="panel-body " style="padding:5px " ng-scrollbars ng-scrollbars-config="config ">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LAEmpId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LAEmpId" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LPId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LPId" ng-entity="entity" form="editForm">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LALTId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LALTId" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LAInterest.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LAInterest" ng-entity="entity" form="editForm">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LADate.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LADate" ng-entity="entity" form="editForm">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LAApplyAmount.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LAApplyAmount" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LAAmount.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LAAmount" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LAInstallment.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LAInstallment" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LANoOfInstallment.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LANoOfInstallment" ng-entity="entity" form="editForm"></field-box>
                </div>
                
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LALoanInstallmetDate.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LALoanInstallmetDate" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LALastLoanCheckDate.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LALastLoanCheckDate" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LARemark.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LARemark" ng-entity="entity" form="editForm">
                </div>
            </div>

            <div class="col-md-7 " style="padding-top:5px " ng-show="isLeaveApprovedDet ">
                <button type="button" ng-click="approvedLeave() " class="btn btn-sm btn-primary ">Approved</button>
            </div>

        </div>
    </div>
</form>