<div class="modal-content">
    <div class="modal-header bg-primary">
        <h3 class="inline-block clear-vertical-margin" ng-if="!isEdit" dotranslate>Add Location</h3>
        <h3 class="inline-block clear-vertical-margin" ng-if="isEdit" dotranslate>Edit Location</h3>
    </div>

    <div class="modal-body content-container">
        <form name="locationDetail" id="locationDetail" novalidate>
            <div class="row">
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Name of Location</label>
                            <input type="text" class="form-control" ng-model="entity.LocationName" name="LocationName" id="LocationName" required />

                            <span class="validation-msg" validation-messages="" model-controller="bankDetails.bank" required-error="Name is required"
                                form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Company</label>
                            <select class="form-control" name="LocationCCOId" ng-options="opt.value as opt.name for opt in selects.LocationCCOId" ng-change="changeState()"
                                ng-model="entity.LocationCCOId"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Country</label>
                            <select id="inputDepartment" ng-model="entity.CountryId" ng-change="countryOnChange(entity.CountryId)" class="form-control"
                                ng-options="loaction.value as loaction.name for loaction in selects.CountryId" data-placeholder="Select Nav Menu"
                                required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>State</label>
                            <select id="inputDesignation" ng-model="entity.StateId" ng-change="stateOnChange(entity.StateId)" class="form-control"
                                ng-options="branch.value as branch.name for branch in stateList" data-placeholder="Select Nav Menu"
                                required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>City</label>
                            <select id="inputEmployeeType" ng-model="entity.LocationCityId" class="form-control" ng-options="subUnit.value as subUnit.name for subUnit in cityList"
                                data-placeholder="Select Nav Menu" required>
                                <option></option>
                            </select>
                            <!-- <select class="form-control" name="state" ng-options="opt.value as opt.name for opt in selects.LocationCityId
                            " ng-model="entity.LocationCityId"></select> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 vertical-margin">
                    <div class="col-sm-6 pull-right text-right">
                        <button type="submit" ng-if="!isEdit" class="btn btn-success" ng-click="saveForm(locationDetail);" dotranslate>Add Location</button>
                        <button type="submit" ng-if="isEdit" class="btn btn-success" ng-click="saveForm(locationDetail);" dotranslate>Update Location</button>
                        <a class="btn btn-cancel" ng-click="$dismiss();">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>