<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
              </button>
        <h4 class="modal-title" id="myModalLabel"><i class="ion-archive"></i> Downlaod File</h4>
    </div>
    <div class="modal-body">
        <div class="list-group">
            <!-- <a ng-click="vm.previewFile()" class="list-group-item" tabindex="0">
                <i class="ion-star"></i>
                View File
                <i class="pull-right ion-chevron-right"></i>
            </a> -->
            <a href ng-click="downloadFile()" class="list-group-item" tabindex="0">
                <i class="ion-archive"></i>
                Download File
                <i class="pull-right ion-chevron-right"></i>
            </a>
        </div>
    </div>
</div>