<div class="col-lg-12 clear-left-padding">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-body">
                <div class="col-sm-2 clear-left-padding  menu-tile vertical-margin clear-bottom" data-xhr-feature-authorize="" data-feature="TIMESHEET">
                    <a href="" data-ui-sref="team.leave.leave.pending({month:month,year:year})">

                        <div class="col-sm-12 menu clear-side-padding">
                            <span class="heading pull-left">Leave Approvals</span>
                            <div class="link-count">
                                <span class="link pull-left">
                                    <b>SEE ALL</b>
                                </span>
                                <span class="count pull-right ">{{approvalsCount.LeaveCount}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2 clear-left-padding menu-tile vertical-margin clear-bottom " data-xhr-feature-authorize="" data-feature="TIMESHEET">
                    <a href="" data-ui-sref="team.leave.compoff.pending({month:month,year:year})">
                        <div class="col-sm-12 menu clear-side-padding">
                            <span class="heading pull-left">CompOff Approvals</span>
                            <div class="link-count">
                                <span class="link pull-left">
                                    <b>SEE ALL</b>
                                </span>
                                <span class="count pull-right ">{{approvalsCount.CompoffCount}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2 clear-left-padding menu-tile vertical-margin clear-bottom" data-xhr-feature-authorize="" data-feature="TIMESHEET">
                    <a href="" data-ui-sref="team.attendance.adjustment.pending({month:month,year:year})">
                        <div class="col-sm-12 menu clear-side-padding">
                            <span class="heading pull-left">Attendance Adustment</span>
                            <div class="link-count">
                                <span class="link pull-left">
                                    <b>SEE ALL</b>
                                </span>
                                <span class="count pull-right ">{{approvalsCount.AdjustmentCount}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2 clear-left-padding menu-tile vertical-margin clear-bottom" data-xhr-feature-authorize="" data-feature="TIMESHEET">
                    <a href="" data-ui-sref="team.attendance.outduty.pending({month:month,year:year})">
                        <div class="col-sm-12 menu clear-side-padding">
                            <span class="heading pull-left">OutDuty Approvals</span>
                            <div class="link-count">
                                <span class="link pull-left">
                                    <b>SEE ALL</b>
                                </span>
                                <span class="count pull-right ">{{approvalsCount.OutDutyCount}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2 clear-left-padding menu-tile vertical-margin clear-bottom" data-xhr-feature-authorize="" data-feature="TIMESHEET">
                    <a href="" data-ui-sref="team.attendance.workfromhome.pending({month:month,year:year})">
                        <div class="col-sm-12 menu clear-side-padding">
                            <span class="heading pull-left">WFH Approvals</span>
                            <div class="link-count">
                                <span class="link pull-left">
                                    <b>SEE ALL</b>
                                </span>
                                <span class="count pull-right ">{{approvalsCount.WFHCount}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 ">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-heading">
                        Leave Calendar
                    </div>
                    <div class="panel-body">
                        <div id="myteam-leaves" class="col-lg-12 col-md-12 col-sm-12 ">
                            <div class="col-lg-12 col-md-12 col-sm-12 clear-side-padding leaves-summary">
                                <div class="col-lg-4 col-md-4 col-sm-4 clear-side-padding leaves-summary-calender">
                                    <span class="col-lg-1 col-md-1 col-sm-1 clear-side-padding">
                                        <a data-ng-click="getPreviousMonthLeaveSummary()">
                                            <span class="arrow-icon">
                                                <i class="fa fa-chevron-left"></i>
                                            </span>
                                        </a>
                                    </span>
                                    <span class="col-lg-5 col-md-8 col-sm-10 clear-side-padding">
                                        <span class="month ">{{monthYear}}</span>
                                    </span>
                                    <span class="col-lg-1 col-md-1 col-sm-1 clear-side-padding">
                                        <a data-ng-click="getNextMonthLeaveSummary()">
                                            <span class="arrow-icon">
                                                <i class="fa fa-chevron-right"></i>
                                            </span>
                                        </a>
                                    </span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 clear-side-padding leaves-summary-days">
                                    <ul class="col-lg-12 col-md-12 col-sm-12 clear-side-padding">

                                        <li data-ng-repeat="dayName in calDaysName" class="day month-days clear-left-margin clear-right-margin">
                                            <span ng-class="{'current-date': day.toDateString() == vm.today.toDateString()}" class="">{{dayName.day}}</span>
                                        </li>

                                    </ul>
                                    <ul class="col-lg-12 col-md-12 col-sm-12 date">

                                        <li data-ng-repeat="day in calDays" class="">
                                            <div ng-class="{'no-priority' :day.noPriority, 'off': day.isHoliday, 'low-priority': day.isLeave }">
                                                <span style="vertical-align: -webkit-baseline-middle;" class="">{{day.date}}</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 clear-side-padding leave-summary-details">
                                <!-- ngRepeat: leaveDetail in vm.calender -->
                                <!-- ngIf: leaveDetail.leaveCount > 0 || leaveDetail.isHoliday -->

                                <div ng-if="!noDataFound" data-ng-repeat="landh in leavesAndHoliday | orderBy:'from'" class="col-lg-12 col-md-12 col-sm-12 clear-side-padding repeat-details ">
                                    <div class="details col-lg-12 col-md-12 col-sm-12 clear-side-padding">
                                        <span class="heat-map" data-ng-class="{'off': landh.isHoliday, 'low-priority': landh.isLeave }">&nbsp;</span>
                                        <span class="heat-map-date ">{{landh.from | date:'MMM dd EEE'}}</span>
                                        <span class="heat-map-seperator"> : &nbsp;</span>
                                        <!-- ngIf: leaveDetail.isHoliday -->
                                        <!-- ngIf: leaveDetail.leaveCount != 0 && (leaveDetail.isHoliday || leaveDetail.isHoliday.isFloater) -->
                                        <!-- ngIf: leaveDetail.leaveCount !== 0 -->
                                        <!-- <span class="heat-map-leaveCount  ">1
                                            <ng-pluralize count="leaveDetail.leaveCount" when="{'1': ' Leave ', other: ' Leaves '}">
                                                Leave </ng-pluralize> - </span> -->
                                        <!-- end ngIf: leaveDetail.leaveCount !== 0 -->
                                        <span>{{landh.name}}</span>
                                    </div>
                                </div>
                                <div>
                                    <div data-ng-if="noDataFound" class="alert alert-success" role="alert">Hooray, No leave and holiday found!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-heading">
                        My Reportees
                    </div>
                    <div class="panel-body">
                        <div data-ng-repeat="reportees in myReportees" class="icon-list col-lg-4 clear-left-padding vertical-margin signatory">
                            <div data-ui-sref="employee.summary({empid:reportees.EmpId})" style="cursor: pointer;">
                                <div class="icon-container ">
                                    <div class="icon">
                                        <div class="initials-icon icon-circle" random-Color>{{reportees.shortName}}</div>
                                    </div>
                                </div>
                                <div class="detail">
                                    <h4 class="title clear-bottom">{{reportees.EmpName}}</h4>
                                    <span class="title-description clear-top">{{reportees.DesgName}}</span>
                                    <br>
                                    <span class="title-description clear-top">{{reportees.PdMobileNo}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <p>I Report To</p>
                        <div data-ng-repeat="headEmp in upperHeadEmp" class="icon-list  col-lg-12 clear-left-padding vertical-margin signatory">
                            <div data-ui-sref="employee.summary({empid:headEmp.EmpId})" style="cursor: pointer;">
                                <div class="icon-container ">
                                    <div class="icon">
                                        <div class="initials-icon icon-circle" random-Color>{{headEmp.shortName}}</div>
                                    </div>
                                </div>
                                <div class="detail">
                                    <h4 class="title clear-bottom">{{headEmp.EmpName}}</h4>
                                    <span class="title-description clear-top">{{headEmp.DesgName}}</span>
                                    <br>
                                    <span class="title-description clear-top">{{headEmp.PdMobileNo}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <p>{{upperHeadName}}'s Team</p>
                        <div data-ng-repeat="team in upperHeadTeam" class="icon-list col-lg-12 clear-left-padding vertical-margin signatory">
                            <div data-ui-sref="employee.summary({empid:team.EmpId})" style="cursor: pointer;">
                                <div class="icon-container ">
                                    <div class="icon">
                                        <div class="initials-icon icon-circle" random-Color>{{team.shortName}}</div>
                                    </div>
                                </div>
                                <div class="detail">
                                    <h4 class="title clear-bottom">{{team.EmpName}}</h4>
                                    <span class="title-description clear-top">{{team.DesgName}}</span>
                                    <br>
                                    <span class="title-description clear-top">{{team.PdMobileNo}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>