<div ng-switch="col.type" class="form-group  has-feedback" ng-class="{'has-success':hasSuccess(),'has-error':hasError(),'has-warning':hasWarning()}">
    <div class="input-group">
        <!--Textbox-->
        <!--<span class="input-group-addon  addon-left" ng-show="col.required">
              <i aria-hidden="true" class="fa font-red fa-asterisk"></i>
        </span>-->

        <!--left icon-->
        <span class="input-group-addon  addon-left" ng-show="col.type=='email'">
              @ <!--<i class="fa fa-at" aria-hidden="true"></i>-->
        </span>
        <span class="input-group-addon  addon-left" ng-show="col.type=='mobile'">
                <i class="fa fa-mobile" aria-hidden="true"></i>
        </span>
        <span class="input-group-addon  addon-left" ng-show="col.type=='phone'">
                <i class="fa fa-phone" aria-hidden="true"></i>
        </span>
        <span class="input-group-addon  addon-left" ng-show="col.type=='password'">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        </span>


        <input ng-switch-when="textbox" name="{{col.name}}" id="{{col.name}}" placeholder="{{col.place}}" maxlength="{{col.maxLength}}"
            ng-model="entity[col.name]" type="text" class="form-control" ng-minlength="1" ng-maxlength="col.maxLength" ng-required="col.required"
        />

        <!--email-->
        <input ng-switch-when="email" name="{{col.name}}" ng-model="entity[col.name]" type="email" class="form-control" ng-minlength="10"
            ng-maxlength="col.maxLength" id="{{col.name}}" ng-required="col.required" placeholder="{{col.place}}" />

        <!--mobile-->
        <input ng-switch-when="mobile" name="{{col.name}}" ng-model="entity[col.name]" type="number" class="form-control" ng-minlength="col.maxLength"
            ng-maxlength="col.maxLength" id="{{col.name}}" ng-required="col.required" placeholder="{{col.place}}" ng-pattern="/(7|8|9)\d{9}/"
            maxlength="{{col.maxLength}}" />

        <!--zipcode-->
        <input ng-switch-when="zipcode" name="{{col.name}}" ng-model="entity[col.name]" type="number" class="form-control" ng-minlength="col.maxLength"
            ng-maxlength="6" id="{{col.name}}" ng-required="col.required" placeholder="{{col.place}}" ng-pattern="/^(\d{6}(-\d{6})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
            maxlength="6" />

        <!--aadhar no-->
        <input ng-switch-when="aadharno" name="{{col.name}}" ng-model="entity[col.name]" type="number" class="form-control" ng-minlength="12"
            ng-maxlength="12" id="{{col.name}}" ng-required="col.required" placeholder="{{col.place}}" 
            ng-pattern="\d{4}\s\d{4}\s\d{4}$"
            maxlength="12" />

        <!--Select-->
        <select name="{{col.name}}" id="{{col.name}}" ng-model="entity[col.name]" class="form-control" ng-options="opt.value as opt.name for opt in col.options"
            ng-switch-when="select" placeholder="{{col.place}}" ng-required="col.required"></select>

        <!--UISelect-->
        <select id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" class="form-control" ng-options="opt.id as opt.name for opt in col.options"
            ng-switch-when="uiselect" placeholder="{{col.place}}" ng-required="col.required"></select>

        <!--strapselect-->
        <select id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" class="form-control" ng-options="opt.value as opt.name for opt in col.options | filter:{ '{{col.propColName}}': entity[col.propColName] }"
            ng-switch-when="strapselect" data-placeholder="{{col.place}}" ng-required="col.required"></select>

        <!--multi-select-->
        <select id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" type="date" class="form-control" ng-options="opt.value as opt.name for opt in col.options"
            ng-switch-when="multi-select" multiple placeholder="{{col.place}}" ng-required="col.required"></select>
        <!--Checkbox-->
        <div ng-switch-when="checkbox">
            <!--<label class="checkbox-inline custom-checkbox nowrap">-->
            <input name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="checkbox" id="{{col.name}}" checked
                class="custom-checkbox">
            <!--</label>-->
        </div>
        <!--Linklabel-->
        <label id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-switch-when="linklabel">{{entity[col.name]}}</label>
        <!--sequence-->
        <label id="{{col.name}}" name="{{col.name}}" ng-switch-when="sequence">{{entity[col.name]}}</label>
        <!--YesNo-->
        <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" ng-switch-when="YesNo"
            type="checkbox" data-on-color="primary" class="input-switch" checked data-size="medium" data-on-text="On" data-off-text="Off">
        <!--Textarea-->
        <textarea id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="textarea" class="form-control"
            ng-switch-when="textarea" placeholder="{{col.place}}"></textarea>
        <!--Password-->
        <input ng-switch-when="password" id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required"
            type="text" class="form-control" placeholder="{{col.place}}">

        <!--html-->
        <!--datetimepicker-->
        <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="text" datetimepicker
            class="form-control" ng-switch-when="datetimepicker" placeholder="{{col.place}}" />
        <!--datepicker-->
        <datepicker date-format="dd-MMMM-yyyy" ng-switch-when="datepicker">
            <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="text" class="form-control"
                placeholder="{{col.place}}" />
        </datepicker>

        <!--timepicker-->
        <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="text" datetimepicker
            class="form-control" ng-switch-when="timepicker" placeholder="{{col.place}}" />

        <!--list-->
        <div ng-switch-when="list" angucomplete-alt id="{{col.name}}" placeholder="{{col.place}}" pause="300" selected-object="entity[col.name]"
            local-data="col.options" local-search="localObjSearch" title-field="name" minlength="1" input-class="form-control form-control-small"
            match-class="highlight" name="{{col.name}}"></div>
        <!--currency-->
        <input name="{{col.name}}" ng-model="entity[col.name]" ng-switch-when="currency" id="{{col.name}}" class="form-control touchspin-currency-left"
            type="text" value="0" name="touchspin-left-2" placeholder="{{col.place}}">
        <!--number-->
        <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" type="number" class="form-control" ng-switch-when="number"
            placeholder="{{col.place}}" />

        <!--right icon-->
        <!--<span class="input-group-addon" ng-if="col.type!='linklabel' && col.type !='sequence' && col.type != 'checkbox'" style="max-width: 40px">
            <i aria-hidden="true" class="fa font-green fa-check" ng-show="(editForm[col.name]['$viewValue']!='' && editForm[col.name]['$valid'] && editForm[col.name]['$dirty'])"></i>
            <i aria-hidden="true" class="fa font-red fa-times" ng-show="(editForm[col.name]['$viewValue']!='' && !editForm[col.name]['$valid'] && editForm[col.name]['$touched'])"></i>
            <i aria-hidden="true" class="fa font-red fa-asterisk" ng-show="(editForm[col.name]['$viewValue']===undefined ||editForm[col.name]['$viewValue']=='' ) && col.required"></i>
        </span>-->
    </div>
    <!--error icon-->
    <!--<i class="ion-android-cancel form-control-feedback" aria-hidden="true"></i>-->
    <!--warning icon-->
    <!--<i ng-show="(editForm[col.name]['$viewValue']!='' && !editForm[col.name]['$valid'] && editForm[col.name]['$touched'])" class="ion-alert-circled form-control-feedback"
        aria-hidden="true"></i>-->
    <!--success icon-->
    <!--<i ng-show="(editForm[col.name]['$viewValue']!='' && editForm[col.name]['$valid'] && editForm[col.name]['$dirty'])"
    ="ion-checkmark-circled form-control-feedback"
        aria-hidden="true"></i>-->

    <i ng-class="{'form-control-feedback': true, 
            'ion-checkmark-circled': hasSuccess(), 
            'ion-android-cancel': hasError(), 
            'ion-asterisk font-red': hasRequired(), 
            'ion-alert-circled': hasWarning(), 
            }">

    </i>
    <!--info area-->
    <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
    <span ng-show="editForm[col.name]['$error']['blacklist']">
          The phrase "{{entity[col.name]}}" is blacklisted</span>
    <span  ng-show="editForm[col.name]['$error']['required']">required</span>
    {{entity[col.name]}}
</div>