<div class="modal-content">
    <div class="modal-header bg-primary">
        <h3 class="inline-block clear-vertical-margin" ng-if="!isEdit" dotranslate>Add Designation</h3>
        <h3 class="inline-block clear-vertical-margin" ng-if="isEdit" dotranslate>Edit Designation</h3>
    </div>

    <div class="modal-body content-container">
        <form name="departmentDetail" id="departmentDetail" novalidate>
            <div class="row">

                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Name Of Desination</label>
                            <input type="text" class="form-control" ng-model="entity.DesgName" name="DesgName" id="DesgName" required />

                            <span class="validation-msg" validation-messages="" model-controller="bankDetails.bank" required-error="Name is required"
                                form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Description</label>
                            <input type="text" class="form-control" ng-model="entity.DesgDesc" name="DesgDesc" id="DesgDesc" required />

                            <span class="validation-msg" validation-messages="" model-controller="bankDetails.bank" required-error="Name is required"
                                form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label class="custom-checkbox">
                                <input type="checkbox" ng-model="entity.DesgIsManager">
                                <span style="font:bold">Administrator</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label class="custom-checkbox">
                                <input type="checkbox" ng-model="entity.SMAllowedNegitiveVerify">
                                <span style="font:bold">Manager</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 vertical-margin">
                    <div class="col-sm-6 pull-right text-right">
                        <button type="submit" ng-if="!isEdit" class="btn btn-success" ng-click="saveForm(departmentDetail);" dotranslate>Add Designation</button>
                        <button type="submit" ng-if="isEdit" class="btn btn-success" ng-click="saveForm(departmentDetail);" dotranslate>Update Designation</button>
                        <a class="btn btn-cancel" ng-click="$dismiss();">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>