<div class="row animated" ng-hide="isDate">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        From Date
                    </div>
                    <div class="col-md-9">
                        <!--<input ng-model="acFromDate" type="text" class="form-control disabled">-->
                        <span class="form-control" ng-bind="acFromDate"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        To Date
                    </div>
                    <div class="col-md-9">
                        <!--<input ng-model="acToDate" type="text" class="form-control disabled">-->
                        <span class="form-control" ng-bind="acToDate"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<grid-box ng-model="page">
</grid-box>
