<div class="modal-content">
    <div class="modal-header bg-primary">
        <!-- <h3 class="inline-block clear-vertical-margin" data-ng-if="!edit">Add Signatory</h3>
        <h3 class="inline-block clear-vertical-margin" data-ng-if="edit">Edit Signatory</h3> -->
    </div>

    <div class="modal-body content-container">
        <div class="row add-signatory-container">
            <!-- <form name="addSignatoryForm" id="addSignatoryForm" data-ng-init="form = this;" novalidate> -->
            <form name="addSignatoryForm" id="addSignatoryForm" novalidate>

                <div class="col-sm-12 vertical-margin">
                    <fieldset>
                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                            <div class="col-sm-4 clear-left-padding">
                                <div class="form-group">
                                    <label>Signatory Name</label>
                                    <input type="text" class="form-control" data-ng-model="entity.ASDSignatureName" name="signatoryName" id="signatoryName" required
                                    />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-side-padding">
                                <div class="form-group">
                                    <label>Signatory Father Name</label>
                                    <input type="text" class="form-control" data-ng-model="entity.ASDSignatoryFathersName" name="signatoryFather" id="signatoryFather"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryFather" data-required-error="Father name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-right-padding">
                                <div class="form-group">
                                    <label>Signatory Designation</label>
                                    <select class="form-control" data- ng-model="entity.ASDDesgId" ng-options="location.value as location.name for location in pageInfo.selects.ASDDesgId"></select>

                                    <!-- <input type="text" class="form-control" data-ng-model="entity.ASDDesgId" name="signatoryDesignation" id="signatoryDesignation"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryDesignation" data-required-error="Designation is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                            <div class="col-sm-4 clear-left-padding">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" data-ng-model="entity.ASDEmail" name="signatoryName" id="signatoryName" required
                                    />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-side-padding">
                                <div class="form-group">
                                    <label>Pan Card</label>
                                    <input type="text" class="form-control" data-ng-model="entity.ASDPanCard" name="signatoryFather" id="signatoryFather" required
                                    />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryFather" data-required-error="Father name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                            <div class="col-sm-4 clear-left-padding">
                                <div class="form-group">
                                    <label>Flat/Door/Block No</label>
                                    <input type="text" class="form-control" data-ng-model="entity.ASDFlat" name="signatoryName" id="signatoryName" required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-side-padding">
                                <div class="form-group">
                                    <label>Street/Lane (Optional)</label>
                                    <input type="text" class="form-control" data-ng-model="entity.ASDStreet" name="signatoryFather" id="signatoryFather" required
                                    />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryFather" data-required-error="Father name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-right-padding">
                                <div class="form-group">
                                    <label>Area/Locality (Optional)</label>
                                    <input type="text" class="form-control" data-ng-model="entity.ASDArea" name="signatoryDesignation" id="signatoryDesignation"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryDesignation" data-required-error="Designation is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                            <div class="col-sm-3 clear-left-padding">
                                <div class="form-group">
                                    <label>Pin code</label>
                                    <input type="text" class="form-control" data-ng-model="entity.ASDPinCode" name="signatoryName" id="signatoryName" required
                                    />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-3 clear-side-padding">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control" data- ng-model="entity.CountryId" ng-options="location.value as location.name for location in pageInfo.selects.CountryId"></select>

                                    <!-- <input type="text" class="form-control" name="signatoryFather" id="signatoryFather"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryFather" data-required-error="Father name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span> -->
                                </div>
                            </div>
                            <div class="col-sm-3 clear-right-padding">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control" data- ng-model="entity.StateId" ng-options="location.value as location.name for location in pageInfo.selects.StateId"></select>

                                    <!-- <input type="text" class="form-control" name="signatoryDesignation" id="signatoryDesignation" required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryDesignation" data-required-error="Designation is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span> -->
                                </div>
                            </div>
                            <div class="col-sm-3 clear-right-padding">
                                <div class="form-group">
                                    <label>City</label>
                                    <select class="form-control" data- ng-model="entity.ASDCityId" ng-options="location.value as location.name for location in pageInfo.selects.ASDCityId"></select>

                                    <!-- <input type="text" class="form-control" data-ng-model="entity.ASDCityId" name="signatoryDesignation" id="signatoryDesignation"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryDesignation" data-required-error="Designation is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span> -->
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="row">
                    <div class="col-sm-12 vertical-margin">
                        <div class="col-sm-6 pull-right text-right">
                            <button type="submit" data-ng-if="!edit" class="btn btn-submit btn-primary" ng-click="saveSignatory();">Add Signatory</button>
                            <button type="submit" data-ng-if="edit" class="btn btn-submit" data-ng-click="saveSignatory();">Update Signatory</button>
                            <a class="btn btn-cancel" data-ng-click="$dismiss();">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>