<div class="modal-content" ng-controller="bankAccountController">
    <div class="modal-header bg-primary">
        <h3 class="inline-block clear-vertical-margin" data-ng-if="!ctrl.edit">Add Bank Account</h3>
        <h3 class="inline-block clear-vertical-margin" data-ng-if="ctrl.edit">Edit Bank Account</h3>
    </div>

    <div class="modal-body content-container">
        <form name="bankDetails" id="bankDetails" data-ng-init="ctrl.form = this;" novalidate>
            <div class="row bank-account-container">
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Name of Bank </label>
                            <select class="form-control" data- ng-model="entity.BADBankId" ng-options="location.value as location.name for location in pageInfo.selects.BADBankId"></select>

                            <!-- <ui-select data-ng-model="entity.BADBankId" name="bank" id="bank" theme="bootstrap" data-ng-disabled="disabled" class="client-select"
                                data-ng-change="ctrl.model.updateBank()" required>
                                <ui-select-match placeholder="Select a bank">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices class="action-button" repeat="bank in ctrl.banks | filter: {name : $select.search}" data-ng-nicescroll=""
                                    data-nice-option="ctrl.niceScrollOptions">
                                    <span data-ng-bind-html="bank.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="validation-msg" data-validation-messages="" data-model-controller="bankDetails.bank" data-required-error="Name is required"
                                data-form-submit="bankDetails.$submitted"></span> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Account Number</label>
                            <input type="text" class="form-control" data-ng-model="entity.BADAccountNumber" name="accountNumber" id="accountNumber" required
                            />
                            <span class="validation-msg" data-validation-messages="" data-model-controller="bankDetails.accountNumber" data-required-error="Account number is required"
                                data-form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>IFS Code</label>
                            <input type="text" class="form-control" data-ng-model="entity.BADIFSCCode" name="bankIfsc" id="bankIfsc" />
                            <span class="validation-msg" data-validation-messages="" data-model-controller="bankDetails.bankIfsc" data-required-error="IFSC Code is required"
                                data-form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Branch</label>
                            <input type="text" class="form-control" data-ng-model="entity.BADBranch" name="branch" id="branch" required />
                            <span class="validation-msg" data-validation-messages="" data-model-controller="bankDetails.branch" data-required-error="Branch is required"
                                data-form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Corporate Id</label>
                            <input type="text" class="form-control" data-ng-model="entity.BADCorporateId" name="corporateId" id="corporateId" />
                            <span class="validation-msg" data-validation-messages="" data-model-controller="bankDetails.corporateId" data-form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 vertical-margin">
                    <div class="col-sm-6 pull-right text-right">
                        <button type="submit" data-ng-if="!ctrl.edit" class="btn btn-submit btn-success" data-ng-click="addBankAccount();">Add Account</button>
                        <button type="submit" data-ng-if="ctrl.edit" class="btn btn-submit" data-ng-click="ctrl.updateBankAccount();">Update Account</button>
                        <a class="btn btn-cancel" data-ng-click="$dismiss();">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>