<!--<style type="text/css">
  .css-form.ng-invalid.ng-touched {
    border: 1px solid #FF0000;
  }
  
  .css-form.focusOn.ng-invalid {
    background: #FFFFFF;
  }
</style>-->
<div ba-panel ba-panel-class="x-medium" ba-panel-title="Add Employee">
  <form name="form" ng-submit="addCtrl.saveForm(addCtrl.empAdd)">
    <div class="row">

    <div class="col-sm-1">
        <div class="form-group">
          <label for="inputTitle">Title*</label>
          <select id="inputTitle" required
                  ng-model="addCtrl.empAdd.EmpTitleId"
                  class="form-control" ng-options="title.value as title.name for title in addCtrl.dropDownList[0]"
                  data-placeholder="Select Nav Menu" 
                  >
          <option></option>
       </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="inputFirstName">First Name*</label>
          <input text-Only type="text" class="form-control css-form" name="inputFirstName" maxlength="50" ng-model="addCtrl.empAdd.EmpFirstName"
            placeholder="First Name" required>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputMiddleName">Middle Name</label>
          <input text-Only type="text" class="form-control" id="inputMiddleName" maxlength="50" ng-model="addCtrl.empAdd.EmpMiddleName"
            placeholder="Middle Name">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input text-Only type="text" class="form-control" id="inputLastName" maxlength="50" ng-model="addCtrl.empAdd.EmpLastName"
            placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputGender">Gender*</label>
          <select id="inputGender" 
                  ng-model="addCtrl.empAdd.PdGenderId"
                  class="form-control" 
                  ng-options="gender.value as gender.name for gender in addCtrl.dropDownList[3]"
                  data-placeholder="Select Nav Menu"
                  required>
                  <option></option>
               </select>
             
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputDOB">Date Of Joining*</label>      
          <datepicker date-format="dd-MMMM-yyyy" selector="form-control">           
            <input ng-model="addCtrl.empAdd.JDDate" type="text" class="form-control" required/>         
          </datepicker>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputMobile">Mobile*</label>
          <input numeric-Only type="text" class="form-control" id="inputMobile" minlength="5" maxlength="15" ng-model="addCtrl.empAdd.PdMobileNo"
            placeholder="Mobile" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputDepartment">Department*</label>
          <select id="inputDepartment" 
                  ng-model="addCtrl.empAdd.JDDeptId" 
                  class="form-control" 
                  ng-options="department.value as department.name for department in addCtrl.dropDownList[1]"
                  data-placeholder="Select Nav Menu" 
                  required>
                  <option></option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputDesignation">Designation*</label>
          <select id="inputDesignation" 
                  ng-model="addCtrl.empAdd.JDDesgId"
                  class="form-control" 
                  ng-options="designation.value as designation.name for designation in addCtrl.dropDownList[2]"               
                  data-placeholder="Select Nav Menu" 
                  required>
                  <option></option>
               </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputEmployeeType">Employment Type*</label>
          <select id="inputEmployeeType" 
                  ng-model="addCtrl.empAdd.JDEmploymentId"
                  class="form-control"
                  ng-options="employeeType.value as employeeType.name for employeeType in addCtrl.dropDownList[4]"
                  data-placeholder="Select Nav Menu"
                  required>
                  <option></option>
               </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputGrade">Grade*</label>
          <select  id="inputGrade" 
                   ng-model="addCtrl.empAdd.JDEmpGradeId" 
                   class="form-control" 
                   ng-options="grade.value as grade.name for grade in addCtrl.dropDownList[5]"
                   required>
                   <option></option>
               </select>
            
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputLevel">Level*</label>
          <select id="inputLevel" 
                  ng-model="addCtrl.empAdd.JDEmpLevelId" 
                  class="form-control" 
                  ng-options="level.value as level.name for level in addCtrl.dropDownList[6]"
                  ng-change="vm.typeOnChange(vm.section.SecType,'Add')" 
                  required>
                  <option></option>
               </select>
              
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputEmployeeCode">Employee Code*</label>
          <input type="text" class="form-control text_type_bold" disabled="disabled" id="inputEmployeeCode" ng-model="addCtrl.EmpCode"
            placeholder="Employee Code">
        </div>
      </div>
    </div>
    <div class="row">
 
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputOtherCode">Other Code</label>
          <input type="text" class="form-control" id="inputOtherCode" ng-model="addCtrl.empAdd.PDOtherNumber" placeholder="Other Code">
        </div>
      </div>

    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" ng-click="addCtrl.empAdd=[]" class="btn btn-primary">Clear</button>
      <button type="button" ng-click="back('organization.employees.list')" class="btn btn-primary">Back</button>
    </div>
  </form>
</div>