<div class="panel panel-default bootstrap-panel xmedium-panel pnlScroll" ng-controller="userRegistration">
    <div class="panel-heading clearfix">
        <div class="row">
            <div class="col-md-12">
                User Register/Change Password
                <button class="btn btn-xs btn-default pull-right" ng-click="goToList()">List</button>
            </div>

        </div>

    </div>
    <div class="panel-body">
        <form ng-show="newRegister" ng-submit="register(entity)">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>UserName*</label>
                        <input type="textbox" class="form-control" ng-model="entity.UserName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Password*</label>
                        <input type="password" class="form-control" ng-model="entity.Password">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Confirm Password*</label>
                        <input type="password" class="form-control" ng-model="entity.ConfirmPassword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </div>
            </div>
        </form>
        <form ng-hide="newRegister" ng-submit="change(entity)">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>UserName*</label>
                        <input disabled="disabled" type="textbox" class="form-control" ng-model="entity.UserName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>New Password*</label>
                        <input type="password" class="form-control" ng-model="entity.NewPassword">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Confirm Password*</label>
                        <input type="password" class="form-control" ng-model="entity.ConfirmPassword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <button class="btn btn-primary">Change</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>