<div class="row">
    <div class="col-md-3" style="padding-right:0px; margin-right:0px;  ">
        <div class="panel panel-default bootstrap-panel xmedium-panel pnlScroll">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Search Master1" ng-model="menuFilter">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="menuFilter=''">
                                    <i class="ion-close"></i>
                                </button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body" style="padding:5px" ng-scrollbars ng-scrollbars-config="config">
                <ul class="list-unstyled side-menu">
                    <li ng-repeat="t in tabCtrl.tabs| filter: {name: menuFilter}" ui-sref-active="active" ui-sref="organization.employees.masters.list({name:t.name, pageId: t.id})">
                        <a href>{{t.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9" style="padding-left:0px; margin-left:0px;">
        <ui-view></ui-view>
    </div>
</div>