
    <h3 class="">Permanent Address</h3>
    <hr>
   
    <div class="row">
      <div class="col-md-12">
      <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">PermanentAddress</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" ng-model="empTabCtrl.empContactDetail.CDAddLine1">
          </div>
        </div>
        <div class="form-group row clearfix col-md-6">
          <label for="inputFirstName" class="col-lg-3 control-label">AlterNateAddress</label>

          <div class="col-lg-9">
            <input type="text" class="form-control" ng-model="empTabCtrl.empContactDetail.CDAddLine2">
          </div>
        </div>
     </div>
      <div class="col-md-12">             
        <div class="form-group row clearfix col-md-6">
          <label for="inputFirstName" class="col-lg-3 control-label">Country</label>

          <div class="col-lg-9">
             <select id="empContury_{{$index}}"
                      name="empContury_{{$index}}"
                      ng-model="empTabCtrl.empContactDetail.CountryName"
                      class="form-control"
                      ng-options="country.name as country.name for country in empTabCtrl.country"
                      ng-change="vm.typeOnChange(vm.section.SecType,'Add')"
                      data-placeholder="Select Nav Menu"
                      ng-required="true">
               </select>
          </div>
        </div>
         <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">State</label>

          <div class="col-sm-9">
             <select id="empstate_{{$index}}"
                      name="empstate_{{$index}}"
                      ng-model="empTabCtrl.empContactDetail.StateName"
                      class="form-control"
                      ng-options="state.name as state.name for state in empTabCtrl.state"
                      ng-change="vm.typeOnChange(vm.section.SecType,'Add')"
                      data-placeholder="Select Nav Menu"
                      ng-required="true">
               </select>
          </div>
        </div>
      </div>
       <div class="col-md-12">     
       
          <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">City</label>

          <div class="col-sm-9">
             <select id="empCity_{{$index}}"
                      name="empCity_{{$index}}"
                      ng-model="empTabCtrl.empContactDetail.CityName"
                      class="form-control"
                      ng-options="city.name as city.name for city in empTabCtrl.city"
                      ng-change="vm.typeOnChange(vm.section.SecType,'Add')"
                      data-placeholder="Select Nav Menu"
                      ng-required="true">
               </select>
          </div>
        </div>
          <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">Area</label>

          <div class="col-sm-9">
                     <select id="empArea_{{$index}}"
                      name="empArea_{{$index}}"
                      ng-model="empTabCtrl.empContactDetail.AreaName"
                      class="form-control"
                      ng-options="area.name as area.name for area in empTabCtrl.area"
                      ng-change="vm.typeOnChange(vm.section.SecType,'Add')"
                      data-placeholder="Select Nav Menu"
                      ng-required="true">
               </select>
          </div>
        </div>
      </div>
        <div class="col-md-12">
      
          <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">PinCode</label>

          <div class="col-sm-9">
            <input type="text" class="form-control"  ng-model="empTabCtrl.empContactDetail.CDPincode">
          </div>
        </div>       
      </div>
       <h3 class="">Contact Detail</h3>
       <hr>
      <div class="col-md-12">     
       
          <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">HomePhone</label>

          <div class="col-sm-9">
                <input type="text" class="form-control"  ng-model="empTabCtrl.empContactDetail.CDHomePhoneNo">
          </div>
        </div>
          <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">WorkPhone</label>

          <div class="col-sm-9">
            <input type="text" class="form-control"  ng-model="empTabCtrl.empContactDetail.CDWorkPhoneNo">
          </div>
        </div>
      </div>
    <button type="button" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Update Profile
    </button>
