<div class="modal-content">
    <div class="modal-header bg-primary">
        <h3 class="inline-block clear-vertical-margin" ng-if="!isEdit" dotranslate>Add Title</h3>
        <h3 class="inline-block clear-vertical-margin" ng-if="isEdit" dotranslate>Edit Title</h3>
    </div>

    <div class="modal-body content-container">
        <form name="titleDetail" id="titleDetail" novalidate>
            <div class="row">
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Title</label>
                            <input type="text" class="form-control" ng-model="entity.TitleName" name="TitleName" id="TitleName" required />
                            <span class="validation-msg" validation-messages="" model-controller="bankDetails.bank" required-error="Name is required"
                                form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Description</label>
                            <input type="text" class="form-control" ng-model="entity.TitleDesc" name="TitleDesc" id="TitleDesc" required />

                            <span class="validation-msg" validation-messages="" model-controller="bankDetails.bank" required-error="Name is required"
                                form-submit="bankDetails.$submitted"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 vertical-margin">
                    <div class="col-sm-6 pull-right text-right">
                        <button type="submit" ng-if="!isEdit" class="btn btn-success" ng-click="saveForm(titleDetail);" dotranslate>Add Title</button>
                        <button type="submit" ng-if="isEdit" class="btn btn-success" ng-click="saveForm(titleDetail);" dotranslate>Update Title</button>
                        <a class="btn btn-cancel" ng-click="$dismiss();">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>