<div class="modal-content">
    <div class="modal-header bg-primary">
        <h3 class="inline-block clear-vertical-margin" dotranslate>Apply Leave</h3>
    </div>
    <div class="modal-body content-container">
        <form name="leaveDetail" id="leaveDetail" novalidate>
            <div class="row">
                <div class="col-sm-8">
                    <div class="col-sm-12 clear-left-padding">
                        <div class="form-group">
                            <label dotranslate>Leave Date</label>
                            <input type="text" class="form-control" ng-model="entity.leaveFromDate" name="LocationName" id="LocationName" required />
                        </div>
                    </div>
                    <div class="col-sm-12 clear-left-padding">
                        <div class="form-group">
                            <label dotranslate>Leave Type</label>
                            <select class="form-control input-sm" ng-change="employeeSalary()" ng-model="entity.leaveTypes" ng-options="monthL.Id as monthL.Name for monthL in LeaveType"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 clear-left-padding">
                        <div class="form-group">
                            <label dotranslate>Comment</label>
                            <textarea type="text" class="form-control" ng-model="entity.LeadComment" name="LocationName" id="LocationName" required />
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed ">
                            <thead>
                                <tr>
                                    <td>
                                        <label dotranslate>Leave Type</label>
                                    </td>
                                    <td>
                                        <label dotranslate>Balance</label>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="leaves in showBalanceLeave">
                                    <td style="text-align: left">{{leaves.Name}}</td>
                                    <td>{{leaves.LeaveBalance}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 vertical-margin">
                        <div class="col-sm-6 pull-right text-right">
                            <button type="submit" class="btn btn-success" ng-click="addLeave();" dotranslate>Apply Leave</button>
                            <a class="btn btn-cancel" ng-click="$dismiss();">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>