<!-- <div class="panel">
    <div class="panel-heading" dotranslate>
        Holiday Configuration
    </div>
    <div class="panel-body">
            <p class="text-description" dotranslate>Here you can manage all the holiday lists for your employees.
            <grid-view ng-model="page" show-grid="true" allow-gallary="true" title-column="LocationName" tag-column="CityName" desc-column="StateName"></grid-view>
    </div>
</div>
 -->
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <p class="text-description" dotranslate>Here you can manage the Bank of the Employee. You can assign Bank to Employee later.
                </p>
            </div>
        </div>

        <br/>

        <grid-view ng-model="page" show-grid="true" allow-gallary="true" title-column="DesgName" tag-column="DesgDesc" desc-column="StatusId"></grid-view>

    </div>
</div>
</div>