<div class="modal-content">
    <div class="modal-header bg-primary">
        <h3 class="inline-block clear-vertical-margin" data-ng-if="!edit">Add Bank Branch Master</h3>
        <h3 class="inline-block clear-vertical-margin" data-ng-if="edit">Edit Bank Brach Master</h3>
    </div>

    <div class="modal-body content-container">
        <div class="row add-signatory-container">
            <form name="bankBranchDetail" id="bankBranchDetail" novalidate>
                <div class="col-sm-12 vertical-margin">
                    <fieldset>
                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                            <div class="col-sm-4 clear-left-padding">
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    <input type="text" class="form-control" data-ng-model="entity.BankName" name="BankName" id="BankName" required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-side-padding">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select id="inputDepartment" ng-model="entity.CountryId" ng-change="countryOnChange(entity.CountryId)" class="form-control"
                                        ng-options="loaction.value as loaction.name for loaction in selects.CountryId" data-placeholder="Select Nav Menu"
                                        required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-right-padding">
                                <div class="form-group">
                                    <label>State</label>
                                    <select id="inputDesignation" ng-model="entity.StateId" ng-change="stateOnChange(entity.StateId)" class="form-control" ng-options="branch.value as branch.name for branch in stateList"
                                        data-placeholder="Select Nav Menu" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                            <div class="col-sm-4 clear-left-padding">
                                <div class="form-group">
                                    <label>City</label>
                                    <select id="inputEmployeeType" ng-model="entity.CityId" class="form-control" ng-change="cityOnChange(entity.CityId)" ng-options="subUnit.value as subUnit.name for subUnit in cityList"
                                        data-placeholder="Select Nav Menu" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-side-padding">
                                <div class="form-group">
                                    <label>Area</label>
                                    <select id="inputEmployeeType" ng-model="entity.BranchAreaId" class="form-control" ng-options="subUnit.value as subUnit.name for subUnit in areaList"
                                        data-placeholder="Select Nav Menu" required>
                                        <option></option>
                                    </select>
                                    <!-- <select class="form-control" data- ng-model="entity.BranchAreaId" ng-options="location.value as location.name for location in selects.BranchAreaId"></select> -->
                                </div>
                            </div>
                            <div class="col-sm-4 clear-right-padding">
                                <div class="form-group">
                                    <label>Branch Name</label>
                                    <input type="text" class="form-control" data-ng-model="entity.BranchName" name="BranchName" id="BranchName" required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                            <div class="col-sm-4 clear-left-padding">
                                <div class="form-group">
                                    <label>Branch Address</label>
                                    <input type="text" class="form-control" data-ng-model="entity.BankBranchAddress" name="BankBranchAddress" id="BankBranchAddress"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-side-padding">
                                <div class="form-group">
                                    <label>Postal Zip-Code</label>
                                    <input type="text" class="form-control" data-ng-model="entity.BankPoatalZipCode" name="BankPostalZipCode" id="BankPostalZipCode"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-right-padding">
                                <div class="form-group">
                                    <label>IFSC Number</label>
                                    <input type="text" class="form-control" data-ng-model="entity.IFSCCode" name="IFSCCode" id="IFSCCode" required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">

                            <div class="col-sm-4 clear-left-padding">
                                <div class="form-group">
                                    <label>Contact Person Name</label>
                                    <input type="text" class="form-control" data-ng-model="entity.BankContactPerson" name="BankContactPerson" id="BankContactPerson"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-side-padding">
                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input type="text" class="form-control" data-ng-model="entity.BankContactNo" name="BankContactNumber" id="BankContactNumber"
                                        required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 clear-right-padding">
                                <div class="form-group">
                                    <label>Fax Number</label>
                                    <input type="text" class="form-control" data-ng-model="entity.BranchFaxNo" name="BranchFaxNumber" id="BranchFaxNumber" required
                                    />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                            <div class="col-sm-4 clear-left-padding">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" data-ng-model="entity.BranchEmail" name="BranchEmail" id="BranchEmail" required />
                                    <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                        data-form-submit="addSignatoryForm.$submitted"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="col-sm-12 vertical-margin">
                        <div class="col-sm-6 pull-right text-right">
                            <button type="submit" ng-if="!isEdit" class="btn btn-success" ng-click="saveForm(bankBranchDetail);" dotranslate>Add Bank-Branch</button>
                            <button type="submit" ng-if="isEdit" class="btn btn-success" ng-click="saveForm(bankBranchDetail);" dotranslate>Update Bank-Branch</button>
                            <a class="btn btn-cancel" ng-click="$dismiss();">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>