<div class="row" id="bottom">
    <div class="col-md-12">
        <div class="panel panel-medium">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <label dotranslate>Employee Leave Statement</label>
                    </div>
                    
                </div>
            </div>


            <div class="panel-body panel-medium">
                <!-- <grid-view ng-model="page"></grid-view> -->
                <div class="row">
                    <div class="col-md-12">
                        <grid-view ng-model="page" show-grid="true" allow-gallary="false" title-column="LocationName" tag-column="CityName" desc-column="StateName"></grid-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>