<div class="col-lg-12">
    <div class="panel">
        <div class="payroll-summary panel-body">
            <div class="clearfix content-container">
                <div class="payroll-nav-bar col-sm-12">
                    <!-- ngIf: !vm.financialYear.includes(payrollConfig.payrollSchedule.payCycle.kekaStartsFrom) -->
                    <div class="payroll-month-nav col-sm-12 clear-side-padding">
                        <!-- ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing active" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab pending" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Apr</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Pending</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab pending" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">May</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Pending</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab pending" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Jun</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Pending</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab pending" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Jul</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Pending</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab current" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Aug</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Current</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab upcoming" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Sep</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Up Coming</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab upcoming" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Oct</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Up Coming</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab upcoming" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Nov</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Up Coming</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab upcoming" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Dec</h3>
                                    <p class="year ng-binding">2018</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Up Coming</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab upcoming" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Jan</h3>
                                    <p class="year ng-binding">2019</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Up Coming</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope cell-spacing" 
                            data-ng-click="getCurrentCycleSummary(cycle)" data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab upcoming" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Feb</h3>
                                    <p class="year ng-binding">2019</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Up Coming</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                        <div class="month-tab-cell ng-scope"  data-ng-click="getCurrentCycleSummary(cycle)"
                            data-ng-class="{'active': vm.currentcycle.details.month == cycle.month,'cell-spacing': !$last}">
                            <div class="month-tab upcoming" data-ng-class="{'pending' : cycle.status == cycleStatus.Pending || cycle.status == cycleStatus.NoData, 'complete' : cycle.status == cycleStatus.Complete || cycle.status == cycleStatus.Imported, 'current' : cycle.status == cycleStatus.Current,
                                 'upcoming' : cycle.status == cycleStatus.UpComing }">
                                <div class="month-info">
                                    <h3 class="name clear-vertical-margin ng-binding">Mar</h3>
                                    <p class="year ng-binding">2019</p>
                                </div>
                                <div class="month-status">
                                    <span class="ng-binding">Up Coming</span>
                                </div>
                            </div>
                        </div>
                        <!-- end ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->
                    </div>
                    <i class="icon icon-arrow-right-2 pointer" data-ng-click="next()"></i>
                </div>
                <div class="row col-sm-12">
                    <div class="month-details col-sm-10">
                        <div class="col-sm-3 clear-side-padding dater">
                            <h3 class="clear-vertical-margin name ng-binding">April Payroll</h3>
                            <p class="clear-bottom date-range ng-binding">APR 1 - APR 30 2018</p>
                        </div>
                        <div class="col-sm-3 employees right-vr form-group clear-vertical-margin">
                            <label class="clear-vertical-margin">Total Employees</label>
                            <br>
                            <h1 class="clear-bottom item-count ng-binding">
                                27
                                <span class="badge v-align-middle success ng-binding">+1</span>
                                <span class="badge v-align-middle failure ng-binding">-0</span>
                            </h1>
                        </div>
                        <div class="col-sm-3 working-days right-vr form-group clear-vertical-margin">
                            <label class="clear-vertical-margin">Calendar Days</label>
                            <h1 class="clear-bottom item-count ng-binding">30</h1>
                        </div>
                        <!-- ngIf: !(vm.currentcycle.status == cycleStatus.NoData || vm.currentcycle.status == cycleStatus.Imported) -->
                        <div class="col-sm-3 processed-count form-group clear-vertical-margin ng-scope" data-ng-if="!(vm.currentcycle.status == cycleStatus.NoData || vm.currentcycle.status == cycleStatus.Imported)">
                            <label class="clear-vertical-margin">Payroll processed</label>
                            <h1 class="clear-bottom item-count ng-binding">27
                                <label class="ng-binding"> 27</label>
                            </h1>
                        </div>
                        <!-- end ngIf: !(vm.currentcycle.status == cycleStatus.NoData || vm.currentcycle.status == cycleStatus.Imported) -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>