<div class="panel panel-default bootstrap-panel xmedium-panel side-filters">
    <div class="panel-heading panHead">
        <div ng-hide="page.showAddRecord">
            <div class="row" ng-hide="showSearchFilter">
                <div class="col-md-9">Filter data by</div>
                <div class="col-md-3"><button type="button" class="btn btn-default btn-sm" ng-click="openSearchFilter()">
                        <i class="ion-search"></i> </button></div>
            </div>
            <div class="row" ng-show="showSearchFilter">
                <div class="col-md-12">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search Filter" ng-model="filterSearchText">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="showSearchFilter=false">
                            <i class="ion-close"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body" style="overflow: scroll" ng-hide="page.showAddRecord">

        <ul class="list-unstyled filters filter-panel">
            <li ng-repeat="filter in page.pageinfo.filters|filter: {displayName: filterSearchText}">
                <div class="row">
                    <div class="col-md-8">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" id="inlineCheckbox01" ng-model="filter.showFilter" ng-init="filter.showFilter=filter.required;filter.operator='='" ng-disabled="filter.required">
                            <span>{{filter.displayName}}</span>
                        </label>
                    </div>
                    <div class="col-md-4" ng-show="filter.showFilter && filter.isAllowChangeOperator">
                        <a ng-show="(filter.operator)" href class="pull-left" title="{{filter.selectedOpt.name}}" popover-animation="true" uib-popover-html="filter.selectedOpt.name"
                            popover-trigger="manual" popover-is-open="filter.showPop" popover-placement="{{($index==0)?'bottom': ($index==page.pageinfo.filters.length-1)?'top':'left'}}"
                            ng-mouseover="filter.showPop=true" ng-mouseleave="filter.showPop=false">[{{filter.operator}}]</a>
                        <select class="pull-right" style="width:20px" ng-options="opt.name for opt in getFilterOpt(filter)" ng-model="filter.selectedOpt"
                            ng-change="filter.operator=filter.selectedOpt.value">
                        </select>
                    </div>
                </div>
                <div class="filter-box" ng-show="filter.showFilter">
                    <div ng-switch on="filter.controlType" class="col-md-offset-1">
                        <div ng-switch-when="textbox">
                            <select ng-options="opt.value as opt.name for opt in filterOpt.textbox" ng-model="filter.operator">
                                    </select>
                            <input type="text" placeholder="Enter Value" ng-model="filter.value" ng-change="selectChange(filter)" />
                        </div>
                        <div ng-switch-when="select">
                            <div class="row" ng-show="filter.isMultiAllow">
                                <div class="col-md-offset-1">
                                    <label class="checkbox-inline custom-checkbox nowrap">
                                    <input type="checkbox" id="inlineCheckbox01"  
                                    ng-model="filter.isMultiple">
                                    <span>Multiple</span>
                                </label>
                                </div>
                            </div>
                            <select ng-options="opt.value as opt.name for opt in filter.titleMap" ng-model="filter.value" ng-change="selectChange(filter)">
                                    </select>
                        </div>
                        <div ng-switch-when="datepicker">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="radio-inline custom-radio nowrap">
                                        <input type="radio" name="{{filter.name}}" id="inlineRadio1" value="day" checked 
                                        ng-model="filter.datePicker.option1.minMode" 
                                        ng-click="dateModeChanged(filter)" >
                                        <span>Date</span>
                                    </label>
                                    <label class="radio-inline custom-radio nowrap">
                                        <input type="radio" name="{{filter.name}}" id="inlineRadio1" value="month" 
                                        ng-model="filter.datePicker.option1.minMode" 
                                        ng-click="dateModeChanged(filter)">
                                        <span>Monthly</span>
                                    </label>
                                    <label class="radio-inline custom-radio nowrap">
                                        <input type="radio" name="{{filter.name}}" id="inlineRadio1" value="year" 
                                        ng-model="filter.datePicker.option1.minMode" 
                                        ng-click="dateModeChanged(filter)">
                                        <span>Yearly</span>
                                    </label>
                                </div>
                            </div>
                            <div ng-show="filter.datePicker.option1.minMode">
                                <div class="row">
                                    <label ng-show="filter.operator=='/b'" for="inputPassword3" class="col-sm-2 control-label">From:</label>
                                    <div class="col-md-12" ng-class="{'col-md-10':(filter.operator=='/b'), 'col-md-12':(filter.operator!='/b')}">
                                        <input ng-click="filter.datePicker.opened1 = true" ng-readonly="true" type="text" uib-datepicker-popup="{{filter.datePicker.format}}"
                                            ng-model="filter.value" is-open="filter.datePicker.opened1" datepicker-options="filter.datePicker.option1"
                                            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                            datepicker-mode="{{filter.datePicker.option1.minMode}}" datepicker-append-to-body="true"
                                            ng-change="firstDateChange(filter)" />
                                    </div>
                                </div>
                                <!--show this box on between selection-->
                                <div class="row" ng-show="filter.operator=='/b'">
                                    <label for="inputPassword3" class="col-sm-2 control-label">To:</label>
                                    <div class="col-md-10">
                                        <input ng-click="filter.datePicker.opened2 = true" ng-readonly="true" type="text" uib-datepicker-popup="{{filter.datePicker.format}}"
                                            ng-model="filter.value2" is-open="filter.datePicker.opened2" datepicker-options="filter.datePicker.option2"
                                            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                            datepicker-mode="{{filter.datePicker.option2.minMode}}" datepicker-append-to-body="true"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="timepicker">
                            <div class="row">
                                <div class="row">
                                    <label ng-show="filter.operator=='/b'" for="inputPassword3" class="col-sm-2 control-label">From:</label>
                                    <div class="col-md-12" ng-class="{'col-md-10':(filter.operator=='/b'), 'col-md-12':(filter.operator!='/b')}">

                                        <div moment-picker="filter.value" format="hh:mm A">
                                            <i class="glyphicon glyphicon-time"></i>&nbsp; {{ filter.value || "Pick any time"
                                            }}
                                        </div>
                                    </div>
                                </div>
                                <!--show this box on between selection-->
                                <div class="row" ng-show="filter.operator=='/b'">
                                    <label for="inputPassword3" class="col-sm-2 control-label">To:</label>
                                    <div class="col-md-10">
                                        <div moment-picker="filter.value2" format="hh:mm A" min-date="filter.value">
                                            <i class="glyphicon glyphicon-time"></i>&nbsp; {{ filter.value2 || "Pick any
                                            time" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="nav" ng-show="page.boxOptions.showApplyFilter">
            <button type="button" class="btn btn-info" ng-click="applyBoxFilter()">Search</button>
            <a href ng-click="clearFilter()">Clear</a>
        </div>

    </div>
</div>