<grid-box ng-model="page" ng-hide="showEditForm">
</grid-box>
<form name="editForm " novalidate ng-submit="saveForm() " ng-show="showEditForm ">
    <div class="panel panel-default xmedium-panel ">
        <edit-panel-head page="page" page-title="page.pageinfo.title " reset-form="resetFormCommon(editForm) " clear-form="clearFormCommon(editForm) "
            close-form="closeForm(editForm) " show-close="true " show-save="true " show-clear="true " show-list="false
 " show-reset="true " condition="true "></edit-panel-head>

        <div class="panel-body " style="padding:5px " ng-scrollbars ng-scrollbars-config="config ">
            <div class="row">
                <div class="form-group col-md-4 ">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMName.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.SMName " ng-entity="entity " form="editForm "></field-box>
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMSSId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.SMSSId " ng-entity="entity " form="editForm "></field-box>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMFromTime.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.SMFromTime " fb-change="shiftDuration(entity)" ng-entity="entity "
                        form="editForm "></field-box>
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMToTime.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.SMToTime " fb-change="shiftDuration(entity)" ng-entity="entity " form="editForm "></field-box>
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputPassword3 ">Duration</label>
                    <input readonly class="form-control" type="text" ng-model="shiftDurations">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMLunchTime.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.SMLunchTime " fb-change="lunchDuration(entity)" ng-entity="entity "
                        form="editForm "></field-box>
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMLunchToTime.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.SMLunchToTime " fb-change="lunchDuration(entity)" ng-entity="entity "
                        form="editForm "></field-box>
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputPassword3 ">Duration</label>
                    <input readonly class="form-control" type="text" ng-model="lunchDurations">
                </div>

            </div>


            <h3 class="with-line ">Exemptions (Margin Timings)</h3>


            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-4 ">
                            <label for="inputPassword3 ">{{page.pageinfo.fields.SMLateMarginTime.text}}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <field-box page="page" ng-column="page.pageinfo.fields.SMLateMarginTime " ng-entity="entity " form="editForm "></field-box>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputPassword3 ">Minutes</label>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-4 ">
                            <label for="inputPassword3 ">{{page.pageinfo.fields.SMEarlyMarginInTime.text}}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <field-box page="page" ng-column="page.pageinfo.fields.SMEarlyMarginInTime " ng-entity="entity " form="editForm "></field-box>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputPassword3 ">Minutes</label>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-4 ">
                            <label for="inputPassword3 ">{{page.pageinfo.fields.SMExempMntFHalfDay.text}}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <field-box page="page" ng-column="page.pageinfo.fields.SMExempMntFHalfDay " ng-entity="entity " form="editForm "></field-box>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputPassword3 ">Minutes</label>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-8 ">
                            <label for="inputPassword3 ">{{page.pageinfo.fields.SMNumberOfTimeForLateAllow.text}}</label>
                        </div>
                        <div class="form-group col-md-3">
                            <field-box page="page" ng-column="page.pageinfo.fields.SMNumberOfTimeForLateAllow " ng-entity="entity " form="editForm "></field-box>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputPassword3 ">Times</label>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-8 ">
                            <label for="inputPassword3 ">{{page.pageinfo.fields.SMsetMaxWorkingTimeForHalfDay.text}}</label>
                        </div>
                        <div class="form-group col-md-3">
                            <field-box page="page" ng-column="page.pageinfo.fields.SMsetMaxWorkingTimeForHalfDay " ng-entity="entity " form="editForm "></field-box>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputPassword3 ">Times</label>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>

            <div class="checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox" ng-model="entity.SMAllowedNegitiveVerify">
                    <span style="font:bold">{{page.pageinfo.fields.SMAllowedNegitiveVerify.place}}</span>
                </label>
            </div>


            <h3 class="with-line ">Minimum Working Criteria </h3>
            <div class="checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox" ng-model="entity.SMMinimumDurationForHalfOrFullDay">
                    <span style="font:bold">{{page.pageinfo.fields.SMMinimumDurationForHalfOrFullDay.place}}</span>
                </label>
            </div>


            <div class="row" ng-if="entity.SMMinimumDurationForHalfOrFullDay">
                <div class="form-group col-md-5 col-md-offset-1">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMMinimumHourForHalfDay.text}}</label>
                    <!--<input class="form-control" type="text" ng-model="entity.SMMinimumHourForHalfDay">-->
                </div>
                <div class="form-group col-md-3">
                    <field-box page="page" ng-column="page.pageinfo.fields.SMMinimumHourForHalfDay " ng-entity="entity " form="editForm "></field-box>
                </div>
            </div>

            <div class="row" ng-if="entity.SMMinimumDurationForHalfOrFullDay">
                <div class="form-group col-md-5 col-md-offset-1">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMMinimumHourForFullDay.text}}</label>
                </div>
                <div class="form-group col-md-3">
                    <field-box page="page" ng-column="page.pageinfo.fields.SMMinimumHourForFullDay " ng-entity="entity " form="editForm "></field-box>
                </div>
            </div>



            <div class="checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox" ng-model="entity.SMShiftFlexibility">
                    <span style="font:bold">{{page.pageinfo.fields.SMShiftFlexibility.place}}</span>
                </label>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMMinWorkCrtFWeekOffCr.text}}</label>
                </div>
                <div class="form-group col-md-1">
                    <select class="form-control" ng-model="entity.SMMinWorkCrtFWeekOffCr" ng-options="y for (x, y) in minWorkForWeekOff"></select>
                    <!--<select class="form-control" ng-model="entity.SMMinWorkCrtFWeekOffCr" ng-options="y for (x, y) in [1,2,3,4]"></select>-->
                    <!--<field-box page="page" ng-column="page.pageinfo.fields.SMMinWorkCrtFWeekOffCr " ng-entity="entity " form="editForm "></field-box>-->
                </div>
            </div>

            <div class="checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox" ng-model="entity.SMIsAllowWOfBefAtten">
                    <span style="font:bold">{{page.pageinfo.fields.SMIsAllowWOfBefAtten.place}}</span>
                </label>
            </div>







            <!--<div class="text">
                <div class="custom-input-primary">
                    <span style="font:bold"></span>
                    <label for="inputPassword3 ">
                    <field-box page="page" ng-column="page.pageinfo.fields.SMMinWorkCrtFWeekOffCr " ng-entity="entity " form="editForm "></field-box>
                    </label>
                </div>
            </div>-->






            <h3 class="with-line ">Compensatory Off</h3>
            <div class="checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox" ng-show="numberOfLV" ng-model="entity.SMCOffAllowed" ng-click="entity.compOffCash=false;entity.cOffInDaySameMonth=false;entity.SMIsCompOffLeave=false;entity.compOffCash=false;">
                    <span style="font:bold">{{page.pageinfo.fields.SMCOffAllowed.place}}</span>
                </label>
            </div>


            <div class="row">
                <div ng-if="entity.SMCOffAllowed" class="form-group col-md-10 col-md-offset-1">
                    Compensatory off will be converted as &nbsp;
                    <label class="radio-inline custom-radio nowrap font-bold">
                        <input type="radio" name="compoffconversion" id="compoffconversion1" ng-model="entity.compOffCash" ng-change="cOffConverted(entity.compOffCash)"
                            value="1">

                        <!-- <input type="radio" name="compoffconversion" id="compoffconversion1" value="true" ng-click="entity.SMIsCompOffLeave = false" ng-model="entity.compOffCash"> -->

                        <span>{{page.pageinfo.fields.SMIsCompOffCash.place}}</span>
                    </label>
                    <label class="radio-inline custom-radio nowrap font-bold">
                        <input type="radio" name="compoffconversion" id="compoffconversion2" ng-model="entity.compOffCash" ng-change="cOffConverted(entity.compOffCash)"
                            value="2">

                        <!-- <input type="radio" name="compoffconversion" id="compoffconversion2" value="false" ng-click="entity.SMIsCompOffLeave = true;entity.SMCompOffLeaveValidAsInDays = false; entity.SMNumberOfLeaveForCompOffLeave = 0"  ng-model="entity.compOffCash"> -->
                        <span>{{page.pageinfo.fields.SMIsCompOffLeave.place}}</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div ng-show="entity.SMIsCompOffLeave && entity.SMCOffAllowed" class="form-group col-md-10 col-md-offset-1">
                    Validity of Leave against Compensatory off will be &nbsp;
                    <label class="radio-inline custom-radio nowrap font-bold">
                        <input type="radio" name="validitytype" id="validitytype1" ng-model="entity.cOffInDaySameMonth" ng-change="validityLeaveAgCOff(entity.cOffInDaySameMonth)"
                            value="1">

                        <!-- <input type="radio" name="validitytype" id="validitytype1" value="true" ng-click="entity.SMCompOffLeaveValidAsInDays = false; entity.SMNumberOfLeaveForCompOffLeave = 0"
                         ng-model="entity.cOffInDaySameMonth"> -->
                        <span>{{page.pageinfo.fields.SMCompOffLeaveValidAsEndOfSameMonth.place}}</span>
                    </label>
                    <label class="radio-inline custom-radio nowrap font-bold">
                        <input type="radio" name="validitytype" id="validitytype2" ng-model="entity.cOffInDaySameMonth" ng-change="validityLeaveAgCOff(entity.cOffInDaySameMonth)"
                            value="2">

                        <!-- <input type="radio" name="validitytype" id="validitytype2" value="false" ng-click="entity.SMCompOffLeaveValidAsInDays = true"  
                        ng-model="entity.cOffInDaySameMonth"> -->
                        <span>{{page.pageinfo.fields.SMCompOffLeaveValidAsInDays.place}}</span>
                    </label>
                </div>
            </div>

            <div class="row" ng-if="entity.SMCompOffLeaveValidAsInDays && entity.SMCOffAllowed && entity.SMIsCompOffLeave && entity.cOffInDaySameMonth">
                <div class="form-group col-md-5 col-md-offset-1 ">
                    <label class="bold-text" for="inputPassword3 ">{{page.pageinfo.fields.SMNumberOfLeaveForCompOffLeave.text}}</label>
                </div>
                <div class="form-group col-md-3">
                    <field-box page="page" ng-column="page.pageinfo.fields.SMNumberOfLeaveForCompOffLeave " ng-entity="entity " form="editForm "></field-box>
                </div>
            </div>

            <h3 class="with-line ">Over Time</h3>
            <div class="checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox" ng-model="entity.SMOverTimeAllowed" ng-click="entity.SMIsCalulatedAfterLeaveDuration=false;entity.SMIsOTCalculatedOnBasicSalary=false;entity.SHApplicableOverTimeAfterMinute=0;entity.SMIsAllowOverTimeMargin=false">
                    <span style="font:bold">{{page.pageinfo.fields.SMOverTimeAllowed.place}}</span>
                </label>
            </div>
            <!--<div class="form-group col-md-12">
                    <label><input type="checkbox" ng-model="entity.SMOverTimeAllowed" value="true"></label>
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SMOverTimeAllowed.place}}</label>
                </div>-->


            <div class="row" ng-if="entity.SMOverTimeAllowed">
                <div class="form-group col-md-10 col-md-offset-1">
                    Calculation of overtime after &nbsp;
                    <label class="radio-inline custom-radio nowrap font-bold">
                        <input type="radio" name="shiftTiming" id="calAfterLeaveDuration" ng-model="entity.allowOverTimeMargin" ng-change="calAfterLeaveAndOTMargin(entity.allowOverTimeMargin)"
                            value="1">

                        <!-- <input type="radio" name="forBasicOrGross" id="basicORGross1" value="true" ng-click="entity.SMIsAllowOverTimeMargin = false"
                            ng-model="entity.SMIsCalulatedAfterLeaveDuration"> -->
                        <span>{{page.pageinfo.fields.SMIsCalulatedAfterLeaveDuration.place}}</span>
                    </label>
                    <label class="radio-inline custom-radio nowrap font-bold">
                        <input type="radio" name="shiftTiming" id="calAfterLeaveDuration2" ng-model="entity.allowOverTimeMargin" ng-change="calAfterLeaveAndOTMargin(entity.allowOverTimeMargin)"
                            value="2">

                        <!-- <input type="radio" name="forBasicOrGross" id="basicORGross2" value="false" ng-click="entity.SMIsAllowOverTimeMargin=true"
                            ng-model="entity.SMIsCalulatedAfterLeaveDuration"> -->
                        <span>{{page.pageinfo.fields.SMIsAllowOverTimeMargin.place}}</span>
                    </label>

                </div>
            </div>


            <div class="row" ng-if="entity.SMIsAllowOverTimeMargin && entity.SMOverTimeAllowed">
                <div class="form-group col-md-5 col-md-offset-1">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SHApplicableOverTimeAfterMinute.text}}</label>
                </div>
                <div class="form-group col-md-3">
                    <!--<input class="form-control" ng-disabled="!entity.SMIsAllowOverTimeMargin" type="text" ng-model="entity.SHApplicableOverTimeAfterMinute">-->
                    <field-box page="page" ng-column="page.pageinfo.fields.SHApplicableOverTimeAfterMinute " ng-entity="entity " form="editForm "></field-box>
                </div>
                <div class="form-group col-md-1">
                    Minutes
                </div>
            </div>


            <div class="row" ng-if="entity.SMOverTimeAllowed">
                <div ng-if="entity.SMOverTimeAllowed" class="form-group col-md-10 col-md-offset-1">
                    Amount Calculation on the basis of &nbsp;
                    <label class="radio-inline custom-radio nowrap font-bold">
                        <input type="radio" name="forBasicOrGrossss" id="calculatedOnBasicOrGross1" ng-model="entity.basicOrGross" ng-change="calOnBasicOrGross(entity.basicOrGross)"
                            value="1">

                        <!-- <input type="radio" name="forBasicOrGrossss" id="calculatedOnBasicOrGross1" value="true" ng-click="entity.SMIsOTCalculatedOnGrossSalary = false"
                            ng-model="entity.SMIsOTCalculatedOnBasicSalary"> -->
                        <span>{{page.pageinfo.fields.SMIsOTCalculatedOnBasicSalary.place}}</span>
                    </label>
                    <label class="radio-inline custom-radio nowrap font-bold">
                        <input type="radio" name="forBasicOrGrossss" id="calculatedOnBasicOrGross2" ng-model="entity.basicOrGross" ng-change="calOnBasicOrGross(entity.basicOrGross)"
                            value="2">

                        <!-- <input type="radio" name="forBasicOrGrossss" id="calculatedOnBasicOrGross1" value="false" ng-click="entity.SMIsOTCalculatedOnGrossSalary = true"
                            ng-model="entity.SMIsOTCalculatedOnBasicSalary"> -->
                        <span>{{page.pageinfo.fields.SMIsOTCalculatedOnGrossSalary.place}}</span>
                    </label>
                </div>
            </div>

            <div class="row" ng-if="entity.SMOverTimeAllowed">
                <div class="form-group col-md-11 col-md-offset-1">
                    <label for="inputPassword3 ">What are the calculation rate for Overtime?</label>
                </div>
            </div>

            <div class="row" ng-if="entity.SMOverTimeAllowed">
                <div class="form-group col-md-4 col-md-offset-2">
                    <label style="font:bold" for="inputPassword3 ">{{page.pageinfo.fields.SHOTSingleRate.text}}</label>
                </div>
                <div class="form-group col-md-3">
                    <!--<input class="form-control" ng-disabled="!entity.SMIsAllowOverTimeMargin" type="text" ng-model="entity.SHApplicableOverTimeAfterMinute">-->
                    <field-box page="page" ng-column="page.pageinfo.fields.SHOTSingleRate " ng-entity="entity " form="editForm "></field-box>
                </div>
            </div>

            <div class="row" ng-if="entity.SMOverTimeAllowed">
                <div class="form-group col-md-4 col-md-offset-2">
                    <label for="inputPassword3 ">{{page.pageinfo.fields.SHOTDoubleRate.text}}</label>
                </div>
                <div class="form-group col-md-3">
                    <field-box page="page" ng-column="page.pageinfo.fields.SHOTDoubleRate " ng-entity="entity " form="editForm "></field-box>
                </div>
            </div>

            <!-- <h3 class="with-line ">Grouping (Shift Rule Apply On Group Of Employee)</h3>
            <div class="row">
                <div class="form-group col-md-4">
                    <ul style="list-style-type:none" ng-repeat="value in groupList">
                        <li>
                            <div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" ng-model="value.isSelected" required="true">
                                    <span ng-bind="value.GMCName"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->

        </div>

    </div>





</form>