<div>
    <div ng-hide="isErrorOccured">
        <div class="row">
            <div class="col-md-3" ng-show="page.showFilter" style="padding-right:0px; margin-right:0px;">
                <filter-box page="page"></filter-box>
            </div>
            <div ng-class="{'col-md-12':!page.showFilter, 'col-md-9':page.showFilter}" style="padding-left:0px; margin-left:0px;">

                <div class="panel panel-default bootstrap-panel xmedium-panel" ng-hide="page.showViewRecord || page.showAddRecord">
                    <div class="panel-heading clearfix" ng-show="(page.selectedRows.length<=0)">
                        <div class="row">
                            <div class="col-md-3">
                                {{page.pageinfo.title}}
                                <i ng-show="page.isLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="dropdown pull-left">
                                    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                        {{selectedQueryType | translate}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href ng-click="showDataFor('0')">{{'ShowDataOnlyMe'| translate}}</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href ng-click="showDataFor('1')">{{'ShowDataLevel1'| translate}}</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href ng-click="showDataFor('2')">{{'ShowDataLevel2'| translate}}</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href ng-click="showDataFor('3')">{{'ShowDataLevel3'| translate}}</a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href ng-click="showDataFor('100')">{{'ShowDataAllLevel'| translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pull-right" ng-show="page.boxOptions.customButtons.length==0">
                                    <button ng-show="(page.pageinfo.uibuttons.create.IsAllowed || (isAdmin && isManager))" type=" button " class="btn btn-xs btn-default "
                                        ng-click="page.print() ">
                                        <i class="fal fa-print" aria-hidden="true "></i>Print</button>
                                    <button ng-show="page.boxOptions.showBack" type="button" class="btn btn-xs btn-default" ng-click="page.goBack()">
                                        <i class="ion-backspace"></i>List</button>
                                    <button ng-show="page.boxOptions.showUpload && (page.pageinfo.uibuttons.upload.IsAllowed || (isAdmin && isManager))" type="button"
                                        class="btn btn-xs btn-default" ng-click="page.uploadRecord()">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>Upload</button>
                                    <button ng-show="page.boxOptions.showRefresh && (page.pageinfo.uibuttons.refresh.IsAllowed || (isAdmin && isManager))" type="button"
                                        class="btn btn-xs btn-default" ng-click="page.refreshData()">
                                        <i class="ion-refresh"></i>Refresh</button> &nbsp;
                                    <button ng-show="page.boxOptions.showAdd && (page.pageinfo.uibuttons.create.IsAllowed || (isAdmin && isManager))" type=" button "
                                        class="btn btn-xs btn-default " ng-click="page.addRecord(editForm) ">
                                        <i class="fa fa-plus-circle " aria-hidden="true "></i>Add</button>

                                    <button type="button" class="btn btn-xs btn-default " ng-click="page.openHelp()">
                                        <i class="fa fa-question-circle" aria-hidden="true "></i>
                                    </button>


                                    <select ng-show="page.boxOptions.showCustomView && (page.pageinfo.ucvlist.length>1)" title="Select Status" ng-model="selectedUcvItem"
                                        ng-options="opt.name for opt in page.pageinfo.ucvlist" ng-change="ucvOnChange(selectedUcvItem)">
                                    </select>
                                </div>
                                <div class="pull-right" ng-show="page.boxOptions.customButtons.length>0 || page.boxOptions.customButtonsWithDefault.length>0">
                                    <button ng-if="page.boxOptions.customButtons.length>0" ng-repeat="button in page.boxOptions.customButtons" type="button"
                                        class="btn btn-xs" ng-class="button.type" ng-click="button.onClick()">
                                        <i ng-class="button.icon"></i>{{button.text}}</button> &nbsp;
                                    <button ng-if="page.boxOptions.customButtonsWithDefault.length>0" ng-repeat="button in page.boxOptions.customButtonsWithDefault"
                                        type="button" class="btn btn-xs" ng-class="button.type" ng-click="button.onClick()">
                                        <i ng-class="button.icon"></i>{{button.text}}</button> &nbsp;
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-heading" ng-show="(page.selectedRows.length>0)">
                        <div class="row">
                            <div class="col-md-3">{{page.selectedRows.length}} Rows Selected [
                                <a href ng-click="page.clearSelected()">Clear</a>]</div>
                            <div class="col-md-9">
                                <div class="pull-right" ng-show="page.boxOptions.selectedRowButtons.length>0">
                                    <button type="button" ng-show="page.selectedRows.length==1 && page.pageinfo.buttons.edit.isvisible && page.boxOptions.selectedRowButtons.defaultButton"
                                        class="btn btn-xs btn-primary" ng-click="page.editRecord(page.selectedRows[0])">
                                        <i ng-class="button.icon"></i>Edit</button>
                                    <button type="button" ng-show="page.pageinfo.buttons.view.isvisible" class="btn btn-xs" ng-click="page.viewRecord(page.selectedRows[0])">
                                        <i ng-class="button.icon"></i>View</button>
                                    <button type="button" ng-show="page.pageinfo.buttons.update.isvisible" class="btn btn-xs" ng-click="page.updateRecord(page.selectedRows)">
                                        <i ng-class="button.icon"></i>Update</button>
                                    <button type="button" ng-show="page.pageinfo.buttons.delete.isvisible && page.boxOptions.selectedRowButtons.defaultButton"
                                        class="btn btn-xs btn-danger" ng-click="page.deleteRecord(page.selectedRows)">
                                        <i ng-class="button.icon"></i>Delete</button>
                                    <button ng-repeat="button in page.boxOptions.selectedRowButtons" type="button" class="btn btn-xs" ng-class="button.type"
                                        ng-click="button.onClick()">
                                        <i ng-class="button.icon"></i>{{button.text}}</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <button ng-show="page.boxOptions.showFilter" id="image" style="width:3px;   height:30px; position:absolute; top:200px;left:0px;"
                            ng-click="page.showFilter=!page.showFilter">
                            <i ng-class="{'ion-arrow-right-b':!page.showFilter, 'ion-arrow-left-b':page.showFilter}"></i>
                        </button>

                        <div id="CommonViewGrid" ui-grid="page.gridOptions" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning
                            ui-grid-edit ui-grid-expandable class="djGrid">
                            <div class="no-data" ng-if="page.gridOptions.data.length==0 && !page.dataIsLoading">{{page.boxOptions.noResultMessageText}}</div>
                            <div class="no-data font-black" ng-if="page.dataIsLoading">
                                <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Please wait data is loading....
                            </div>
                        </div>
                        <div id="CommonPrintGrid" ui-grid="page.gridOptions2" ng-style="{height:getGridHeight()}" style="visibility: hidden;" class="djGrid">
                        </div>
                        {{getGridHeight()}}
                    </div>
                </div>
                <div class="panel panel-default bootstrap-panel xmedium-panel pnlScroll" ng-show="page.showViewRecord">
                    <div class="panel-heading clearfix" ng-show="(page.selectedRows.length<=0)">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-xs btn-default" ng-click="page.closeViewRecord()">
                                    <i class="ion-back"></i>Back</button> {{page.pageinfo.tagline}}
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-scrollbars ng-scrollbars-config="config">
                        <div class="row">
                            <div ng-class="{'col-md-7':page.isVerticalView,'col-md-12':!page.isVerticalView}">
                                <ng-include src="page.viewFormUrl" onload="editFormLoaded=true"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
                <form ng-show="page.showAddRecord" ng-submit="saveForm(editForm)" name="editForm" novalidate>
                    <div class="panel panel-default bootstrap-panel xmedium-panel pnlScroll">
                        <!--<div class="panel-heading clearfix" style="padding-top:0px;">
                        <div class="row">
                            <div class="col-md-5" style="padding-top:15px">
                                <button type="button" class="btn btn-xs btn-default" ng-click="closeForm()"><i class="ion-back"></i>Back</button>                                {{page.pageinfo.tagline}}
                            </div>
                            <div class="col-md-7" style="padding-top:5px">
                                <div class="pull-right">
                                    <button type="submit" class="btn  btn-sm btn-primary">Save</button>
                                    <button type="button" class="btn  btn-sm btn-warning" ng-click="resetForm(editForm)">Reset</button>
                                    <button type="button" class="btn  btn-sm btn-danger" ng-click="closeForm(editForm)">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>-->

                        <edit-panel-head page="page" page-title="page.pageinfo.tagline" show-save="editForm.untouch" reset-form="resetForm(editForm)"
                            clear-form="clearForm(editForm)" condition="true" show-list="false" show-close="true" close-form="closeForm(editForm)"></edit-panel-head>

                        <div class="panel-body">
                            <div class="row">
                                <div ng-class="{'col-md-7':page.isVerticalForm,'col-md-12':!page.isVerticalForm}">
                                    <div class="form-group" ng-repeat="col in page.formrows">
                                        <label for="inputPassword3" class="col-sm-5 control-label">{{col.text}}</label>
                                        <div class="col-md-7" ng-switch="col.type">
                                            <field-box page="page" ng-column="col" ng-entity="entity" form="editForm" fb-change="col.onChangeEvent()"></field-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div ng-show="isErrorOccured">
        <div ba-panel ba-panel-title="Basic" ba-panel-class="with-scroll">
            <div>

                <div class="alert bg-danger">
                    <strong>Oh snap!</strong> Something went worng. Please reload the page or contact to Administrator.
                    <br/> {{errorText}}
                </div>
            </div>
        </div>

    </div>
</div>