<div>
    <h3 class="">Employee Resignaton Detail</h3>
<hr>
    
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row clearfix col-md-6">
          <label for="inputFirstName" class="col-sm-3 control-label">LeavingType</label>

          <div class="col-sm-9">
              <select id="empLeavingType_{{$index}}"
                      name="empLeavingType_{{$index}}"
                      ng-model="empTabCtrl.empPersonalDetail.RDLeavingType"
                      class="form-control"
                      ng-options="leavingType.value as leavingType.name for leavingType in empTabCtrl.leavingType"
                      ng-change="vm.typeOnChange(vm.section.SecType,'Add')"
                      data-placeholder="Select Nav Menu"
                      ng-required="true">
               </select>
          </div>
        </div>
        <div class="form-group row clearfix col-md-6">
          <label for="inputFirstName" class="col-lg-3 control-label">NoticePeriod</label>

          <div class="col-lg-9">
            <input type="text" class="form-control" id="inputFirstName"ng-model="empTabCtrl.empResignDetail.RDNotice">
          </div>
        </div>
     </div>
      <div class="col-md-12">
        
        <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">ResignatonDate</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" ng-model="empTabCtrl.empResignDetail.RDResignatonDate">
          </div>
        </div>
        <div class="form-group row clearfix col-md-6">
          <label for="inputFirstName" class="col-lg-3 control-label">RelievingDate</label>

          <div class="col-lg-9">
            <input type="text" class="form-control" id="inputFirstName" ng-model="empTabCtrl.empResignDetail.RDRelievingDate">
          </div>
        </div>
      </div>
       <div class="col-md-12">
        
        <div class="form-group row clearfix col-md-6">
          <label for="inputLastName" class="col-sm-3 control-label">Reason</label>

          <div class="col-sm-9">
           <textarea ng-model="empTabCtrl.empResignDetail.Reason"></textarea>
          </div>
        </div>
        
      </div>
    <button type="button" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Update Profile
    </button>

</div>
