<div class="row">
    <div class="col-md-6">

        <form class="form-horizontal" name="editForm" ng-submit="addCtrl.saveForm(editForm)">
            <div class="form-group">
                <label       class="col-sm-3 control-label">Title Name</label>
                <div class="col-sm-9"> 
                    <input name="TitleName" maxlength="50" ng-model="addCtrl.entity.TitleName" type="text" ng-required="true" class="form-control"      
                        placeholder="Enter Title Name">
                </div>
            </div>
            <div class="form-group">
                <label       class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <!--<input name="TitleDesc" ng-model="addCtrl.entity.TitleDesc" type="text" ng-required="true" class="form-control"      
                        placeholder="Enter Description">-->
                    <textarea type="text" maxlength="200" class="form-control" placeholder="Enter Description" ng-required="true" ng-model="addCtrl.entity.TitleDesc"
                        text-only-with-space/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button ng-disabled="!editForm.$valid" type="submit" class="btn btn-warning">Save</button>
                    <button type="button" class="btn btn-danger" ng-click="back('organization.masters.list')">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>