<div class="side-message-navigation" ng-class="{'expanded': tabCtrl.navigationCollapsed}">
  <div class="mail-messages-control side-message-navigation-item">
    <div class="toggle-navigation-container">
      <a href class="collapse-navigation-link ion-navicon" ng-click="tabCtrl.navigationCollapsed=!tabCtrl.navigationCollapsed"></a>
    </div>
    <button ng-click="back('leave.masters.list')" type="button" class="back-button btn btn-default btn-with-icon"><i
          class="ion-chevron-left"></i>Back
      </button>
    <span>{{addCtrl.page.pageinfo.tagline}}</span>
    <i ng-hide="addCtrl.tempLoaded" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
    <div class="line"></div>
    <ng-include src="addCtrl.templateUrlPath" onload="addCtrl.tempLoaded=true"></ng-include>
    <span ng-show="(addCtrl.templateUrlPath=='')">Template URL is empty</span>
  </div>
</div>