<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-4">
            <div class="pnl200 panel">
                <div class="panel-body">
                    <div class="icon-size col-sm-12 ">
                        <a class="col-sm-4 text-center anchor-sm" data-ui-sref="organization.employees.add">
                            <div>
                                <span>
                                    <i class="fa fa-user-plus"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-head">New Employee</span>
                            </div>
                        </a>
                        <a class="col-sm-4 text-center tile-icon clear-side-padding anchor-sm" data-ui-sref="directory.employeedirectory">
                            <div>
                                <span>
                                    <i class="fa fa-user-plus"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-head">Directory</span>
                            </div>
                        </a>
                        <a class="col-sm-4 text-center tile-icon clear-side-padding anchor-sm" data-ui-sref="directory.searchlist">
                            <div>
                                <span>
                                    <i class="fa fa-user-plus"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-head">Search</span>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="icon-size col-sm-12">
                        <a class="col-sm-4 text-center tile-icon clear-side-padding anchor-sm" data-ui-sref="employees.employeedirectory.organizationchart"
                            href="#/employees/employeedirectory/organizationchart">
                            <div>
                                <span>
                                    <i class="fa fa-sitemap"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-head">PROFILE APPROVALS</span>
                            </div>
                        </a>
                        <a class="col-sm-4 text-center tile-icon clear-side-padding anchor-sm" data-ui-sref="employees.employeedirectory" href="#/employees/employeedirectory">
                            <div>
                                <span>
                                    <i class="fa fa-sitemap"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-head">ORG TREE</span>
                            </div>
                        </a>
                        <a class="col-sm-4 text-center tile-icon clear-side-padding anchor-sm" data-ui-sref="employees.employeedirectory.organizationchart"
                            href="#/employees/employeedirectory/organizationchart">
                            <div>
                                <span>
                                    <i class="fa fa-user-plus"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-head">Org Chart</span>
                            </div>
                        </a>

                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="pnl200 panel">
                <div class="panel-heading">QUIK LINKS</div>
                <div class="panel-body">

                    <div class="col-sm-12 link-item clear-side-padding">
                        <div class="col-sm-6">
                            <a class="anchor-sm" data-ui-sref="organization.employees.add">
                                <span>
                                    <i class="fa fa-user-plus"></i>
                                </span>
                                New Employee
                            </a>
                        </div>
                        <!-- xhrFeatureAuthorize: -->
                        <!-- <div class="col-sm-6 ng-scope" data-xhr-feature-authorize="" data-feature="ENGAGE">
                            <a class="anchor-sm" data-ui-sref="^.engage.newpoll">
                                <span>
                                    <i class="fa fa-user-plus"></i>
                                </span>
                                New Poll
                            </a>
                        </div> -->
                        <!-- end ngIf: function(){return a()} -->
                    </div>
                    <div class="col-sm-12 link-item clear-side-padding">
                        <div class="col-sm-6">
                            <a class="anchor-sm" data-ui-sref="organization.employees.upload">
                                <span>
                                    <i class="fa fa-user-plus"></i>
                                </span>
                                Bulk Add Employees
                            </a>
                        </div>
                        <!-- xhrFeatureAuthorize: -->
                        <!-- <div class="col-sm-6 ng-scope" data-xhr-feature-authorize="" data-feature="ENGAGE">
                            <a class="anchor-sm" data-ui-sref="^.engage.newannouncement" href="#/employees/engage/reachout/dashboard/newannouncement">
                                <span>
                                    <i class="fa fa-bullhorn"></i>
                                </span>
                                New Announcement
                            </a>
                        </div> -->
                        <!-- end ngIf: function(){return a()} -->
                    </div>
                    <!-- <div class="col-sm-12 link-item">
                        <div class="col-sm-6 clear-side-padding">
                            <a class="anchor-sm" data-ng-click="inviteAll();">
                                <span>
                                    <i class="fas fa-external-link-alt"></i>
                                </span>
                                Invite Employee to Register
                            </a>
                        </div>

                        <div class="col-sm-6">
                            <a class="anchor-sm" data-ui-sref=".editemployeefields" href="#/employees/reports/customizeemployeefields">
                                <span>
                                    <i class="fa fa-user-plus"></i>
                                </span>
                                Customize Employee Fields
                            </a>
                        </div>

                    </div> -->
                    <!-- <div class="col-sm-12 link-item">
                        <div class="col-sm-6 clear-side-padding">
                            <a class="anchor-sm" data-ui-sref="importjobdetails" href="#/employees/importjobdetails">
                                <span>
                                    <i class="fa fa-external-link-alt"></i>
                                </span>
                                Import Employee Job Details
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 link-item">
                        <div class="col-sm-6 clear-side-padding">
                            <a class="anchor-sm" data-ui-sref="bulkeditemployees" href="#/bulkedit/employees">
                                <span>
                                    <i class="fa fa-external-link-alt"></i>
                                </span>
                                Bulk Edit
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a class="anchor-sm" data-ui-sref="importemployeemodules" href="#/employees/importemployeemodules">
                                <span>
                                    <i class="fa fa-external-link-alt"></i>
                                </span>
                                Import Employee Modules Status
                            </a>
                        </div>

                    </div> -->



                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel pnl300">
                <div class="panel-heading header">
                    NEW JOINEES
                    <a ng-if="newJoins.length>0" class="pull-right" data-ng-click="newListJoins()" href="">View All</a>
                </div>
                <div class="panel-body">
                    <table ng-if="newJoins.length>0" class="col-lg-12  table table-condensed">
                        <thead>
                            <tr>
                                <td style="text-align: left">
                                    <label>Sr. No.</label>
                                </td>
                                <td>
                                    <label>Name</label>
                                </td>
                                <td>
                                    <label>Joining Date</label>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="new in newJoins | limitTo : 7">
                                <td>{{$index+1}}</td>
                                <td>{{new.EmpName| cut:true:16:' ...'}} </td>
                                <td>{{new.JDDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel pnl300">
                <div class="panel-heading header">
                    BIRTHDAYS / ANNIVERSARIES
                    <a ng-if="birthAnnList.length>0" class="pull-right" data-ng-click="birthDay()" href="">View All</a>
                </div>
                <div class="panel-body">
                    <table ng-if="birthAnnList.length>0" class="col-lg-12  table table-condensed">
                        <thead>
                            <tr>
                                <td style="text-align: left">
                                    <label>Sr. No.</label>
                                </td>
                                <td>
                                    <label>Name</label>
                                </td>
                                <td>
                                    <label>Date Of Birth</label>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="birthAnn in birthAnnList | limitTo : 7">
                                <td>{{$index}}</td>
                                <td>{{birthAnn.EmpName| cut:true:16:' ...'}} </td>
                                </td>
                                <td>{{birthAnn.PdDateOfBirth}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel pnl300">
                <div class="panel-heading header">
                    LEAVING EMPLOYEES
                    <a ng-if="newJoins.length>0" class="pull-right" data-ng-click="hasLeft()" href="">View All</a>
                </div>
                <div class="panel-body">
                    <table class="col-lg-12  table table-condensed">
                        <thead>
                            <tr class="">
                                <td style="text-align: left">
                                    <label>Sr. No.</label>
                                </td>
                                <td>
                                    <label>Name</label>
                                </td>
                                <td>
                                    <label>Left Date</label>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="emp in leavingEmps | limitTo : 7">
                                <td> {{$index+1}}</td>
                                <!-- <td>{{emp.EmpName | limitTo : 10}}
                                    <span ng-if="emp.EmpName.length > 10">...</span>
                                </td> -->
                                <td>{{emp.EmpName | cut:true:16:' ...'}} </td>
                                <td>{{emp.RDRelievingDate}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    REPORTS: EMPLOYEE STATUS
                </div>
                <div class="panel-body">
                    <ul class="report-info-list">
                        <li>
                            <a data-ui-sref="employees.reports.all" href="#/employees/reports/all">All Employees</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.registered" href="#/employees/reports/registeredemployees">Registered Employees</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.invitations" href="#/employees/reports/invitations">Invited Employees</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.pendingregistrations" href="#/employees/reports/pendingregistrations">Pending Registrations</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.uninvited" href="#/employees/reports/uninvitedemployees">Uninvited Employees</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.neverloggedin" href="#/employees/reports/neverloggedin">Never Logged in</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.employeetype" href="#/employees/reports/employeetype">Employee Work Type</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.roles" href="#/employees/reports/roles">Employee Roles</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.incomplete" href="#/employees/reports/incomplete">Incomplete Profiles</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.inprobation" href="#/employees/reports/inprobation">Employees In Probation</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.completedprobation" href="#/employees/reports/completedprobation">Probation Completed Employees</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.innoticeperiod" href="#/employees/reports/innoticeperiod">Employees In Notice Period</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.relieved" href="#/employees/reports/relieved">Relieved Employees</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.withoutreportingmanager" href="#/employees/reports/withoutreportingmanager">Without Reporting Manager</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.loginhistory" href="#/employees/reports/loginhistory">Login History</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.loginfailures" href="#/employees/reports/loginfailures">Login Failures</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.employeesmasterdata" href="#/employees/reports/allemployeesmasterdata">Employee Master Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.leaveplandetails" href="#/employees/reports/leaveplandetails">Employee Leave Plan Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.shiftdetails" href="#/employees/reports/shiftdetails">Employee Shift Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.weekoffdetails" href="#/employees/reports/weekoffdetails">Employee Weekly-off Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.trackingpolicydetails" href="#/employees/reports/trackingpolicydetails">Employee Attendance Tracking Policy Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.jobdetails" href="#/employees/reports/jobdetails">Employee Job Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.customfielddetails" href="#/employees/reports/customfielddetails">Custom Field Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.importlogs" href="#/employees/reports/importlogs">Import Logs</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.reportingmanager" href="#/employees/reports/reportingmanager">Reporting Managers Report</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.attrition" href="#/employees/reports/attrition">Attrition Employees Report</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.documents" href="#/employees/reports/documents">Employee Documents Report</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.logindisabled" href="#/employees/reports/logindisabled">Login Disabled Employees Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    Reports: Employee Demography
                </div>
                <div class="panel-body">
                    <ul class="report-info-list">
                        <li>
                            <a data-ui-sref="employees.reports.familyinfo" href="#/employees/reports/familyinfo">Family Info</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.contactinfo" href="#/employees/reports/contactinfo">Contact Info</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.bloodgroupinfo" href="#/employees/reports/bloodgroupinfo">Blood Group Info</a>
                        </li>

                        <li>
                            <a data-ui-sref="employees.reports.education" href="#/employees/reports/education">Education Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.experience" href="#/employees/reports/experience">Past Experience Details</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.birthdayreport" href="#/employees/reports/birthdayreport">Birthday Report</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.workanniversaryreport" href="#/employees/reports/workanniversaryreport">Work Anniversary Report</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.marriageanniversaryreport" href="#/employees/reports/marriageanniversaryreport">Marriage Anniversary Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    Reports: Employee Aggregates
                </div>
                <div class="panel-body">
                    <ul class="report-info-list">
                        <li>
                            <a data-ui-sref="employees.reports.jobtitles" href="#/employees/reports/jobtitles">Job Titles</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.departments" href="#/employees/reports/departments">Departments</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.leaveplans" href="#/employees/reports/leaveplans">Leave Plans</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.orglocations" href="#/employees/reports/orglocations">Org Locations</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.weekoffs" href="#/employees/reports/weekoffs">Weekly-offs</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.trackingpolicies" href="#/employees/reports/trackingpolicies">Attendance Tracking Policies</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.shifts" href="#/employees/reports/shifts">Shifts</a>
                        </li>
                        <li>
                            <a data-ui-sref="employees.reports.expensepolicies" href="#/employees/reports/expensepolicies">Expense Policies</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>