<form class="form-horizontal" name="editForm" ng-submit="saveForm(editForm)">
    <div class="form-group" ng-repeat="col in page.formrows">
        <label for="inputPassword3" class="col-sm-3 control-label">{{col.text}}</label>
        <div class="col-md-9" ng-switch="col.type">
            <div class="input-group">
                <!--Textbox-->
                <input ng-switch-when="textbox" name="{{col.name}}" id="{{col.name}}" placeholder="{{col.place}}" maxlength="{{col.maxLength}}"
                    ng-model="entity[col.name]" type="text" class="form-control" ng-minlength="1" ng-maxlength="col.maxLength"
                    ng-required="col.required" ng-class="{'border-red': col.haserror}" />
                <!--email-->
                <div class="input-group" ng-switch-when="email">
                    <span class="input-group-addon">
                                                            <i class="glyph-icon icon-typicons-at"></i>
                                                        </span>
                    <input name="{{col.name}}" ng-model="entity[col.name]" type="email" class="form-control" ng-minlength="10" ng-maxlength="col.maxLength"
                        id="{{col.name}}" ng-required="col.required" placeholder="{{col.place}}" ng-class="{'border-red': col.haserror}"
                    />

                </div>

                <!--mobile-->
                <div class="input-group" ng-switch-when="mobile">
                    <span class="input-group-addon">
                        <i class="glyph-icon icon-linecons-mobile"></i>
                    </span>
                    <input name="{{col.name}}" ng-model="entity[col.name]" type="number" class="form-control" ng-minlength="col.maxLength" ng-maxlength="col.maxLength"
                        id="{{col.name}}" ng-required="col.required" placeholder="{{col.place}}" ng-class="{'border-red': col.haserror}"
                        ng-pattern="pattern.mobile" maxlength="{{col.maxLength}}" />
                </div>

                <!--Select-->
                <select name="{{col.name}}" id="{{col.name}}" ng-model="entity[col.name]" class="form-control" ng-options="opt.value as opt.name for opt in col.options"
                    ng-switch-when="select" placeholder="{{col.place}}" ng-required="col.required"></select>

                <!--UISelect-->
                <select id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" class="form-control" ng-options="opt.id as opt.name for opt in col.options"
                    ng-switch-when="uiselect" placeholder="{{col.place}}" ng-required="col.required"></select>

                <!--strapselect-->
                <select id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" class="form-control" ng-options="opt.value as opt.name for opt in col.options | filter:{ '{{col.propColName}}': entity[col.propColName] }"
                    ng-switch-when="strapselect" data-placeholder="{{col.place}}" ng-required="col.required"></select>

                <!--multi-select-->
                <select id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" type="date" class="form-control" ng-options="opt.value as opt.name for opt in col.options"
                    ng-switch-when="multi-select" multiple placeholder="{{col.place}}" ng-required="col.required"></select>
                <!--Checkbox-->
                <div ng-switch-when="checkbox">
                    <!--<label class="checkbox-inline custom-checkbox nowrap">-->
                    <input name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="checkbox" id="{{col.name}}" checked
                        class="custom-checkbox">
                    <!--</label>-->
                </div>
                <!--Linklabel-->
                <label id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-switch-when="linklabel">{{entity[col.name]}}</label>
                <!--sequence-->
                <label id="{{col.name}}" name="{{col.name}}" ng-switch-when="sequence">{{entity[col.name]}}</label>
                <!--YesNo-->
                <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" ng-switch-when="YesNo"
                    type="checkbox" data-on-color="primary" class="input-switch" checked data-size="medium" data-on-text="On"
                    data-off-text="Off">
                <!--Textarea-->
                <textarea id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="textarea" class="form-control"
                    ng-switch-when="textarea" placeholder="{{col.place}}"></textarea>
                <!--Password-->
                <div class="input-group" ng-switch-when="password">
                    <span class="input-group-addon bg-black">
                                                            <i class="glyph-icon icon-lock"></i>
                                                        </span>
                    <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="text" class="form-control"
                        placeholder="{{col.place}}">
                </div>


                <!--html-->
                <!--datetimepicker-->
                <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="text" datetimepicker
                    class="form-control" ng-switch-when="datetimepicker" placeholder="{{col.place}}" />
                <!--datepicker-->
                <datepicker ng-switch-when="datepicker">
                    <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" 
                    type="text" date-format="dd-MMM-yyyy" 
                    class="form-control"  placeholder="{{col.place}}" />
                </datepicker>
                
                <!--timepicker-->
                <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" ng-required="col.required" type="text" datetimepicker
                    class="form-control" ng-switch-when="timepicker" placeholder="{{col.place}}" />

                <!--list-->
                <div ng-switch-when="list" angucomplete-alt id="{{col.name}}" placeholder="{{col.place}}" pause="300" selected-object="entity[col.name]"
                    local-data="col.options" local-search="localObjSearch" title-field="name" minlength="1" input-class="form-control form-control-small"
                    match-class="highlight" name="{{col.name}}"></div>
                <!--currency-->
                <input name="{{col.name}}" ng-model="entity[col.name]" ng-switch-when="currency" id="{{col.name}}" class="form-control touchspin-currency-left"
                    type="text" value="0" name="touchspin-left-2" placeholder="{{col.place}}">
                <!--number-->
                <input id="{{col.name}}" name="{{col.name}}" ng-model="entity[col.name]" type="number" class="form-control" ng-switch-when="number"
                    placeholder="{{col.place}}" />

                <!--right icon-->
                <span class="input-group-addon" ng-if="col.type!='linklabel' && col.type !='sequence' && col.type != 'checkbox'">
                            <i class="glyph-icon "
                                ng-class="{'font-red icon-asterisk': !(editForm[col.name]['$viewValue']!='' && editForm[col.name]['$valid'] && editForm[col.name]['$dirty']) && col.required, 'font-green icon-iconic-ok': (editForm[col.name]['$viewValue']!='' && editForm[col.name]['$valid'] && editForm[col.name]['$dirty']), 'font-red icon-iconic-cancel': (editForm[col.name]['$viewValue']!='' && !editForm[col.name]['$valid'])}"></i>
                        </span>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button ng-disabled="!editForm.$valid" type="submit" class="btn btn-warning">Save</button>
            <button type="button" class="btn btn-danger" ng-click="modalInstance.dismiss('cancel')">Cancel</button>
        </div>
    </div>
</form>