<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js"></script>
<script src="bower_components/ng-knob/dist/ng-knob.min.js"></script>

<style>
    .joinGridCss {
        height: 310px;
    }
</style>

<div ng-controller="knobCtrl">
    <div ng-show="adminDashboard">
        <div class="row">
            <div class="col-md-2 ">
                <input class="form-control" type="button" class="form-control" value="Show Percentage" ng-click="ShowHide()" />
            </div>
        </div>
        <div class="row" id="Rowpersentage" ng-show="IsVisible">
            <div class="col-lg-3 ">
                <ui-knob value="totalActiveEmpValue" options="totalActiveEmp" title="Hello"></ui-knob>
            </div>
            <div class="col-lg-3 ">
                <ui-knob value="totalPresentValuePercentage" options="totalPresent"></ui-knob>
            </div>

            <div class="col-lg-3 ">
                <ui-knob value="totalLeaveTodayValuePercentage" options="totalLeaveToday"></ui-knob>
            </div>
            <div class="col-lg-3 ">
                <ui-knob value="totalAbsentValuePercentage" options="totalAbsent"></ui-knob>
            </div>


        </div>

        <div class="row" id="RowCount" ng-hide="IsVisible">
            <div class="col-lg-3 ">
                <ui-knob value="totalActiveEmpValue" options="totalActiveEmp" title="Hello"></ui-knob>
            </div>
            <div class="col-lg-3 ">
                <ui-knob value="totalPresentValueCount" options="totalPresentCount"></ui-knob>
            </div>



            <div class="col-lg-3 ">
                <ui-knob value="totalLeaveTodayValuePercentageCount" options="totalLeaveTodayCount"></ui-knob>
            </div>

            <div class="col-lg-3 ">
                <ui-knob value="totalAbsentValuePercentageCount" options="totalAbsentCount"></ui-knob>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Last Six Month employee join " ba-panel-class="medium-panel traffic-panel">
                Total Join Employee - {{TotalNewJoin}}

                <div ui-grid="joinGridOpt" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>
                <!-- <table id="mytable" class="table table-striped table-bordered table-hover table-sm table-responsive pad0A" cellspacing="0"
                width="100%">
                <thead>
                    <tr class="sortable">
                        <td class="col-md-1">Sno</td>
                        <td class="col-md-2">EmpID</td>
                        <td class="col-md-4">EmpName</td>
                        <td class="col-md-3">Joining Date</td>
                        <td class="col-md-3">DeptName</td>

                    </tr>
                </thead>
                <tbody ng-show="TotalNewJoinList.length>0">

                    <tr ng-repeat="row in TotalNewJoinList" class="editable-row">

                        <td>
                            {{$index+1}}
                        </td>
                        <td> {{ row.EmpId}}</td>
                        <td> {{ row.EmpName}}</td>
                        <td> {{ row.JDDate}}</td>
                        <td> {{ row.DeptName}}</td>
                    </tr>
                </tbody>
            </table> -->

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Last Six Month employee Left" ba-panel-class="medium-panel">
                Total Left Employee - {{TotalLeftlastsixmonth}}

                <div ui-grid="LeftGridOpt" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>
                <!-- <table id="mytable" class="table table-striped table-bordered table-hover table-sm table-responsive pad0A" cellspacing="0"
                width="100%">
                <thead>
                    <tr class="sortable">
                        <td class="col-md-1">Sno</td>
                        <td class="col-md-2">EmpID</td>
                        <td class="col-md-4">EmpName</td>
                        <td class="col-md-3">Left Date</td>
                        <td class="col-md-3">DeptName</td>

                    </tr>
                </thead>
                <tbody ng-show="TotalNewLeftList.length>0">
                    <tr ng-repeat="row in TotalNewLeftList" class="editable-row">
                        <td>
                            {{$index+1}}
                        </td>
                        <td> {{ row.EmpId}}</td>
                        <td> {{ row.EmpName}}</td>
                        <td> {{ row.JDHasLeftDate}}</td>
                        <td> {{ row.DeptName}}</td>
                    </tr>
                </tbody>
            </table> -->
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Today On  Leave employee List" ba-panel-class="medium-panel traffic-panel">

                <div ui-grid="LeaveTodayGridOpt" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>
                <!-- <table id="mytable" class="table table-striped table-bordered table-hover table-sm table-responsive pad0A" cellspacing="0"
                width="100%">
                <thead>
                    <tr class="sortable">
                        <td class="col-md-1">S.No</td>
                        <td class="col-md-2">Emp ID</td>
                        <td class="col-md-4">Emp Name</td>
                        <td class="col-md-3">DeptName</td>

                    </tr>
                </thead>
                <tbody ng-show="TotalNewLeftList.length>0">
                    <tr ng-repeat="row in TodayonLeaveEmployee" class="editable-row">
                        <td>
                            {{$index+1}}
                        </td>
                        <td> {{ row.EmpId}}</td>
                        <td> {{ row.EmpName}}</td>
                        <td> {{ row.DeptName}}</td>
                    </tr>
                </tbody>
            </table> -->

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Next Week On Leave employees List" ba-panel-class="medium-panel">

                <div ui-grid="LeaveNextWeekGridOpt" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>
                <!-- <table id="mytable" class="table table-striped table-bordered table-hover table-sm table-responsive pad0A" cellspacing="0"
                width="100%">
                <thead>
                    <tr class="sortable">
                        <td class="col-md-1">Sno</td>
                        <td class="col-md-2">EmpID</td>
                        <td class="col-md-4">EmpName</td>
                        <td class="col-md-3">Leave Date</td>
                        <td class="col-md-3">DeptName</td>

                    </tr>
                </thead>
                <tbody ng-show="TotalNewLeftList.length>0">
                    <tr ng-repeat="row in Next7daysonLeaveEmployee" class="editable-row">
                        <td>
                            {{$index+1}}
                        </td>
                        <td> {{ row.EmpId}}</td>
                        <td> {{ row.EmpName}}</td>
                        <td> {{ row.ELSDSanctionFromDate}}</td>
                        <td> {{ row.DeptName}}</td>
                    </tr>
                </tbody>
            </table> -->


            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Today Employee Birthday List" ba-panel-class="medium-panel traffic-panel">
                <div ui-grid="BirthdayTodayGridOpt" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>
                <!-- <table id="mytable" class="table table-striped table-bordered table-hover table-sm table-responsive pad0A" cellspacing="0"
                width="100%">
                <thead>
                    <tr class="sortable">
                        <td class="col-md-1">Sno</td>
                        <td class="col-md-2">EmpID</td>
                        <td class="col-md-4">EmpName</td>
                        <td class="col-md-3">DateOfBirth</td>
                        <td class="col-md-3">DeptName</td>

                    </tr>
                </thead>
                <tbody ng-show="TotalNewLeftList.length>0">
                    <tr ng-repeat="row in TodayBirthday" class="editable-row">
                        <td>
                            {{$index+1}}
                        </td>
                        <td> {{ row.EmpId}}</td>
                        <td> {{ row.EmpName}}</td>
                        <td> {{ row.DateOfBirth}}</td>
                        <td> {{ row.DeptName}}</td>
                    </tr>
                </tbody>
            </table> -->

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Next Week Employee Birthday List" ba-panel-class="medium-panel">
                <div ui-grid="BirthdayNextWeekGridOpt" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>

                <!-- <table id="mytable" class="table table-striped table-bordered table-hover table-sm table-responsive pad0A" cellspacing="0"
                width="100%">
                <thead>
                    <tr class="sortable">
                        <td class="col-md-1">Sno</td>
                        <td class="col-md-2">EmpID</td>
                        <td class="col-md-4">EmpName</td>
                        <td class="col-md-3">DateOfBirth</td>
                        <td class="col-md-3">DeptName</td>
                    </tr>
                </thead>
                <tbody ng-show="TotalNewLeftList.length>0">
                    <tr ng-repeat="row in Next7daysonBirthdayEmployee" class="editable-row">
                        <td>
                            {{$index+1}}
                        </td>
                        <td> {{ row.EmpId}}</td>
                        <td> {{ row.EmpName}}</td>
                        <td> {{ row.DateOfBirth}}</td>
                        <td> {{ row.DeptName}}</td>
                    </tr>
                </tbody>
            </table> -->


            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Next Week Holiday List" ba-panel-class="medium-panel traffic-panel">
                <div ui-grid="HolidayNextWeekGridOpt" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>
                <!-- <table id="mytable" class="table table-striped table-bordered table-hover table-sm table-responsive pad0A" cellspacing="0"
                width="100%">
                <thead>
                    <tr class="sortable">
                        <td class="col-md-1">Sno</td>
                        <td class="col-md-2">Holiday Name</td>
                        <td class="col-md-4">From Date</td>
                        <td class="col-md-3">To Date</td>


                    </tr>
                </thead>
                <tbody ng-show="TotalNewLeftList.length>0">
                    <tr ng-repeat="row in Next7Hodidays" class="editable-row">
                        <td>
                            {{$index+1}}
                        </td>
                        <td> {{ row.HDName}}</td>
                        <td> {{ row.HDFromDate}}</td>
                        <td> {{ row.HDToDate}}</td>

                    </tr>
                </tbody>
            </table> -->

            </div>

            <div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="medium-panel">



            </div>
        </div>
    </div>
    <div ng-hide="adminDahboard">

        <div class="row">
            <div class="col-md-6" ba-panel ba-panel-title="Leave List" ba-panel-class="feed-comply-panel with-scroll todo-panel">
                <div class="pull-right">
                    <select class="form-control" ng-model="filterId" ng-change="onChange(filterId)" ng-options="list.id as list.name for list in filterBy"></select>
                </div>
                <br><br><br>
                <div ui-grid="leaveOption" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Leave List" ba-panel-class="medium-panel traffic-panel">
                <div class="pull-right">
                    <select class="form-control" ng-model="filterId" ng-change="onChange(filterId)" ng-options="list.id as list.name for list in filterBy"></select>
                </div>
                <br><br><br>
                <div ui-grid="leaveOption" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>

            </div> -->
            <div class="col-lg-6" ba-panel ba-panel-title="Holiday List" ba-panel-class="medium-panel">
                <div ui-grid="holidayOption" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" ba-panel ba-panel-title="UpComing Birthday" ba-panel-class="medium-panel">
                <div ui-grid="birthdayOption" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
                </div>

            </div>
        </div>
    </div>


</div>




<!-- <dashboard-pie-chart></dashboard-pie-chart>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Acquisition Channels"
       ba-panel-class="medium-panel traffic-panel">
    <traffic-chart></traffic-chart>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Users by Country"
       ba-panel-class="medium-panel">
    <dashboard-map></dashboard-map>
  </div>
</div>

<div class="row">
  <div class="col-xlg-9 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xlg-8 col-lg-12 col-md-12 col-sm-7 col-xs-12"
           ba-panel
           ba-panel-title="Revenue"
           ba-panel-class="medium-panel">
        <dashboard-line-chart></dashboard-line-chart>
      </div>
      <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12"
           ba-panel
           ba-panel-class="popular-app medium-panel">
        <popular-app></popular-app>
      </div>
    </div>
  </div>
  <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
       ba-panel
       ba-panel-title="Feed"
       ba-panel-class="large-panel with-scroll feed-panel">
    <blur-feed></blur-feed>
  </div>
</div>

<div class="row shift-up">
  <div class="col-xlg-3 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="To Do List"
       ba-panel-class="xmedium-panel feed-comply-panel with-scroll todo-panel">
    <dashboard-todo></dashboard-todo>
  </div>
  <div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="Calendar"
       ba-panel-class="xmedium-panel feed-comply-panel with-scroll calendar-panel">
    <dashboard-calendar></dashboard-calendar>
  </div>
</div>

<!--<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div ba-panel ba-panel-title="Weather" ba-panel-class="medium-panel with-scroll">
      <blur-weather forecast="5"></blur-weather>
    </div>
  </div>
</div>-->