<div class="col-lg-12">
    <div class="panel">
        <div class="payroll-summary panel-body">
            <div class="clearfix content-container">
                <div class="col-lg-3">
                    <label>Sub Unit</label>
                    <select ng-model="entity.subUnitId" ng-change="subUnitOnChange(entity.subUnitId)" class="form-control" ng-options="subUnit.value as subUnit.name for subUnit in subUnits"></select>
                </div>
                <div class="payroll-nav-bar col-sm-12">
                    <!-- ngIf: !vm.financialYear.includes(payrollConfig.payrollSchedule.payCycle.kekaStartsFrom) -->

                    <div class="payroll-month-nav col-sm-12 clear-side-padding">
                        <!-- ngRepeat: cycle in vm.cycles | orderBy:'lastDay'  -->

                        <div data-ng-repeat="pay in financialMonths">
                            <div class="month-tab-cell  cell-spacing " data-ng-click="getData(pay.id,pay.year)" data-ng-class="{'active': pay.active}">
                                <div class="month-tab" data-ng-class="pay.statusClass">
                                    <div class="month-info">
                                        <h3 class="name clear-vertical-margin">{{pay.month}}</h3>
                                        <p class="year ">{{pay.year}}</p>
                                    </div>
                                    <div class="month-status">
                                        <span class="">{{pay.type}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="icon icon-arrow-right-2 pointer" data-ng-click="next()"></i>
                </div>
                <div class="row col-sm-12">
                    <div class="month-details col-sm-10">
                        <div class="col-sm-3 clear-side-padding dater">
                            <h3 class="clear-vertical-margin name ">{{monthStartName}} Payroll</h3>
                            <p class="clear-bottom date-range ">{{monthStartName}} {{firstDayNumber}} - {{monthEndName}} {{lastDayNumber}} {{year}}</p>
                        </div>
                        <div class="col-sm-3 employees right-vr form-group clear-vertical-margin">
                            <label class="clear-vertical-margin">Total Employees</label>
                            <br>
                            <h1 class="clear-bottom item-count ">
                                {{totalEmployee}}
                                <span class="badge v-align-middle success ">+{{newEmployee}}</span>
                                <span class="badge v-align-middle failure ">-{{exitEmployee}}</span>
                            </h1>
                        </div>
                        <div class="col-sm-3 working-days right-vr form-group clear-vertical-margin">
                            <label class="clear-vertical-margin">Calendar Days</label>
                            <h1 class="clear-bottom item-count ">{{calenderDays}}</h1>
                        </div>
                        <!-- ngIf: !(vm.currentcycle.status == cycleStatus.NoData || vm.currentcycle.status == cycleStatus.Imported) -->
                        <div class="col-sm-3 processed-count form-group clear-vertical-margin ">
                            <label class="clear-vertical-margin">Payroll processed</label>
                            <h1 class="clear-bottom item-count ">{{totalEmployee}}
                                <label class=""> {{totalEmployee}}</label>
                            </h1>
                        </div>
                        <!-- end ngIf: !(vm.currentcycle.status == cycleStatus.NoData || vm.currentcycle.status == cycleStatus.Imported) -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="panel">
        <div class="panel-body payroll-summary">
            <div class="monthly-summary content-container col-sm-12 ">
                <div class="month-financials col-sm-12 col-md-11 clear-side-padding">
                    <div class="col-sm-2 clear-side-padding">
                        <h3 class="clear-bottom clear-top">Financials</h3>
                        <div class="vertical-margin">
                            <a data-ng-click="refreshFinancials()">
                                <i class="fa fa-sync"></i>
                                Refresh
                            </a>
                        </div>
                    </div>
                    <div class="metrics-container col-sm-2 clear-side-padding total form-group clear-vertical-margin">
                        <label class="clear-vertical-margin">Total Payroll Cost</label>
                        <h2 class="clear-vertical-margin amount ng-binding">₹&nbsp;{{payrollCost | number}}</h2>

                    </div>
                    <div class="metrics-container col-sm-2 clear-side-padding sum form-group clear-vertical-margin">
                        <label class="clear-vertical-margin">Employee Deposit</label>
                        <h2 class="clear-vertical-margin amount ng-binding">₹&nbsp;{{payrollCost | number}}</h2>

                    </div>
                    <div class="metrics-container col-sm-2 clear-side-padding sum form-group clear-vertical-margin" data-popover="Income Tax: 127305, Professional Tax: 5050, Other Deductions: 6500"
                        data-popover-trigger="mouseenter">
                        <label class="clear-vertical-margin">Total Deductions</label>
                        <h2 class="clear-vertical-margin amount ng-binding">₹&nbsp;0</h2>

                    </div>
                    <div class="metrics-container col-sm-2 clear-side-padding form-group clear-vertical-margin" data-popover="Total PF: 82207, Total ESI: 4142,Total Other Contributions: 0"
                        data-popover-trigger="mouseenter">
                        <label class="clear-vertical-margin ">Total Contributions</label>
                        <h2 class="clear-vertical-margin amount ng-binding">₹&nbsp;0</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12">
    <div class="panel">
        <div class="header panel-heading col-lg-12">
            <h3>1. Run PayRoll Action</h3>
            <div style="margin-top: -38px;" class="">
                <span data-ng-click="collpase = !collpase">
                    <i ng-class="{'fa fa-angle-down':!collpase, 'fa fa-angle-up' : collpase}" class="pull-right collpase-icon fa fa-angle-up"></i>
                </span>
                <form name="form" ng-submit="">
                    <button ng-disabled="isDisabled" ng-click="skipAll(form)" style="margin-right: 20px;" class="pull-right btn-primary" ng-if="!collpase">Skip All</button>
                </form>
            </div>

        </div>
        <div class="panel-body payroll-summary">

            <div data-ng-if="!collpase" class="">
                <div class="pre-payroll-actions">
                    <div class="row">
                        <div class="col-sm-4" style="top:-10px">
                            <div class="alert alert-info clearfix" data-ng-click="CheckLeaveAndAttendanceStatus()">
                                <div class="col-sm-1 alert-icon clear-side-padding">
                                    <!-- <span class="fa fa-angle-down"></span> -->
                                    <span>
                                        <img src="assets/payroll-image/Holiday.png" alt="">
                                    </span>
                                </div>
                                <div data-ng-click="CheckLeaveAndAttendanceStatus()" class="action col-sm-10 text-content clear-side-padding">
                                    <h4>Leave</h4>
                                    <!-- ngIf: !vm.currentcycle.details.actions.leavesAndAttendance.isReviewed() -->
                                    <p ng-if="!isReviewed" class="clear-vertical-margin ">No action taken</p>
                                    <p ng-if="isReviewed" class="clear-vertical-margin ">{{reviewedBy}} On {{actionTaken}}</p>
                                </div>
                                <div ng-if="isReviewed" class="icon">
                                    <span class="fa fa-check"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4 " style="top:-10px">
                            <div class="alert alert-info clearfix" ui-sref="team.attendance" data-ng-click="openNewJoinees();">
                                <div class="col-sm-1 alert-icon clear-side-padding">
                                    <!-- <span class="icon-user3"></span> -->
                                    <span>
                                        <img src="assets/payroll-image/attendance.png" alt="">
                                    </span>
                                </div>
                                <div ui-sref="team.attendance" class="action col-sm-10 text-content clear-side-padding">
                                    <h4>Attendance</h4>
                                    <!-- ngIf: !vm.currentcycle.details.actions.newJoineesAndExits.isReviewed() -->
                                    <p ng-if="!isReviewed" class="clear-vertical-margin ">No action taken</p>
                                    <p ng-if="isReviewed" class="clear-vertical-margin ">{{reviewedBy}} On {{actionTaken}}</p>
                                </div>
                                <div ng-if="isReviewed" class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="top:-10px">
                            <div class="alert alert-info clearfix" data-ng-click="openSalaryChanges();">
                                <div class="col-sm-1 alert-icon clear-side-padding">
                                    <!-- <span class="icon-medal2"></span> -->
                                    <span>
                                        <img src="assets/payroll-image/NewEmp.png" alt="">
                                    </span>
                                </div>
                                <div class="action col-sm-10 text-content clear-side-padding">
                                    <h4>New Employees</h4>
                                    <!-- ngIf: !vm.currentcycle.details.actions.bonusAndSalaryRevisions.isReviewed() -->
                                    <p ng-if="!isReviewed" class="clear-vertical-margin ">No action taken</p>
                                    <p ng-if="isReviewed" class="clear-vertical-margin ">{{reviewedBy}} On {{actionTaken}}</p>
                                </div>
                                <div ng-if="isReviewed" class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="top:-30px">
                            <div class="alert alert-info clearfix" data-ng-click="openOnetimePayments()">
                                <div class="col-sm-1 alert-icon clear-side-padding">
                                    <!-- <span class="icon-stack2"></span> -->
                                    <span>
                                        <img src="assets/payroll-image/ExitEmp.png" alt="">
                                    </span>
                                </div>
                                <div class="action col-sm-10 text-content clear-side-padding">
                                    <h4>Exist Employees</h4>
                                    <!-- ngIf: !vm.currentcycle.details.actions.oneTimePaymentsAndDeductions.isReviewed() -->
                                    <p ng-if="!isReviewed" class="clear-vertical-margin ">No action taken</p>
                                    <p ng-if="isReviewed" class="clear-vertical-margin ">{{reviewedBy}} On {{actionTaken}}</p>
                                </div>
                                <div ng-if="isReviewed" class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="top:-30px">
                            <div class="alert alert-info clearfix" data-ng-click="openOnetimePayments()">
                                <div class="col-sm-1 alert-icon clear-side-padding">
                                    <!-- <span class="icon-stack2"></span> -->
                                    <span>
                                        <img src="assets/payroll-image/SalaryOnhold.png" alt="">
                                    </span>
                                </div>
                                <div class="action col-sm-10 text-content clear-side-padding">
                                    <h4>Salaries On Hold</h4>

                                    <!-- ngIf: !vm.currentcycle.details.actions.oneTimePaymentsAndDeductions.isReviewed() -->
                                    <p ng-if="!isReviewed" class="clear-vertical-margin ">No action taken</p>
                                    <p ng-if="isReviewed" class="clear-vertical-margin ">{{reviewedBy}} On {{actionTaken}}</p>
                                </div>
                                <div ng-if="isReviewed" class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="top:-30px">
                            <div class="alert alert-info clearfix" data-ng-click="openReviewAllEmployees();">
                                <div class="col-sm-1 alert-icon clear-side-padding">
                                    <!-- <span class="icon-users"></span> -->
                                    <span>
                                        <img src="assets/payroll-image/review.png" alt="">
                                    </span>
                                </div>
                                <div class="action col-sm-10 text-content clear-side-padding">
                                    <h4>Review All Employees</h4>
                                    <!-- ngIf: !vm.currentcycle.details.actions.reviewAllEmployees.isReviewed() -->
                                    <p ng-if="!isVerifyEmpReviewed" class="clear-vertical-margin ">No action taken</p>
                                    <p ng-if="isVerifyEmpReviewed" class="clear-vertical-margin ">{{reviewedBy}} On {{actionTaken}}</p>
                                </div>
                                <div ng-if="isVerifyEmpReviewed" class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="top:-48px">
                            <div class="alert alert-info clearfix" data-ng-click="openSalaryApprovalModal();">
                                <div class="col-sm-1 alert-icon clear-side-padding">
                                    <!-- <span class="icon-users"></span> -->
                                    <span>
                                        <img src="assets/payroll-image/salary.png" alt="">
                                    </span>
                                </div>
                                <div class="action col-sm-10 text-content clear-side-padding">
                                    <h4>Salary Approvals</h4>
                                    <!-- ngIf: !vm.currentcycle.details.actions.reviewAllEmployees.isReviewed() -->
                                    <p class="clear-vertical-margin ">No action taken</p>
                                    <!-- end ngIf: !vm.currentcycle.details.actions.reviewAllEmployees.isReviewed() -->
                                    <!-- ngIf: vm.currentcycle.details.actions.reviewAllEmployees.isReviewed() -->
                                </div>
                                <!-- ngIf: vm.currentcycle.details.actions.reviewAllEmployees.completed -->
                            </div>
                        </div>
                        <div class="col-sm-4 run" style="top:-20px">
                            <div class="btn btn-payroll-run col-sm-12 disabled" data-ng-click="OpenfinalizeDialog();" data-ng-class="{'disabled' : (!vm.currentcycle.details.actions.completed || vm.disbalePayrollRun || !vm.currentcycle.arePreActionEnabled)}">
                                <div class="col-sm-4 text-left clear-side-padding">
                                    <div class="title">Finalize Payroll</div>
                                </div>
                                <div class="col-sm-8 text-left clear-side-padding">
                                    <div class="row details">
                                        <div class="progress-details col-sm-6 ">
                                            <div class="progress">
                                                <div class="progress-bar clear-vertical-margin" data-ng-style="{'width':progessWidth}"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 clear-left-padding">
                                            <span class="pull-right icon-info2 information-tooltip tooltip-grey" uib-tooltip="Finalize Run." tooltip-placement="top"></span>
                                            <span class="ng-binding"> {{reviewCount}} of 7 steps completed</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ngIf: payrollConfig.payrollSchedule.payCycle.canSkip(vm.currentcycle.details.to) -->
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="panel">
        <div data-ng-click="collpase2 = !collpase2" class="panel-heading col-lg-12">
            <h3>2. Payroll OutCome Action</h3>
            <span style="margin-top: -38px;" class="pull-right">
                <i ng-class="{'fa fa-angle-down':!collpase2, 'fa fa-angle-up' : collpase2}" class="collpase-icon fa fa-angle-up"></i>
            </span>
        </div>
        <div class="panel-body">
            <div ng-if="!collpase2">
                <div class="col-sm-12 clear-side-padding vertical-margin">
                    <div class="out-come-header">Review Outcome</div>
                    <a class="preview-btn col-sm-12 clear-side-padding" data-ng-click="openRunRegister()">View Pay Register</a>

                    <!-- ngIf: vm.currentcycle.isFinalize -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>