<grid-box ng-model="page" ng-hide="showGrid">
</grid-box>


<form name="editForm " novalidate ng-submit="saveForm() " ng-hide="showEditForm ">
    <div class="panel panel-default xmedium-panel ">
        <edit-panel-head page="page" page-title="page.pageinfo.title " reset-form="resetFormCommon(editForm) " clear-form="clearFormCommon(editForm) "
            close-form="closeForm(editForm) " show-close="true " show-save="true " show-clear="true " show-list="false
 " show-reset="true " condition="true "></edit-panel-head>

        <div class="panel-body " style="padding:5px " ng-scrollbars ng-scrollbars-config="config ">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{page.pageinfo.fields.FAFEmpId.text}}</label>
                        <select class="form-control" ng-disabled="disabledEmp" ng-model="entity.selectedEmp" ng-change="selectedDesignDept()" ng-options="employee.name  for employee in page.pageinfo.selects.FAFEmpId">
                            </select>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{page.pageinfo.fields.FAFDDate.text}}</label>
                        <span class="form-control" ng-bind="entity.FAFDDate"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <!--<label>{{page.pageinfo.fields.FAFEmpId.text}}</label>-->
                        <label>Sub Unit</label>
                        <span class="form-control" ng-bind="entity.SUName"></span>
                        <!--<input class="form-control" type="text" ng-model="entity.ACODIsApplyFullDay">-->

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <!--<label>{{page.pageinfo.fields.FAFEmpId.text}}</label>-->
                        <label>Designation Name</label>
                        <span class="form-control" ng-bind="entity.designName"></span>
                        <!--<input class="form-control" type="text" ng-model="entity.ACODIsApplyFullDay">-->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <!--<label>{{page.pageinfo.fields.FAFEmpId.text}}</label>-->
                        <label>Department Name</label>
                        <span class="form-control" ng-bind="entity.deptName"></span>
                    </div>
                </div>
                <div class="col-md-1" ng-show="enableShowButton">
                    <label></label>
                    <div>
                        <button class="btn btn-primary" type="button" ng-click="getEmpFullAndFinal();">Show</button>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="showOnClick">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDELOpeninig.text}}</label>
                                <!--<input class="form-control" type="text" ng-model="entity.FAFDELOpeninig">-->
                                <span class="form-control" ng-bind="entity.FAFDELOpeninig"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDPresentDays.text}}</label>
                                <!--<input class="form-control" type="text" ng-model="entity.FAFDPresentDays">-->
                                <span class="form-control" ng-bind="entity.FAFDPresentDays"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDCurrentYearEL.text}}</label>
                                <!--<input class="form-control" type="text" ng-model="entity.FAFDCurrentYearEL">-->
                                <span class="form-control" ng-bind="entity.FAFDCurrentYearEL"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDELTaken.text}}</label>
                                <!--<input class="form-control" type="text" ng-model="entity.FAFDELTaken">-->
                                <span class="form-control" ng-bind="entity.FAFDELTaken"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDELBalance.text}}</label>
                                <span class="form-control" ng-bind="entity.FAFDELBalance"></span>
                                <!--<input class="form-control" type="text" ng-model="entity.FAFDELBalance">-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDELEncashable.text}}</label>
                                <!--<input class="form-control" type="text" ng-model="entity.FAFDELEncashable">-->
                                <span class="form-control" ng-bind="entity.FAFDELEncashable"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDJoinYear.text}}</label>
                                <!--<input class="form-control" type="text" ng-model="entity.FAFDJoinYear">-->
                                <span class="form-control" ng-bind="entity.FAFDJoinYear"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDGratuity.text}}</label>
                                <!--<input class="form-control" type="text" ng-model="entity.FAFDGratuity">-->
                                <span class="form-control" ng-bind="entity.FAFDGratuity"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.LoanOutStandingAmount.text}}</label>
                                <!--<input class="form-control" type="text" ng-model="entity.LoanOutstanding">-->
                                <span class="form-control" ng-bind="entity.FAFDLoanOutstanding"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{page.pageinfo.fields.FAFDPayDays.text}}</label>
                                <input class="form-control" type="text" ng-change="totalPayDays()" ng-model="entity.FAFDPayDays">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="height: 400px;" ui-grid="weekGridOptions" ui-grid-cellNav ui-grid-pagination ui-grid-edit ui-grid-expandable
                                ui-grid-auto-resize ui-grid-selection class="grid"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="showOnClick">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Pay Day + Encashment EL</label>
                        <!--<input class="form-control" type="text" ng-model="entity.totalPayDays">-->
                        <span class="form-control" ng-bind="entity.totalPayDays"></span>
                    </div>
                </div>
                <div class="col-md-1">
                    <label></label>
                    <div>
                        <button class="btn btn-primary" type="button" ng-click="calculatedEmpSalary();">Calculate</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Total Earning</label>
                        <!--<input class="form-control" type="text" ng-model="entity.totalPayDays">-->
                        <span class="form-control" ng-bind="entity.FAFDTotalEarning"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Total Deduction</label>
                        <!--<input class="form-control" type="text" ng-model="entity.totalPayDays">-->
                        <span class="form-control" ng-bind="entity.FAFDTotalDeduction"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Net Pay</label>
                        <!--<input class="form-control" type="text" ng-model="entity.totalPayDays">-->
                        <span class="form-control" ng-bind="entity.FAFDNetPayment"></span>
                    </div>
                </div>
            </div>



            <div class="row" ng-show="showStatus">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputPassword">Status<span style="color:red">*</span></label>
                        <select class="form-control" ng-model="entity.StatusId" ng-options="status.value as status.name for status in page.pageinfo.statuslist"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputPassword">Comment<span style="color:red">* </label>
                        <textarea class="form-control" ng-model="entity.FAFDComment"></textarea>
                    </div>
                </div>
            </div>


            <!--<div class="form-group" ng-show="showStatus">
                <label for="inputPassword" class="control-label col-xs-2">Status<span style="color:red">*</span></label>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="entity.StatusId" ng-options="status.value as status.name for status in page.pageinfo.statuslist"></select>
                </div>
                <label for="inputPassword" class="control-label col-xs-2">Comment<span style="color:red">* </label>
                <div class="col-xs-4">
                    <textarea class="form-control" ng-model="entity.FAFDComment"></textarea>
                </div>

            </div>-->

        </div>
    </div>
</form>

<div ng-hide="showReport">
    <label></label>
    <div>
        <button class="btn btn-primary" type="button" ng-click="closeReport();">Close</button>
    </div>
    <report-viewer ng-model="pageReport"></report-viewer>
</div>