<div class="row">
    <div class="col-md-12">
        <div class="row pie-charts">
            <div class="pie-chart-item-container" ng-repeat="chart in charts">
                <div ba-panel>
                    <div class="pie-chart-item">
                        <div class="chart" rel="{{ ::chart.color }}">
                            <span class="percent"></span>
                        </div>
                        <div class="description">
                            <div>{{ ::chart.description }}</div>
                            <div class="description-stats">{{ ::chart.stats }}</div>
                        </div>
                        <i class="chart-icon i-{{ ::chart.icon }}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <traffic-chart></traffic-chart>
    </div>

    <div class="col-md-6">
        <div class="panel panel-medium">
            <div class="panel-heading">
                ACQUISITION CHANNELS
            </div>

            <div class="panel-body">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="Upcoming Team Leave List(90 Day)" ba-panel-class="medium-panel">


        <table ng-if="upComingLeaveListOfTeam.length > 0" class="table table-bordered table-condensed " ng-init="empSalaryHead.totals = {}">
            <thead>
                <tr class="info">
                    <td>
                        <label>Sr. No.</label>
                    </td>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <label>From Date</label>
                    </td>
                    <td>
                        <label>To Date</label>
                    </td>

                    <!-- <td>
                        <label>Sanction From</label>
                    </td>
                    <td>
                        <label>Sanction To</label>
                    </td> -->
                    <!-- <td>
                        <label>Status</label>
                    </td> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="leave in upComingLeaveListOfTeam">
                    <td> {{leave.SNo}}</td>
                    <td>{{leave.EmpName}}</td>
                    <td>{{leave.LEADDateFrom}}</td>
                    <td>{{leave.LEADDateTo}}</td>
                    <!-- <td>{{leave.SancFromDate}}</td>
                    <td>{{leave.SancToDate}}</td> -->
                    <!-- <td>{{leave.Status}}</td> -->
            </tbody>
        </table>

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="Pending Approval(Self)" ba-panel-class="medium-panel traffic-panel">
        <table ng-if="pendingApprovel.length > 0" class="table table-bordered table-condensed " ng-init="empSalaryHead.totals = {}">
            <thead>
                <tr class="info">
                    <!-- <td>
                        <label>Sr. No.</label>
                    </td> -->
                    <td>
                        <label>Type</label>
                    </td>
                    <td>
                        <label>Date</label>
                    </td>
                    <!-- <td>
                        <label>Sanction From</label>
                    </td>
                    <td>
                        <label>Sanction To</label>
                    </td> -->
                    <!-- <td>
                        <label>Status</label>
                    </td> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="leave in pendingApprovel">
                    <!-- <td> {{leave.SNo}}</td> -->
                    <td>{{leave.Type}}</td>
                    <td>{{leave.Date}}</td>
                    <!-- <td>{{leave.SancFromDate}}</td>
                    <td>{{leave.SancToDate}}</td> -->
                    <!-- <td>{{leave.Status}}</td> -->
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="UpComing Holiday(90 Day)" ba-panel-class="medium-panel traffic-panel">
        <table ng-if="UpComingHolidayList.length>0" class="table table-bordered table-condensed " ng-init="empSalaryHead.totals = {}">
            <thead>
                <tr class="info">
                    <td>
                        <label>Sr. No.</label>
                    </td>
                    <td>
                        <label>Holiday Name</label>
                    </td>
                    <td>
                        <label>Holiday Date</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="holiday in UpComingHolidayList">
                    <td> {{holiday.SNo}}</td>
                    <td>{{holiday.HDName}}</td>
                    <td>{{holiday.HDFromDate}}</td>
            </tbody>

        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="Upcoming Team BirthDay(90 Days)" ba-panel-class="medium-panel">
        <table ng-if="upComingTeamBirthDay.length>0" class="table table-bordered table-condensed " ng-init="empSalaryHead.totals = {}">
            <thead>
                <tr class="info">
                    <td>
                        <label>Sr. No.</label>
                    </td>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <label>Date Of Birth</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="birth in upComingTeamBirthDay">
                    <td> {{birth.SNo}}</td>
                    <td> {{birth.EmpName}}</td>
                    <td>{{birth.PdDateOfBirth}}</td>
            </tbody>

        </table>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="BirthDay(Self) " ba-panel-class="medium-panel traffic-panel">
        <table ng-if="upComingBirthDayList.length>0" class="table table-bordered table-condensed " ng-init="empSalaryHead.totals = {}">
            <thead>
                <tr class="info">
                    <td>
                        <label>Sr. No.</label>
                    </td>
                    <td>
                        <label>Date Of Birth</label>
                    </td>
                    <!-- <td>
                        <label>Mobile Number</label>
                    </td>
                    <td>
                        <label>Email</label>
                    </td> -->

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="birth in upComingBirthDayList">
                    <td> {{birth.SNo}}</td>
                    <td>{{birth.PdDateOfBirth}}</td>
                    <!-- <td>{{birth.PdMobileNo}}</td>
                    <td>{{birth.PdEmail}}</td> -->

            </tbody>

        </table>
        <!-- <div ui-grid="LeaveTodayGridOpt" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-pinning class="joinGridCss">
        </div> -->

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="Acquisition Channels" ba-panel-class="medium-panel traffic-panel">
    </div>
</div>