<div class="row">
    <div class="col-md-12">
        <div class="row pie-charts">
            <div class="pie-chart-item-container" ng-repeat="chart in charts">
                <div ba-panel>
                    <div class="pie-chart-item">
                        <div class="chart" rel="{{ ::chart.color }}">
                            <span class="percent"></span>
                        </div>
                        <div class="description">
                            <div>{{ ::chart.description }}</div>
                            <div class="description-stats">{{ ::chart.stats }}</div>
                        </div>
                        <i class="chart-icon i-{{ ::chart.icon }}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <traffic-chart></traffic-chart>
    </div>

    <div class="col-md-6">
        <div ba-panel ba-panel-title="Line Map" class="viewport100">
            <div id="map-lines"></div>
        </div>



        <!-- <div class="panel pnl350">
            <div class="panel-heading">
                ACQUISITION CHANNELS
            </div>

            <div class="panel-body">
                <div id="amchart"></div>
            </div>
        </div> -->
    </div>
</div>


<div class="row">

    <div class="col-md-4">
        <div class="panel panel-medium pnl300">
            <div class="panel-heading header">
                <i class="fa fa-star-half-o iconsize"></i>
                &nbsp; Upcoming Team Leave(90 Day)
                <a ng-if="upComingLeaveListOfTeam.length > 0" class="pull-right" data-ng-click="teamLeave()" href="">View All
                </a>

            </div>

            <div class="panel-body panel-height ">
                <div data-ng-if="upComingLeaveListOfTeam.length > 0" class="row" ng-repeat="team in upComingLeaveListOfTeam | limitTo : 6">
                    <div class="col-md-2">
                        <div style="cursor: pointer;" data-ui-sref="employee.summary({empid:team.EmpId})" href="" class="member-profile-picture-container profile-picture-container col-lg-1 clear-side-padding col-md-2">
                            <div class="profile-picture  ng-isolate-scope">
                                <div random-Color class="img-circle img-initials " data-ng-style="{'background-color':getRandomColor(index)}" style="background-color: rgb(158, 105, 175);">
                                    {{team.EmpName.split(' ')[0].substr(0,1)}}{{team.EmpName.split(' ')[1].substr(0,1)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" data-ui-sref="employee.summary({empid:team.EmpId})" style="cursor: pointer;">
                        {{team.EmpName| cut:true:6:' ...'}}
                    </div>
                    <div class="col-md-5">
                        {{team.LEADDateFrom}}
                    </div>
                    <!-- <div class="col-md-4">
                        {{team.LEADDateTo}}
                    </div> -->
                </div>
                <div ng-if="upComingLeaveListOfTeam.length <= 0" class="alert alert-success" role="alert">
                    Hooray, no Upcoming team leave list found!
                </div>
                <!-- <table ng-if="upComingLeaveListOfTeam.length > 0" class="table table-condensed table-responsive">
                    <tbody>
                        <tr ng-repeat="leave in upComingLeaveListOfTeam | limitTo : 6">
                            <td style="text-align: left"> {{$index+1}}</td>
                            <td>
                                <i class="fa fa-star-half-o iconsize"></i>
                            </td>
                            <td>{{leave.EmpName| cut:true:6:' ...'}} </td>
                            <td>{{leave.LEADDateFrom| cut:true:6:' ...'}} </td>
                            <td>{{leave.LEADDateTo}}</td>

                    </tbody>
                </table> -->

            </div>
        </div>
    </div>

    <!-- <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="Upcoming Team Leave List(90 Day)" ba-panel-class="medium-panel">
        

    </div> -->

    <div class="col-md-4">
        <div class="panel pnl300">
            <div class="panel-heading header">
                <i class="fa fa-star-half-o iconsize"></i>
                &nbsp; Pending Approval(Self)
                <a ng-if="pendingApprovel.length > 0" class="pull-right" data-ng-click="viewList()" href="">View All</a>
            </div>

            <div class="panel-body panel-height">
                <div data-ng-if="pendingApprovel.length > 0" class="row" ng-repeat="team in pendingApprovel | limitTo : 6">
                    <div class="col-md-2">
                        <div class="member-profile-picture-container profile-picture-container col-lg-1 clear-side-padding col-md-2">
                            <div class="profile-picture  ng-isolate-scope">
                                <div random-Color class="img-circle img-initials " data-ng-style="{'background-color':getRandomColor(index)}" style="background-color: rgb(158, 105, 175);">
                                    {{team.Type.split(' ')[0].substr(0,1)}}{{team.Type.split('-')[1].substr(0,1)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        {{team.Type}}
                    </div>
                    <div class="col-md-5">
                        {{team.Date}}
                    </div>
                </div>
                <div ng-if="pendingApprovel.length <= 0" class="alert alert-success" role="alert">
                    Hooray, no pending list found!
                </div>
                <!-- <table ng-if="pendingApprovel.length > 0" class="table table-condensed table-responsive">
                    <tbody>
                        <tr ng-repeat="leave in pendingApprovel | limitTo : 6">
                            <td>
                                <i class="fa fa-star-half-o iconsize"></i>
                            </td>
                            <td>{{leave.Type| cut:true:16:' ...'}} </td>
                            <td>{{leave.Date}}</td>
                    </tbody>
                </table>
                <div ng-if="pendingApprovel.length <= 0" class="alert alert-success" role="alert">
                    Hooray, no Upcoming team leave list found!
                </div> -->

            </div>
        </div>
    </div>

    <!-- <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="Pending Approval(Self)" ba-panel-class="medium-panel traffic-panel">

        
    </div> -->

    <div class="col-md-4">
        <div class="panel pnl300">
            <div class="panel-heading header">
                <i class="fa fa-photo iconsize"></i>
                &nbsp; UpComing Holiday(90 Day)
                <a ng-if="UpComingHolidayList.length>0" class="pull-right" data-ng-click="holiday()" href="">View All</a>
            </div>

            <div class="panel-body panel-height">
                <div data-ng-if="UpComingHolidayList.length > 0" class="row" ng-repeat="team in UpComingHolidayList | limitTo : 6">
                    <div class="col-md-2">
                        <div class="member-profile-picture-container profile-picture-container col-lg-1 clear-side-padding col-md-2">
                            <div class="profile-picture  ng-isolate-scope">
                                <div random-Color class="img-circle img-initials " data-ng-style="{'background-color':getRandomColor(index)}" style="background-color: rgb(158, 105, 175);">
                                    {{team.HDName.split(' ')[0].substr(0,2)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        {{team.HDName| cut:true:16:' ...'}}
                    </div>
                    <div class="col-md-5">
                        {{team.HDFromDate}}
                    </div>
                </div>
                <div ng-if="UpComingHolidayList.length <= 0" class="alert alert-success" role="alert">
                    Hooray, no holiday list found!
                </div>
                <!-- <table ng-if="UpComingHolidayList.length>0" class="table table-condensed table-responsive">
                    <tbody>
                        <tr ng-repeat="holiday in UpComingHolidayList | limitTo : 6">
                            <td>
                                <i class="fa fa-photo iconsize"></i>
                            </td>
                            <td>{{holiday.HDName| cut:true:16:' ...'}} </td>
                            <td>{{holiday.HDFromDate}}</td>
                    </tbody>
                </table> -->

            </div>
        </div>
    </div>
    <!-- <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="UpComing Holiday(90 Day)" ba-panel-class="medium-panel traffic-panel">
    </div> -->
</div>

<div class="row shift-up">
    <div class="col-md-4">
        <div class="panel pnl300">
            <div class="panel-heading header">
                <i class="fa fa-birthday-cake iconsize"></i>
                &nbsp; Upcoming BirthDay(90 Days)
                <a ng-if="upComingTeamBirthDay.length>0" class="pull-right" data-ng-click="teamBirthDay()" href="">View All
                </a>
            </div>

            <div class="panel-body panel-height">
                <div data-ng-if="upComingTeamBirthDay.length > 0" class="row" ng-repeat="team in upComingTeamBirthDay | limitTo : 6">
                    <div class="col-md-2">
                        <div style="cursor: pointer;" data-ui-sref="employee.summary({empid:team.EmpId})" href="" class="member-profile-picture-container profile-picture-container col-lg-1 clear-side-padding col-md-2">
                            <div class="profile-picture  ng-isolate-scope">
                                <div random-Color class="img-circle img-initials " data-ng-style="{'background-color':getRandomColor(index)}" style="background-color: rgb(158, 105, 175);">
                                    {{team.EmpName.split(' ')[0].substr(0,1)}}{{team.EmpName.split(' ')[1].substr(0,1)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" data-ui-sref="employee.summary({empid:team.EmpId})" style="cursor: pointer;">
                        {{team.EmpName| cut:true:14:' ...'}}
                    </div>
                    <div class="col-md-5">
                        {{team.PdDateOfBirth}}
                    </div>
                </div>
                <div ng-if="upComingTeamBirthDay.length <= 0" class="alert alert-success" role="alert">
                    Hooray, no upcoming birth list found!
                </div>
                <!-- <table ng-if="upComingTeamBirthDay.length>0" class="table table-condensed table-responsive">
                    <tbody>
                        <tr ng-repeat="birth in upComingTeamBirthDay | limitTo : 6">
                            <td>
                                <i class="fa fa-birthday-cake iconsize"></i>
                            </td>
                            <td> {{birth.EmpName| cut:true:16:' ...'}} </td>
                            <td>{{birth.PdDateOfBirth}}</td>
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>

    <!-- <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="Upcoming Team BirthDay(90 Days)" ba-panel-class="medium-panel">

    </div> -->

    <div class="col-md-4">
        <div class="panel pnl300">
            <div class="panel-heading header">
                <i class="fa fa-user iconsize"></i>
                &nbsp; Team Member
                <a ng-if="teamEmpList.length>0" class="pull-right" data-ng-click="birthDay()" href="">View</a>
            </div>

            <div class="panel-body">
                <div data-ng-if="teamEmpList.length > 0" class="row" ng-repeat="team in teamEmpList | limitTo : 6">
                    <div class="col-md-2">
                        <div style="cursor: pointer;" data-ui-sref="employee.summary({empid:team.EmpId})" href="" class="member-profile-picture-container profile-picture-container col-lg-1 clear-side-padding col-md-2">
                            <div class="profile-picture  ng-isolate-scope">
                                <div random-Color class="img-circle img-initials " data-ng-style="{'background-color':getRandomColor(index)}" style="background-color: rgb(158, 105, 175);">
                                    {{team.EmpName.split(' ')[0].substr(0,1)}}{{team.EmpName.split(' ')[1].substr(0,1)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" data-ui-sref="employee.summary({empid:team.EmpId})" style="cursor: pointer;">
                        {{team.EmpName| cut:true:10:' ...'}}
                    </div>
                    <div class="col-md-3">
                        {{team.PdMobileNo}}
                    </div>
                </div>
                <div ng-if="teamEmpList.length <= 0" class="alert alert-success" role="alert">
                    Hooray, no team member list found!
                </div>

                <!-- <table ng-if="teamEmpList.length>0" class="table table-condensed table-responsive">
                    <tbody>
                        <tr ng-repeat="birth in teamEmpList | limitTo : 6">
                            <td>
                                <i class="fa fa-user iconsize"></i>
                            </td>
                            <td>{{birth.EmpName| cut:true:16:' ...'}}</td>
                            <td>{{birth.PdMobileNo}}</td>
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>

    <div class="col-md-4 ">

        <div ba-panel ba-panel-title="To Do List" ba-panel-class="pnl300 medium-panel feed-comply-panel with-scroll todo-panel">
            <dashboard-todo></dashboard-todo>
        </div>



        <!-- <div class="panel pnl300">
            <div class="panel-heading header">
                Acquisition Channels
            </div>

            <div class="panel-body">

                    <dashboard-todo></dashboard-todo>
            </div>
        </div> -->
    </div>

    <!-- <div class="col-lg-4 col-md-12 col-sm-12" ba-panel ba-panel-title="Acquisition Channels" ba-panel-class="medium-panel traffic-panel">
    </div> -->
</div>