<!-- <grid-box ng-model="page" ng-hide="showEditForm">
</grid-box> -->



<div class="panel panel-default bootstrap-panel xmedium-panel">
    <div class="panel-body">
        <div class="row">
            <h3 class="with-line ">Employee Benefit Detail</h3>
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-2">
                        <label ng-bind="benefitPageData.pageinfo.fields.EBDDeptId.text"></label>
                        <div>
                            <select class="form-control" ng-model="entity.EBDDeptId" ng-options="dept.value as dept.name for dept in benefitPageData.pageinfo.selects.EBDDeptId"></select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label ng-bind="benefitPageData.pageinfo.fields.EBDSHId.text"></label>
                        <div>
                            <select class="form-control" ng-model="entity.EBDSHId" ng-options="head.value as head.name for head in benefitPageData.pageinfo.selects.EBDSHId"></select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label></label>
                        <div>
                            <button class="btn btn-primary" ng-click="getWeekGridOptions();">Search</button>
                        </div>
                    </div>
                    <div class="col-md-1" ng-show="showSave">
                        <label></label>
                        <div>
                            <button class="btn btn-primary" ng-click="saveEmpBenefit();">Save</button>
                        </div>
                    </div>
                    <div class="col-md-1" ng-show="showSave">
                        <label></label>
                        <div>
                            <button class="btn btn-primary" ng-click=uploadRecord()>Upload</button>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <label></label>
                        <div>
                            <button class="btn btn-primary" ng-click=downLoadTemp()>DownLoad Template</button>
                        </div>
                    </div>

                </div>

                <div ng-if="weekGridOptions.data.length>0">
                    <h3 class="with-line "></h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="gridopt" style="height: 350px; width: 600px"  ui-grid="weekGridOptions" ui-grid-cellNav ui-grid-pagination
                                ui-grid-edit ui-grid-expandable ui-grid-auto-resize ui-grid-selection class="grid weekGridOptionss paybandgrid payband"></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>