<grid-box ng-model="page" ng-show="showEditForm">
</grid-box>


<form name="editForm " class="form-horizontal" novalidate ng-submit="saveForm() " ng-hide="showEditForm ">
    <div class="panel panel-default xmedium-panel ">
        <edit-panel-head page="page" page-title="page.pageinfo.title " reset-form="resetFormCommon(editForm) " clear-form="clearFormCommon(editForm) "
            close-form="closeForm(editForm) " show-close="true " show-save="true " show-clear="false " show-list="false
 " show-reset="false " condition="true "></edit-panel-head>

        <div class="panel-body " style="padding:5px " ng-scrollbars ng-scrollbars-config="config ">


            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">{{page.pageinfo.fields.LEDEmpId.text}}</label>
                <div class="col-xs-4">
                    <select class="form-control" ng-disabled="disabledEmp" ng-model="entity.selectedEmp" ng-change="selectedDesignDept()" ng-options="employee.name  for employee in page.pageinfo.selects.LEDEmpId">
                            </select>
                </div>
                <label for="inputPassword" class="control-label col-xs-2">{{page.pageinfo.fields.LEDDate.text}}</label>
                <div class="col-xs-4">
                    <span class="form-control" ng-bind="entity.LEDDate"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Sub Unit</label>
                <div class="col-xs-4">
                    <span class="form-control" ng-bind="entity.SUName"></span>
                </div>
                <label for="inputEmail" class="control-label col-xs-2">Department Name</label>
                <div class="col-xs-4">
                    <span class="form-control" ng-bind="entity.deptName"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="control-label col-xs-2">Designation Name</label>
                <div class="col-xs-4">
                    <span class="form-control" ng-bind="entity.designName"></span>
                </div>
                <button class="btn btn-primary" ng-show="enableShowButton" type="button" ng-click="getEmpFullAndFinal();">Show All</button>
                <label for="inputEmail" class="control-label col-xs-2">Gross</label>
                <div class="col-xs-3">
                    <span class="form-control" ng-bind="entity.FFDTZGross"></span>
                </div>

            </div>

            <div class="form-group" ng-show="showOnClick">
                <label for="inputEmail" class="control-label col-xs-2">{{page.pageinfo.fields.LEDELOpeninig.text}}</label>
                <div class="col-xs-4">
                    <span class="form-control" ng-bind="entity.LEDELOpeninig"></span>
                </div>
                <label for="inputPassword" class="control-label col-xs-2">{{page.pageinfo.fields.LEDCurrentYearEL.text}}</label>
                <div class="col-xs-4">
                    <span class="form-control" ng-bind="entity.LEDCurrentYearEL"></span>
                </div>
            </div>

            <div class="form-group" ng-show="showOnClick">
                <label for="inputEmail" class="control-label col-xs-2">{{page.pageinfo.fields.LEDELTaken.text}}</label>
                <div class="col-xs-4">
                    <span class="form-control" ng-bind="entity.LEDELTaken"></span>
                </div>
                <label for="inputEmail" class="control-label col-xs-2">{{page.pageinfo.fields.LEDELEncashable.text}}</label>
                <div class="col-xs-4">
                    <span class="form-control" ng-bind="entity.LEDELEncashable"></span>
                </div>
            </div>

            <div class="form-group" ng-show="showOnClick">
                <label for="inputPassword" class="control-label col-xs-2">{{page.pageinfo.fields.LEDTotalEncashableLeave.text}}</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" ng-model="entity.LEDTotalEncashableLeave" ng-change="maxApplyEl()">
                </div>
                <label for="inputPassword" class="control-label col-xs-2">{{page.pageinfo.fields.LEDEncashAmount.text}}</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" ng-model="entity.LEDEncashAmount">
                </div>
            </div>

            <div class="form-group" ng-show="showStatus">
                <label for="inputPassword" class="control-label col-xs-2">Status<span style="color:red">*</span></label>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="entity.StatusId" ng-options="status.value as status.name for status in page.pageinfo.statuslist"></select>
                </div>
                <label for="inputPassword" class="control-label col-xs-2">Comment<span style="color:red">* </label>
                <div class="col-xs-4">
                    <textarea class="form-control" ng-model="entity.LEDComment"></textarea>
                </div>

            </div>

        </div>
    </div>
</form>