<div ba-panel ba-panel-class="horizontal-tabs tabs-panel">
    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="Import Wizard">
            <div id="step1" ng-show="tabCtrl.migrate.step1">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label ">
                                        Select a file to upload: 
                                    </label>
                        <label class="btn btn-success btn-file">
                                        Browse
                                        <input type="file" 
                                        accept=".xls,.xlsx,.ods"  
                                        readfiledata
                                        opts="tabCtrl.gridOptions" 
                                        uploader="tabCtrl.uploader"
                                        multiple="false" 
                                        result="tabCtrl.fileResult"
                                        style="display: none;">
                                    </label><br/>
                        <span class="">(Only .xls, .xlsx are supported)</span>


                        <div class="schema-form-section row" ng-show="tabCtrl.gridOptions.data.length > 0">
                            <div class="schema-form-section col-xs-12">
                                <div class="form-group schema-form-text  has-feedback">
                                    <label class="control-label ">
                                        You have selected {{tabCtrl.gridOptions.data.length}} record file
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr ng-show="tabCtrl.gridOptions.data.length > 0" />
                        <div class="row" ng-show="tabCtrl.gridOptions.data.length > 0">
                            <div class="col-md-12">
                                <label class="checkbox-inline custom-checkbox nowrap">
                                    <input type="checkbox" id="inlineCheckbox01" ng-model="tabCtrl.showPreview">
                                    <span>Show Preview</span>
                                </label>
                            </div>
                        </div>

                        <div class="row" ng-show="tabCtrl.gridOptions.data.length > 0">
                            <div class="col-md-12">

                                <label class="checkbox-inline custom-checkbox nowrap">
                                    <input type="checkbox" ng-click="tabCtrl.employeeShowData()" id="inlineCheckbox02"  ng-model="tabCtrl.showEmployeeName">
                                    <span>Show Employee Full Name</span>
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-show="tabCtrl.gridOptions.data.length > 0">
                            <div class="col-md-12">

                                <label class="checkbox-inline custom-checkbox nowrap">
                                    <input type="checkbox"   id="inlineCheckbox03"  ng-model="tabCtrl.acceptInvalidData">
                                    <span>Accept Invalid Data</span>
                                </label>
                                <div id="notAcceptInvalidData" ng-hide="tabCtrl.acceptInvalidData">
                                    <div class="radio margin-left">
                                        <label><input type="radio" ng-model="tabCtrl.ignoreCase" name="ignoreRow" checked value="ignorerow">Ignore Row</label>
                                    </div>
                                    <div class="radio margin-left">
                                        <label><input  type="radio" ng-model="tabCtrl.ignoreCase" name="ignoreRow" value="ignorecolumn">Ignore Cell/Field</label>
                                    </div>
                                </div>
                                <div id="acceptInvalidData" ng-show="tabCtrl.acceptInvalidData">
                                    <div class="radio margin-left">
                                        <label><input type="radio" ng-model="tabCtrl.ignoreCase" name="ignoreRow" value="samedata">Same Data</label>
                                    </div>
                                    <div class="radio margin-left">
                                        <label><input type="radio" ng-model="tabCtrl.ignoreCase" name="ignoreRow" value="blankdata">Blank Data</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr ng-show="tabCtrl.gridOptions.data.length >= 0" />
                        <div class="row" ng-show="tabCtrl.gridOptions.data.length >= 0">
                            <div class="col-md-12">
                                <button type="button" ng-show="tabCtrl.gridOptions.data.length > 0" ng-click="tabCtrl.gridOptions.data=[]" class="btn btn-default">
                                    Cancel
                                </button>
                                <button type="button" ng-click="tabCtrl.nextDataUpload()" ng-show="tabCtrl.gridOptions.data.length > 0" class="btn btn-info">
                                    Next
                                </button>
                                <button type="button" ng-click="back('organization.employees.list')" ng-hide="tabCtrl.gridOptions.data.length > 0" class="btn btn-default">
                                    Back
                                </button>
                                <!--<button type="button" class="btn btn-warning" ng-hide="tabCtrl.gridOptions.data.length > 0" ng-click="tabCtrl.downloadTemp()">
                            Download Template</button>
                            <button type="button" class="btn btn-warning" ng-hide="tabCtrl.gridOptions.data.length > 0" ng-click="tabCtrl.downloadMaxFieldTemp()">
                            Download Template With Max Field</button>
                            -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div ng-hide="tabCtrl.gridOptions.data.length > 0 && tabCtrl.showPreview">
                            <h5>Download Template</h5>
                            <button type="button" class="btn btn-warning" ng-click="tabCtrl.downloadTemp()">
                           Minimum Requirement Template</button>
                            <button type="button" class="btn btn-warning" ng-click="tabCtrl.downloadMaxFieldTemp()">
              Maximum Requirement Template</button>

                            <h5>Supported Formats</h5>
                            <p>
                                You can import up to 1000 records through an .xls, .xlsx file. Please use a .csv file if you're importing more than 1000
                                records at once.
                            </p>
                            <h5>Maximum Limits</h5>
                            <p>1000 per batch.</p>
                            <h5>Important Notes</h5>

                            <p>Rudra will map the first row of cells to the corresponding fields. (These values are for reference
                                and will not be imported.)</p>
                            <p>File size cannot exceed 5 MB.</p>
                            <p>All duplicate records will be ignored when importing.</p>
                            <p>Checkbox value should be 1 or 0.</p>
                            <p>Date must be in the format MM/DD/YYYY. Records that use other date formats will be ignored.</p>
                            <p>Date and time values must be in the following format: MM/DD/YYYY hh:mm:ss. Any other format will
                                be ignored.</p>
                            <p>By default, the character encoding is UTF-8 (Unicode). Make sure you provide the correct character
                                encoding if your import file has special characters.</p>
                            <p>We recommend doing a test import with a sample file before importing your actual data.</p>

                        </div>
                        <span ng-show="tabCtrl.gridOptions.data.length > 0 && tabCtrl.showPreview">Preview Data</span>

                        <div id="grid1" ui-grid="tabCtrl.gridOptions" class="grid" ui-grid-pagination ui-grid-edit ui-grid-cellnav ng-show="tabCtrl.gridOptions.data.length > 0 && tabCtrl.showPreview">
                        </div>
                    </div>
                </div>
            </div>
            <div id="step2" ng-show="tabCtrl.migrate.step2">
                <span>Map the Employee Detail field names to the columns of your imported source files.</span>
                <hr/>
                <div class="panel" ng-repeat="table in tabCtrl.migrate.tables">
                    <div class="panel-heading">
                        {{table.title}}
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="font-bold" style="padding-left:10px; text-align: left">Rudra Field</th>
                                    <th class="font-bold">Import Column</th>
                                    <th class="font-bold">Rudra Field</th>
                                    <th class="font-bold">Import Column</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="field in table.rows">
                                    <td class="padT8 padB8 col-sm-2" style="padding-left:10px; text-align: left">
                                        <span ng-show="field.column1.required" class="font-red">*</span>
                                        <span ng-class="{'font-red': (field.column1.required && field.column1.value=='none'), 'font-green':(field.column1.required && field.column1.value!='none')}">{{field.column1.text}}</span>
                                    </td>
                                    <td style="padding-top: 8px; padding-bottom: 8px; padding-right: 20px;">
                                        <select style="width:200px" class="form-control" name="{{field.column1.name}}" ng-model="field.column1.value">
                                        <option class="font-red" value="none"><em class="font-red font-italic">None</em></option>
                                            <option ng-repeat="col in tabCtrl.gridOptions.columnDefs" value="{{col.name}}">{{col.name}}</option>

                                         
                                        </select></td>
                                    <td ng-show="(field.column2!==undefined)" class="col-sm-2" style="padding-top: 8px; padding-bottom: 8px">
                                        <span ng-show="field.column2.required" class="font-red">*</span>
                                        <span ng-class="{'font-red': (field.column2.required && field.column2.value=='none'), 'font-green':(field.column2.required && field.column2.value!='none')}">{{field.column2.text}}</span></td>
                                    <td ng-show="(field.column2!==undefined)" style="padding-top: 8px; padding-bottom: 8px">
                                        <select style="width:200px" class="form-control" name="{{field.column2.name}}" ng-model="field.column2.value">
                                            <option class="font-red" value="none"><em class="font-red font-italic">None</em></option>
                                            <option ng-repeat="col in tabCtrl.gridOptions.columnDefs" value="{{col.name}}">{{col.name}}</option>
                                       </select></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div id="step3" ng-show="tabCtrl.migrate.step3">
                <h3>Confirm Mapping:</h3>
                <span class="pad10A text-black">The following columns in your import file are not mapped with any of the Rudra fields. If you continue,
                    the data in these columns will not be imported. Click the back button to go back and map these fields.
                    If you wish to continue, click the Import button.</span>
                <br/>
                <hr/>
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <table style="width:200px; text-align: left">
                            <thead>
                                <tr>
                                    <th style="width:200px; font-weight: bold">Column Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="unmapped in tabCtrl.migrate.unMappedList">
                                    <td style="padding:5px" ng-class="{'font-red': unmapped}">{{unmapped}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <h4 class="pad10A text-black">The following columns are maped with Rudra Fields</h4>
                <div class="panel" ng-repeat="table in tabCtrl.migrate.tables">
                    <div class="panel-heading">
                        {{table.title}}
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="font-bold" style="padding-left:10px; text-align: left">Rudra Field</th>
                                    <th class="font-bold">Import Column</th>
                                    <th class="font-bold">Rudra Field</th>
                                    <th class="font-bold">Import Column</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="field in table.rows">
                                    <tr ng-repeat="row in  table.rows">
                                        <td class="padT8 padB8 col-sm-2" style="padding-left:10px; text-align: left" ng-class="{'font-blue': (row.column1.text')}">{{row.column1.text}}</td>
                                        <td style="padding-top: 8px; padding-bottom: 8px; padding-right: 20px;" ng-class="{'font-green': (row.column1.value!='none')}">{{row.column1.value}}</td>
                                        <td class="col-sm-2" style="padding-top: 8px; padding-bottom: 8px" ng-class="{'font-blue': (row.column2.text')}">{{row.column2.text}}</td>
                                        <td style="padding-top: 8px; padding-bottom: 8px" ng-class="{'font-green': (row.column2.value!='none')}">{{row.column2.value}}</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--<div class="content-box">
                   
                    <div class="content-box-wrapper">
                        <table class="table" ng-repeat="table in tabCtrl.migrate.tables">
                            <caption>{{table.title}}</caption>
                            <thead>
                                <tr>
                                    <th>CRM Field</th>
                                    <th>File Column</th>
                                    <th>CRM Field</th>
                                    <th>File Column</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in  table.rows">
                                    <td class="padT8 padB8 col-sm-2" style="padding-left:10px; text-align: left">{{row.column1.text}}</td>
                                    <td style="padding-top: 8px; padding-bottom: 8px; padding-right: 20px;" ng-class="{'font-red': (row.column1.value!='none')}">{{row.column1.value}}</td>
                                    <td class="col-sm-2" style="padding-top: 8px; padding-bottom: 8px">{{row.column2.text}}</td>
                                    <td style="padding-top: 8px; padding-bottom: 8px" ng-class="{'font-red': (row.column2.value!='none')}">{{row.column2.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->
            </div>
            <div id="step4" ng-show="tabCtrl.migrate.step4">
                <div class="content-box">
                    <h3 class="content-box-header bg-blue-alt">
                        Validate Data
                    </h3>
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <div class="content-box-wrapper">
                        <div id="grid1" ui-grid="tabCtrl.gridValidOptions" class="grid-valid" ui-grid-pagination ui-grid-edit ui-grid-cellnav ng-show="tabCtrl.gridValidOptions.data.length > 0">
                        </div>
                    </div>
                </div>
            </div>

            <div id="step5" ng-show="tabCtrl.migrate.step5">
                <div class="panel">
                    <div class="panel-body">
                        <div ng-hide="tabCtrl.validateUploadData">
                            <h3 class="content-box-header bg-blue-alt">
                                Validate Data
                            </h3>
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>

                        <h3 class="with-line">Import Summary</h3>
                        <div class="row">
                            <div class="col-md-12">
                                total record in file {{tabCtrl.totalRecord}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <a href="" ng-click="tabCtrl.getAddedList()">Added {{tabCtrl.successLength}}</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="" ng-click="tabCtrl.getSkipList()">Skip {{tabCtrl.skipListLength}}</a>
                                </div>
                                <div class="col-md-4">
                                </div>

                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <!--<button type="button" ng-click="back('organization.employees.list')" class="btn btn-default">
                                    Back
                                </button>-->
                    </div>
                </div>










            </div>

            <div id="step6" ng-show="tabCtrl.migrate.step6">
                <div id="skipDataLists">

                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="with-line">Skip Record</h3>
                            <!--<button type="button" class="btn btn-warning" ng-show="tabCtrl.skipDataList.length>0" ng-click="tabCtrl.downloadExportSkipData()">
                           Export Skip Result</button>-->
                            <!--<grid-box ng-model="tabCtrl.skipGrid">
                            </grid-box>-->
                            <!--<table class="table" ng-show="tabCtrl.skipDataList.length>0">
                                <thead>
                                    <tr>
                                        <th>Result</th>
                                        <th ng-repeat="head in tabCtrl.selectedHeader">{{head}}</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="skipRowData in tabCtrl.skipDataList">
                                        <td>{{skipRowData.$$result}}</td>
                                        <td ng-repeat="head in tabCtrl.selectedHeader">{{skipRowData[head]}}</td>


                                    </tr>
                                    </tr>
                                </tbody>
                            </table>-->
                            <div>
                                <div id="grid1" ui-grid="tabCtrl.resultGridOptions" class="djGrid" ui-grid-pagination ui-grid-edit ui-grid-cellnav ui-grid-exporter>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" ng-click="back('organization.employees.list')" class="btn btn-default">
                                    Back
                                </button>
                    </div>
                </div>
            </div>
            <div id="step7" ng-show="tabCtrl.migrate.step7">
                <div id="addedDataLists">
                    `
                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="with-line">Added Record</h3>
                            <!--<button type="button" class="btn btn-warning" ng-show="tabCtrl.addedDataList.length>0" ng-click="tabCtrl.downloadExportAddedData()">
                           Export Added Result</button>-->

                            <div>
                                <div id="grid3" ui-grid="tabCtrl.succesResultGridOptions" class="djGrid" ui-grid-pagination ui-grid-edit ui-grid-cellnav>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" ng-click="back('organization.employees.list')" class="btn btn-default">
                                    Back
                                </button>
                    </div>
                </div>
            </div>


            <div class="row" ng-if="!tabCtrl.migrate.step5" ng-hide="tabCtrl.migrate.step1">
                <div class="col-md-12">
                    <button type="button" ng-click="tabCtrl.goPrevious()" class="btn btn-default">
                        Previous
                    </button>
                    <button type="button" ng-click="tabCtrl.clear()" class="btn btn-default">
                        Clear
                    </button>
                    <button type="button" ng-click="tabCtrl.nextDataUpload()" ng-hide="tabCtrl.migrate.step3" class="btn btn-info">
                       {{(tabCtrl.migrate.step3)?"Import":"Next"}}
                    </button>
                    <button type="button" ng-click="tabCtrl.importDataUpload()" ng-show="tabCtrl.migrate.step3" class="btn btn-info">
                       Import
                    </button>


                    <!--<button type="button" ng-click="tabCtrl.nextDataUpload()" ng-show="tabCtrl.gridOptions.data.length > 0" class="btn btn-info">
                                    Next
                                </button>
                                
                                <button type="button" class="btn btn-warning" ng-hide="tabCtrl.gridOptions.data.length > 0" ng-click="tabCtrl.downloadTemp()">
                            Download Template</button>
                            </div>-->



                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Import History">
            <h3 class="with-line">Import History</h3>
            <grid-box ng-model="uploadHistory" box-options="boxSetting">
            </grid-box>
        </uib-tab>
    </uib-tabset>
</div>

<!--<script type="text/javascript" src="../../assets/widgets/tabs-ui/tabs.js"></script>
<script type="text/javascript">
    /* jQuery UI Tabs */

    $(function () {
        "use strict";
        $(".tabs").tabs();
    });

    $(function () {
        "use strict";
        $(".tabs-hover").tabs({
            event: "mouseover"
        });
    });

</script>-->
<!--.ui-grid-viewport {
        overflow-anchor: none;
    }-->
<style>
    .djGrid {
        height: 400px;
        width: 1100px;
    }
</style>

<style>
    .grid {
        height: 250px;
        width: 500px;
    }
    
    @media only screen and (min-width: 320px) {
        .grid {
            width: 300px;
        }
    }
    
    @media only screen and (min-width: 375px) {
        .grid {
            width: 355px;
        }
    }
    
    @media only screen and (min-width: 410px) {
        .grid {
            width: 390px;
        }
    }
    
    @media only screen and (min-width: 560px) {
        .grid {
            width: 540px;
        }
    }
    
    @media only screen and (min-width: 760px) {
        .grid {
            width: 600px;
        }
    }
    
    @media only screen and (min-width: 790px) {
        .grid {
            width: 600px;
        }
    }
    
    @media only screen and (min-width: 1300px) {
        .grid {
            width: 800px;
        }
    }
</style>