// Created By PP
.clear-right-padding{
  padding-right: 0 !important
}
.icon-size i{
    font-size:50px;
    padding-top: 10px;
  }
  .clear-side-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .link-item {
    margin-top: 15px;
  }
  .link-item  i{
    font-size:15px;
  }

  //employee summary page css

  .employee-profile-container {
    background-color: #fff;
    padding: 0;
    height: 214px;
    position: initial;
    border-radius: 4px;
}
.profile-picture-container .upload-image-icon {
  display: none;
  position: absolute;
  top: 45%;
  left: 89%;
  zoom: 2;
}
.profile-picture-container {
  position: absolute;
  width: 214px;
  height: 214px;
  float: left;
  background-color: #fff!important;
}
.employee-profile-container .profile-picture-container {
  background-color: #efefef!important;
  z-index: 2;
  cursor: pointer;
}
.employee-profile-container .profile-picture-container .img-initials {
  height: 214px;
  width: 260px;
  font-size: 104px;
  padding: 55px 30px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color:white;
}

.profile-picture > input{
  display :none;
}
//   #page-wrapper .page-container .sub-page-container {
//     margin-top: 20px;
// }


.employee-profile-container .employee-header {
  height: 106px;
  padding-left: 234px;
}
.clear-right-padding {
  padding-right: 0!important;
}
.employee-details {
  height: 78px;
}
.right-padding-10 {
  padding-right: 50px;
}
.clear-left-padding {
  padding-left: 0!important;
}
.employee-profile-container .employee-subnav {
  height: 56px;
  background-color: #fff;
  padding: 4px 0 0 234px;
  margin-top: 2px;
}
.sub-nav {
  padding-left: 0;
  list-style: none;
  position: relative;
  min-height: 40px;
  border: 1px solid transparent;
}
.employee-profile-container .employee-subnav .public-profile-subnav li {
  border-right: none;
  padding-right: 50px;
  font-size: 11px;
}
.employee-profile-container .employee-subnav .public-profile-subnav .detail-label {
  text-transform: uppercase;
  display: block;
  font-weight: 700;
}
.employee-profile-container .employee-subnav .public-profile-subnav .detail-value-emp-no {
    text-transform: none!important;
}

.employee-profile-container .employee-navbar {
  margin-left: 214px;
}
.employee-profile-container .employee-navbar .sub-navbar-default {
  background-color: #dee7f4;
  height: 50px;
  border-radius: 0;
  border-top: 1px solid #cfd9e8;
  border-bottom: 1px solid #cfd9e8;
  border-right: 1px solid #cfd9e8;
}
.employee-profile-container .employee-navbar .navbar-nav li {
  border-right: none;
  text-transform: uppercase;
  padding: 0 20px;
}
.sub-nav>li {
  position: relative;
  display: block;
  border-right: 1px solid #999;
}

.sub-navbar-default {
  background-color: #f5f5f5;
  border: 1px solid transparent;
}

.employee-profile-container .employee-navbar .navbar-nav li.active a {
  color: #3595e2;
  background-color: transparent!important;
  border-bottom: 5px solid #3595e2;
}
// .employee-profile-container .employee-navbar .navbar-nav li a {
//   color: #3595e2;
//   background-color: transparent!important;
//   border-bottom: 5px solid #3595e2;
// }
.employee-profile-container .employee-navbar .navbar-nav li a {
  font-weight: 700;
  color: #7d7d7e;
  padding: 13px 0 10px 0;
  font-size: 12px;
  background-color: transparent!important;
}

.sub-nav>li>a {
  position: relative;
  display: block;
  padding: 7px 15px;
}
.employee-profile-container .employee-navbar .sub-nav>li>a:hover{
  color: #3595e2;
}

.employee-details .current-city, .employee-details .email, .employee-details .mobile, .employee-details .role {
  font-size: 12px;
  color: #888;
  margin: 0 40px 5px 0;
  display: inline-block;
}


  // end  of ESP css

  //employee directory css

  .alphabet-container {
    width: 30px;
    height: 30px;
    background: #e6e8e8;
    display: inline-block;
    padding: 7px 9px;
    margin: 4px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }
    .vertical-margin {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .clear-side-padding {
      padding-left: 0;
      padding-right: 0;
  }
  .alphabet-container:hover {
    background: #646464;
    color: #fff;
   
}
#employee-directory .active {
  background: #646464;
  color: #fff;
}

#employee-directory .icon-search3 {
  top: 8px;
  left: 18px;
}

.content-container .input-group-icon {
  position: absolute;
  font-size: 20px;
  top: 31px;
  left: 8px;
  padding-right: 6px;
  border-right: 1px solid gray;
  color: #8b8b8b;
  font-weight: 400;
}
.content-container .input-group-field {
  padding-left: 45px;
}
.horizontal-margin-right {
  margin-right: 10px;
}
.cursor{
  cursor: pointer;
}
.top-margin{
margin-top: 30px;
}

 .header a {
    font-weight: 600;
    font-size: 12px;
    color: #40a8f1;
    margin-top: 2px;
}
.text-moderate-bold {
  font-weight: bold;
}
.modal .modal-dialog.modal-top-center-650
{
  width: 700px;
  overflow: auto;
}
  //end of ED css



 /*  bhoechie tab */

 .bhoechie-tab-container {
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

.bhoechie-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.bhoechie-tab-menu .list-group {
  margin-bottom: 0;
}

.bhoechie-tab-menu .list-group>a {
  margin-bottom: 0;
}

.bhoechie-tab-menu .list-group>a .glyphicon,
.bhoechie-tab-menu .list-group>a .fa {
  color: #204d74;
}

.bhoechie-tab-menu .list-group>a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

.bhoechie-tab-menu .list-group>a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

.bhoechie-tab-menu .list-group>a.active,
.bhoechie-tab-menu .list-group>a.active .glyphicon,
.bhoechie-tab-menu .list-group>a.active .fa {
  background-color: #204d74;
  background-image: #204d74;
  color: #ffffff;
}

.bhoechie-tab-menu .list-group>a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #204d74;
}

.bhoechie-tab-content {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
  height: 275px;
}



.bhoechie-tab .bhoechie-tab-content:not(.active) {
  display: none;
}

.folder-icon i{
  font-size:50px;
  color:#ECD17B;
  cursor: pointer
}
 table {
  border-spacing: 0;
  border-collapse: unset;
}

.custom-table {
  margin-top: 0px;
}
.custom-table  th,
td {
  padding: 15px;
  text-align: left;
}

.custom-table tr:nth-child(even) {
  background-color: #eee;
}

.custom-table tr:nth-child(odd) {
  background-color: #fff;
}
 .menu-tile {
  height: 90px;
  padding: 0 10px;
}
.vertical-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clear-bottom {
  margin-bottom: 0!important;
}
.clear-side-padding {
  padding-left: 0;
  padding-right: 0;
}

//MyTeam Summary CSS

 .menu-tile .menu {
  height: 90px;
  background-color: #967adc;
  padding: 10px;
  color: #fff;
}
 .link-count {
  display: block;
  margin-top: 55px;
 }
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.pull-left {
  float: left!important;
}

#myteam-leaves {
  font-size: 13px;
  position: relative;
  padding-top: 20px;
  max-width: 1280px;
}
#myteam-leaves .leaves-summary {
  color: #666;
  font-size: 11px;
}
#myteam-leaves .leaves-summary .leaves-summary-calender .month {
  color: #000;
}

#myteam-leaves .leaves-summary .leaves-summary-calender {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

#myteam-leaves .arrow-icon {
  background-color: #50a6f0;
  color: #fff;
  padding: 0;
  font-size: 20px!important;
}
#myteam-leaves .arrow-icon i{
  font-size: 15px;
}
#myteam-leaves .leaves-summary .leaves-summary-days {
  margin-top: 1.2%;
}
#myteam-leaves .leaves-summary .leaves-summary-days ul {
  padding: 0;
  margin-bottom: 0;
}
#myteam-leaves .leaves-summary .leaves-summary-days .day {
  border: 1px solid #b0e0f6;
  height: 30px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 14px;
  background-color: #e1f1fe;
  margin-bottom: 4px;
}
#myteam-leaves .leaves-summary .leaves-summary-days .month-days:first-child {
  border-left: 1px solid #b0e0f6!important;
}
#myteam-leaves .leaves-summary .leaves-summary-days .month-days:last-child {
  border-right: 1px solid #b0e0f6!important;
}
#myteam-leaves .leaves-summary .leaves-summary-days li {
  text-align: center;
  display: block;
  float: left;
  width: 2.8%;
  margin-right: .44%;
}
#myteam-leaves .leaves-summary .leaves-summary-days .month-days {
  border-left: none;
  border-right: none;
  width: 3.225%!important;
  padding-right: 4px;
  padding-left: 2px;
}
.clear-right-margin {
  margin-right: 0!important;
}
.clear-left-margin {
  margin-left: 0!important;
}

#myteam-leaves .leaves-summary .leaves-summary-days li {
  text-align: center;
  display: block;
  float: left;
  width: 2.7%;
  margin-right: .52%;
}
#myteam-leaves .leaves-summary .leaves-summary-days .date div {
  height: 40px;
  font-size: 15px;
  padding-top: 5px;
}
#myteam-leaves .low-priority {
  background-color: #a4d849;
}
#myteam-leaves .no-priority {
  background-color: #eee;
}
#myteam-leaves .off {
  background-color: #c68cff;
}
#myteam-leaves .leave-summary-details {
  margin-top: 10px;
  height: auto;
  max-height: 316px;
  overflow-y: scroll;
}

#myteam-leaves .leave-summary-details .repeat-details {
  margin-top: 10px;
}
#myteam-leaves .leave-summary-details .details {
  margin-bottom: 3px;
}
#myteam-leaves .leave-summary-details .heat-map {
  padding-left: 5px;
  padding-right: 8px;
  margin-right: 12px;
}
#myteam-leaves .leave-summary-details .heat-map-date {
  margin-right: 10px;
  display: inline-block;
  width: 75px;
  font-weight: 700;
  color: #515151;
}


.alert {
  color: #3787ac !important;
  font-size: 14px;
  margin-top: 30px;
}
.report-info-list {
  padding: 0;
  margin-top: 15px;
  margin-left: 20px;
}
.report-info-list li {
  margin-bottom: 10px;
  position: relative;
  list-style-type: decimal;
  color: #409ce7;
}
.report-info-list li a {
  color: #409ce7!important;
}


//my team leave page css

.request-form {
  background-color: #e1f1fe;
  padding: 5px;
  margin-top: 10px;
  font-size: 13px;
  border: 1px solid #b0e0f6;
  max-width: 1280px;
}
.request-form .collpase {
  padding: 3px;
  cursor: pointer;
}
 .collpase-icon {
  color: #fff;
  font-weight: lighter;
  padding: 5px 8px;
  background-color: #89a3ce;
  border-radius: 50%;
  font-size: 20px;
  margin-top: -4px;
}
.pending-leave {
  padding-top: 5px;
}

.internal-padding {
  padding-left: 10px;
}
 
.member-profile-picture-container.profile-picture-container {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: transparent!important;
}

.member-profile-picture-container.profile-picture-container .img-initials {
  font-size: 13px;
  padding: 6px 4px;
  padding-top: 6px;
  background-color: #6f8ab5;
  text-transform: uppercase;
  height: 30x;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.leave-details {
  margin-bottom: 2px;
}

 .leave-details .aDisplayName {
  color: #000;
}
.request-calender {
  height: 70px;
  width: 82px;
  float: right;
}
.request-calender .month-view {
  height: 25px;
  background-color: #e64040;
  display: inline-block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #e64040;
  color: #fff;
}
.request-calender .month-view span {
  display: block;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  position: relative;
  top: 1px;
}
.request-calender .month-view .dot {
  display: inline;
  top: -3px;
  font-size: 13px;
}
.request-calender .date-view {
  background-color: #fff;
  display: inline-block;
  height: 50px;
  width: 100%;
  margin-top: -5px;
  border: 1px solid #e7e6e6;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 1px 0 2px;
}
.request-calender .date-view ul {
  padding: 13px 5px;
}
.request-calender .date-view ul {
 list-style: none;
}

.request-calender .date-view .date-text .day {
  font-size: 20px;
  color: #4f4f4f;
}
.request-calender .date-view .date-saperator {
  position: relative;
  top: 10px;
  left: 2px;
  font-size: 25px;
}
.request-calender .date-view .date-text .week {
  text-transform: uppercase;
  color: #979797;
  font-size: 10px;
  position: relative;
  top: -8px;
  padding-left: 2px;
}

.simple-comments .comment-box-container {
 top:15px;
}
.simple-comments .comment-box-container textarea {
  font-style: italic;
 
}
textarea.form-control {
  height: auto;
}
.no-resize {
  resize: none;
}
.team-stats{
  top:15px;
}
.request-form .internal-padding {
  padding-left: 10px;
}
.request-form .leave-request-options {
  font-weight: 500;
  padding-right: 10px;
}
.request-form a {
  text-decoration: none!important;
  outline: 0!important;
}
.request-form a {
  color: #52b8e9;
  text-decoration: none;
}


.employee-summary-container .content-container {
  margin-bottom: 0px;
}

.clear-right-padding {
  padding-right: 0!important;
}
.content-container {
  background-color: #fff;
  border-radius: 4px;
  padding-bottom: 20px;
}
.employee-summary-container .banner-row .banner-title {
  margin-top: 25px;
}
.employee-summary-container .banner-row h5 {
  margin-bottom: 0;
  padding-left: 5px;
}
.employee-summary-container .banner-title {
  color: #333;
  text-transform: uppercase;
  padding-top: 7px;
}
.h5, h5 {
  font-size: 12px;
}
.employee-summary-container a {
  text-decoration: none!important;
  outline: 0!important;
}

.employee-summary-container a {
  color: #52b8e9;
  text-decoration: none;
}
.employee-summary-container a {
  background-color: transparent;
}
.employee-summary-container .banner-row h1 {
  color: #24aaf5;
  font-size: 40px;
  margin: 0;
}

 .block-heading {
  color: #333;
  text-transform: uppercase;
  padding-top: 7px;
}
.mytraffic-chart{
  width: 130px;
  position: relative;
  /* min-height: 300px; */
  float: left;
}

.chart-legend {
  height: 125px;
  overflow-y: auto;
}
.legend-item {
  color: #666;
  font-size: 12px;
  margin-bottom: 3px;
}
.legend-item span {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: text-top;
}

.piechart-top{
  top:30px;
}



//payroll css

.payroll-summary .payroll-nav-bar .payroll-month-nav {
  margin-top: 15px;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell.cell-spacing {
  padding-right: .5%;
}

.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell {
  min-width: 76px;
  position: static;
  float: left;
  width: 8.333%;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab.pending .month-status {
  background-color: #de9c29;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab.upcoming .month-status {
  background-color: #a8adb7;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab.current .month-status {
  background-color: #329cda;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell.active .month-status:before {
  content: '';
  position: absolute;
  background:#ddd;
  height: 5px;
  top: 78px;
  width: 100%;
  left: 0;
}

.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell.active .month-status {
  height: 23px;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab.completed {
  background-color:#56b356;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell.active .completed .month-status:before {
  background-color:#56b356;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab.pending {
  background-color: #f9af2e;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell.active .pending .month-status:before {
  background-color: #f9af2e;
}

.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab.current {
  background-color: #3cb4fa;
}

.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell.active .current .month-status:before {
  background-color: #329cda;
  
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab.upcoming {
  background-color: #c7ccd5;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell.active .upcoming .month-status:before {
  background-color: #c7ccd5;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab {
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab .month-info {
  height: 55px;
  padding-top: 15px;
}

.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab .month-info .name {
  font-weight: 600;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab .month-info .year {
  font-size: 13px;
  margin-top: -2px;
}
.payroll-summary .payroll-nav-bar .payroll-month-nav .month-tab-cell.active .month-status span {
  position: relative;
  top: 0px;
}
.payroll-summary .month-details {
  margin-top: 30px;
}
.payroll-summary .month-details .dater {
  text-transform: capitalize;
}
.payroll-summary .month-details .dater .name {
  font-weight: 700;
}
.payroll-summary .month-details .dater .date-range {
  font-size: 13px;
  color: #7d7d7e;
  margin-top: 7px;
}
.payroll-summary .right-vr {
  position: relative;
}
.payroll-summary .item-count {
  margin-top: 5px;
  font-weight: 300;
  font-size: 36px;
}

.payroll-summary .month-details .employees .item-count .badge.success {
  color: #4b9d4b;
  background-color: white;
}
.payroll-summary .month-details .employees .item-count .badge.failure {
  color: #ea4c4c;

}
.v-align-middle {
  vertical-align: middle!important;
}
.payroll-summary .month-details .employees .item-count .badge {
  position: static;
  border-radius: 5px;
  background-color: #fff;
  height: 20px;
  width: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 0;
}
.payroll-summary .right-vr:after {
  position: absolute;
  content: '';
  border-right: 1px solid #d9d9d9;
  top: 6px;
  right: 20%;
  border-top: 50px solid #d9d9d9;
}
.payroll-summary .month-details .employees .item-count .badge.success:after {
  content: '';
  border-left: 1px solid #dbdee2;
  left: 40%;
  position: relative;
}
.payroll-summary .monthly-summary {
  margin-top: 15px;
  padding-bottom: 10px;
}
.payroll-summary .payroll-actions {
  margin-top: 15px;
  padding-top: 20px;
}
.clear-top {
  margin-top: 0!important;
}

.clear-bottom {
  margin-bottom: 0!important;
}
.payroll-summary .monthly-summary .month-financials .metrics-container {
  width: auto;
  margin: 4px 7% 0 0;
  position: relative;
}
.payroll-summary .monthly-summary .month-financials .metrics-container .amount {
  margin-top: 5px;
  font-weight: 300;
}
.payroll-summary .monthly-summary .month-financials .metrics-container.total:after {
  content: '=';
}
.payroll-summary .monthly-summary .month-financials .metrics-container.sum:after {
  content: '+';
}
.payroll-summary .monthly-summary .month-financials .metrics-container:after {
  position: absolute;
  right: -35px;
  top: 20px;
  color: #aeaeae;
  font-size: 18px;
  font-weight: 300;
}

.payroll-summary .pre-payroll-actions  .alert {
  background-color: #e6f2fd;
  border: 1px solid #b5e1f7;
  padding: 10px;
  margin-bottom: 6px;
  cursor: pointer;
  min-height: 75px;
}
.payroll-summary .run .btn-payroll-run {
  background-color: #4db3ed;
  color: #fff;
  box-shadow: 0 4px 0 #3d8ebb;
  border-radius: 5px;
  width: 100%;
  padding: 13px;
}
.content-container .btn {
  border: none;
  outline: 0;
  border-radius: 2px;
  text-transform: capitalize;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.payroll-summary  .run .btn-payroll-run .details {
  padding: 5px 3px;
  font-size: .8vw;
}


// admin payroll

.payrolladmin.tile-content {
  padding-top: 10px;
  color: #333;
  max-height: none;
}
.payrolladmin .inner-heading {
  color: #888;
  font-size: 13px;
}
.upper-case {
  text-transform: uppercase;
}
 .text-moderate-bold {
  font-weight: 500;
}
.text-muted {
  color: #777;
}
.payrolladmin ul {
  margin-top: 0;
  margin-bottom: 9.5px;
}
.payrolladmin .content-options li{
  list-style: none;
}
.payrolladmin .content-options li a {
  color: #50a5e9;
  margin: 5px 0 5px 20px;
  display: inline-block;
}
.payrolladmin .tile-content .content-bullet {
  position: relative;
}
.payrolladmin .tile-content .content-bullet:before {
  content: '';
  position: absolute;
  left: -20px;
  border: 4px solid #d8d8d9;
  top: 6px;
  border-radius: 50%;
}
.report-info-list {
  padding: 0;
  margin-top: 15px;
  margin-left: 20px;
}
 .report-info-list li {
  margin-bottom: 10px;
  position: relative;
  list-style-type: decimal;
  color: #409ce7;
}

//perks

.header-icon {
  color: #409ce7;
  font-size: 21px;
  margin-right: 10px;
}
.add-new {
  margin: 25px 0 20px 0;
}
.add-new a {
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
  padding: 7px 14px 7px 14px;
}
.add-new a:hover {
  background-color: #429dee;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 1px;
}
.grayout {
  color: #a9a9a9;
  cursor: default!important;
}

.title-bar {
  padding: 6px 0;
  margin: 0;
}
.title-bar span {
  margin-top: -23px;
}

.wizard-step-container {
  width: 1100px;
  margin: 30px auto 0 auto;
}


.config-field {
  margin-bottom: 15px;
}
.radio-overlay {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: .125em;
  top: -1px;
  border-radius: 100%;
  border: 1px solid #d1cfcf;
  position: relative;
  display: inline-block;
  transition: box-shadow .5s;
  vertical-align: middle;

}
 input[type=radio]:checked+.radio-overlay:before {
  content: " ";
  width: 12px;
  height: 12px;
  display: block;
  background-color: #9f9f9f;
  border-radius: 100%;
  top: 3px;
  left: 3px;
  position: absolute;
}

 input[type=radio],input[type=file] {
    display: none;
}
.radio label{
  padding-left: 0px; 
}

.config-field .icon {
  color: #b3bdcd;
  margin-left: 4px;
}
.config-field label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}
.add-link span {
  color: #52b8e9 !important;
  margin-left: 5px;
  font-size: 20px;
}
.add-link{
  color: #52b8e9 !important;
}


.payroll-loan-request .loan-request-header {
  background: #f1f3f7;
  border-bottom: 1px solid #ccc;
  top: -15px;
}
.payroll-loan-request .loan-request-header .employee-search {
  padding: 20px;
  border-right: 1px solid #ccc;
}
.payroll-loan-request .select2-container {
  width: 100%!important;
  height: 80px;
}
.payroll-loan-request .select2-container .select2-choice {
  height: 80px!important;
  background: #f1f3f8;
  border: none;
  line-height: 35px;
}
.select2-container .select2-choice>.select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-result-item {
  height: 72px;
  border-bottom-width: 1px;
  border-bottom-color: #d3d3d3;
  border-bottom-style: solid;
  padding: 10px!important;
}

.payroll-loan-request .loan-request-header .employee-salary-details {
  padding: 25px;
}
.form-group label {
  font-size: 11px;
  color: #888;
  text-transform: uppercase;
  font-weight: 700;
}
.payroll-loan-request .loan-request-header .employee-salary-details .value {
  font-size: 18px;
}

.payroll-loan-request .loan-request-header .icon-custom.success {
  color: #78cd51;
}
.payroll-loan-request .loan-request-header label {
  font-weight: 400;
}
.benefits-items-list .bordered-item {
  border: 1px solid #cbcdd2;
  border-radius: 4px;
  padding: 15px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}


//payroll loans

.payroll-loan-container .loan-stats .good-loan, .payroll-loan-container .loan-stats .loan-action {
  width: 37%;
}
.payroll-loan-container .loan-stats .good-loan .content-container {
  background-color: #309aef;
}
.payroll-loan-container .loan-stats .good-loan .content-container .amount,.payroll-loan-container .loan-stats .bad-loan .content-container .amount {
  font-size: 35px;
  font-weight: 300;
}
.payroll-loan-container .loan-stats .bad-loan .content-container, .payroll-loan-container .loan-stats .good-loan .content-container {
  color: #fff;
  padding: 0px 10px 15px 5px;
}
.payroll-loan-container .loan-stats .bad-loan {
  width: 20%;
}

.payroll-loan-container .loan-stats .bad-loan .content-container {
  background-color: #ff933f;
}
.good-loan  p {
  margin: 15px 0 10px;
}
.bad-loan p {
  margin: 15px 0 10px;
}
.payroll-loan-container .loan-stats .loan-action {
  min-height: 94px;
}
.payroll-loan-container .loan-stats .loan-action .content-container {
  padding: 15px 20px 25px 20px;
}
.payroll-loan-container .loan-stats .loan-action .content-container .action-link {
  font-size: 14px;
  display: block;
  margin-bottom: 11px;
  margin-top: 10px;
}
.payroll-loan-container .loan-stats  a {
  color: #52b8e9;
}
.payroll-loan-request .page-heading {
  text-transform: uppercase;
  font-weight: 500;
}
.payroll-loan-request .action-panel {
  background: #f8f8f8;
  padding: 25px;
  min-height: 350px;
}
.form-horizontal .control-label {
  text-align: left;
}
.emi-tile {
  width: 100%;
  float: right;
  height: 100px!important;
  box-shadow: 4px 4px 2px #fe9b37!important;
  background: #fe9b37!important;
  padding: 25px 20px!important;
}
.emi-tile h1 {
  font-size: 26px;
}
.emi-tile small {
  color: #fff;
}
.tile {
   
   height: 320px; 
    color: #fff !important;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #e3e3e3;
}
.payroll-loan-request .input-textbox-md {
  width: 100px;
  display: inline-block;
}
.payroll-loan-request .form-control {
 background-color:  #fff !important;
}


// .ui-grid-top-panel {
//   position: relative;
//   overflow: hidden;
//   font-weight: 700;
//   background: #C4C2BE;
//   -webkit-border-top-right-radius: -1px;
//   -webkit-border-bottom-right-radius: 0;
//   -webkit-border-bottom-left-radius: 0;
//   -webkit-border-top-left-radius: -1px;
//   -moz-border-radius-topright: -1px;
//   -moz-border-radius-bottomright: 0;
//   -moz-border-radius-bottomleft: 0;
//   -moz-border-radius-topleft: -1px;
//   border-top-right-radius: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
//   border-top-left-radius: -1px;
//   -moz-background-clip: padding-box;
//   -webkit-background-clip: padding-box;
//   background-clip: padding-box;
// }
// .ui-grid-cell {
//   overflow: hidden;
//   float: left;
//   background-color: inherit;
//   border-right: 1px solid;
//   border-color: #d4d4d4;
//   box-sizing: border-box;
// }

//my finances

.tile {
  background: #fff;
  height: 320px;
  color: #fff;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px #e3e3e3;
}
.tile .tile-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fff;
  color: #000;
  height: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
 .my-finance-summary .tile .tile-content .detail-container .detail {
  color: grey;
}
 .my-finance-summary .tile {
  color: #313940;
}
.my-finance-summary .tile .tile-header {
  height: 65px;
}
.tile .tile-content {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 25px;
  max-height: 385px;
  overflow: auto;
  border-radius: 5px;
}
.my-finance-summary .tile .tile-content .summary {
  min-height: 140px;
}
.my-finance-summary .tile .tile-content .detail-container {
  margin-bottom: 25px;
}

.my-finance-summary .salary-summary.tile .tile-content .detail-container .title {
  color: #b1b3b8;
  font-size: 13px;
  font-weight: 400;
}
.my-finance-summary .tile .tile-content .detail-container {
  margin-bottom: 25px;
color: grey;
}

.my-finance-container .content-container {
  border-radius: 0;
}
.salary-hierarchy-container {
  margin-top: 50px;
}
.salary-hierarchy-container .step-container {
  z-index: 101;
  min-width: 100px;
}
.salary-hierarchy-container .step-container .step.active {
  border: 2px solid #add5f6;
  padding: 22px 8px;
}
.salary-hierarchy-container .step-container .step {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #43a2ec;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  padding: 18px 8px;
  text-transform: uppercase;
  position: absolute;
  left: -10px;
}
.salary-hierarchy-container .salary-table {
  margin: 8px 0;
  font-size: 11px;
}
.salary-hierarchy-container .salary-table .table-header {
  background-color: #6c7481;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
  padding: 15px 25px;
}
.salary-hierarchy-container .salary-table .table-header:before {
  border-color: rgba(230,220,220,0);
  border-right-color: #6c7481;
  border-width: 8px;
  margin-top: -8px;
}
.salary-hierarchy-container .salary-table .table-header:after, .salary-hierarchy-container .salary-table .table-header:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.salary-hierarchy-container .salary-table .metric-container.right-margin {
  margin-right: 21px;
}
.salary-hierarchy-container .salary-table .metric-container {
  float: left;
  color: #fff;
  position: relative;
}
.salary-hierarchy-container .salary-table .metric-container .amount {
  font-weight: 500;
  font-size: 12px;
}
.salary-hierarchy-container .salary-table .metric-container.sum:after {
  content: '+';
}
.salary-hierarchy-container .salary-table .metric-container:after {
  position: absolute;
  right: -25px;
  top: 7px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.salary-hierarchy-container .salary-table .metric-container.left-margin {
  margin-left: 25px;
}

.salary-hierarchy-container .salary-table .metric-container {
  float: left;
  color: #fff;
  position: relative;
}
.salary-hierarchy-container .salary-table .metric-container.total:after {
  content: '=';
}
.salary-hierarchy-container .salary-table .header-collpase-icon {
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 4px 4px;
  color: #fff;
  margin-top: 7px;
}
.salary-hierarchy-container .salary-table .table-content {
  border: 1px solid #e6dcdc;
  border-top: none;
}
.salary-hierarchy-container .salary-table .table-content .summary-heading {
  background-color: #f6f6f6;
  padding: 5px 10px;
  border-top: 1px solid #e6dcdc;
  border-bottom: 1px solid #e6dcdc;
}
.salary-hierarchy-container .salary-table .heading {
  color: #000;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 700;
}
.salary-hierarchy-container .salary-table .table-content .salary-summary .summary-details {
  color: #333;
}
.salary-hierarchy-container .salary-table .table-content .salary-summary .summary-details .sub-heading {
  color: #949494;
  font-weight: 500;
}
p {
  margin: 0 0 9.5px;
}
.salary-hierarchy-container .salary-table .table-header:before {
  border-color: rgba(230,220,220,0);
  border-right-color: #6c7481;
  border-width: 8px;
  margin-top: -8px;
}
.expense-details-container h2 {
  color: #666;
}
// .expense-check-box input[type=checkbox], .expense-details-container .claim-detail input[type=checkbox], .expense-details-container .expense-detail input[type=checkbox] {
//   display: block;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   height: 20px;
//   width: 20px;
//   border: 1px solid #d5d5d5;
//   border-radius: 2px;
//   position: relative;
//   cursor: pointer;
// }
.expense-details-container .claims-btn {
  margin-top: 22px;
  margin-left: 15px;
}
.content-container .list-items-view .row-item:last-child {
  border-bottom: 1px solid #dbdfeb;
}
.content-container .list-items-view .row-item {
  border-top: 1px solid #dbdfeb;
  padding-top: 10px;
  padding-bottom: 10px;
}
.expense-details-container .expense-detail .information-tooltip {
  font-size: 30px !important;
}
.content-container .list-items-view .row-item .icon-action {
  font-size: 32px;
  margin-bottom: 5px;
}
// .expense-check-box input[type=checkbox]:checked:after, .expense-details-container .claim-detail input[type=checkbox]:checked:after, .expense-details-container .expense-detail input[type=checkbox]:checked:after {
//   content: ' ';
//   width: 12px;
//   height: 12px;
//   background-color: #3d9eed;
//   position: absolute;
//   top: 3px;
//   left: 3px;
// }
.text-bold {
  font-weight: 600;
}

.pdfViewer {
  border: 1px solid #ccc;
  background-color: #444;
  text-align: center;
  height: calc(100vh - 100px);
  overflow: auto;
}
.expense-detail-container .pdfViewer .upload-file {
  position: absolute;
  top: 45%;
  left: 45%;
  cursor: pointer;
  text-align: right;
}

.expense-detail-container .pdfViewer .upload-file .upload-text {
  font-size: 16px;
  color: #3d9eed;
  display: block;
}
.expense-detail-container .pdfViewer .upload-file .upload-icon {
  font-size: 100px;
  color: #d3d3d3;
  cursor: pointer;
}
 .content-container .receipt {
  text-transform: none!important;
  color: #52b8e9 !important;
  text-decoration: underline;
  cursor: pointer;
  font-size:15px;
}
.receipt span{
  color: #52b8e9 !important;
  font-size:15px;
}
.content-container .list-items-view .row-item .action-text {
  color: #868686;
  text-transform: uppercase;
  font-size: 10px;
}

//fainances payslip

.pay-slip-container .page-heading {
  margin-top: 20px;
  margin-bottom: 5px;
}

.pay-slip-container .pay-slip-year label {
  padding: 5px 12px;
}
.pay-slip-container .pay-slip-year{
  display:inline;
  float: left;
}
.form-group label {
  font-size: 11px;
  color: #888;
  text-transform: uppercase;
  font-weight: 700;
}
.content-container .btn {
  border: none;
  outline: 0;
  border-radius: 2px;
  text-transform: capitalize;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 13px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 3px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

 .pay-slip-container .pay-slip-designer {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ebebeb;
  padding: 20px 20px 20px 40px;
  font-size: 13px;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container {
  background-color: #fff;
  padding: 10px 10px 30px 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  box-shadow: 0 0 15px 5px #d3d3d3;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .company-details {
  text-transform: uppercase;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .company-details .title {
  margin: 10px 0;
  font-weight: 400;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .company-details address {
  width: 237px;
  font-size: 11px;
  margin: 0;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .personal-details, .my-finance-container .pay-slip-container .pay-slip-designer .pay-slip-designer-container .salary-details {
  margin-top: 40px;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .title {
  text-transform: uppercase;
  font-weight: 600;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .detail-wrapper {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.pay-slip-container .pay-slip-designer .pay-slip-designer-container .detail-wrapper .detail-container {
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #b1b3b8;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .detail-wrapper .detail-container {
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #b1b3b8;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .detail-wrapper .detail-container .title {
  color: #b1b3b8;
  font-size: 11px;
  font-weight: 500;
}
.pay-slip-container .pay-slip-designer .pay-slip-designer-container .title {
  text-transform: uppercase;
  font-weight: 600;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .detail-wrapper .detail-container.pay-field-noborder {
  border-bottom: none;
}
.pay-slip-container .pay-slip-designer .pay-slip-designer-container .salary-details {
  margin-top: 40px;
}
 .pay-slip-container .pay-slip-designer .pay-slip-designer-container .salary-details .salary-tile .includeYTDColumn {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pay-slip-container .pay-slip-designer .pay-slip-designer-container .salary-details .salary-container:before {
  content: '';
  border-right: 1px solid #b1b3b8;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 0;
}

/* form styling */
#form-container                { background:#2f2f2f; margin-bottom:20px;
  border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px; 
  border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */

#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
  border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#00BC8C; }