// Created By PP

.icon-size i{
    font-size:50px;
  }
  .clear-side-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .link-item {
    margin-top: 15px;
  }
  .link-item  i{
    font-size:15px;
  }
