<!--<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          Save
        </button>
    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
</form>
<div class="buttons" ng-show="!rowform.$visible">
    <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
</div>-->
<!--<a><i class="fa fa-pencil-square-o"></i></a>-->