<!--<grid-box ng-model="page"></grid-box>-->
<!--
<div class="row" ng-controller="employeeBenefitDetail">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="Benefit" ba-panel-class="with-scroll">

            <div id="djGrid1" ui-grid="gridOptions" ui-grid-auto-resize  ui-grid-edit  ui-grid-selection ui-grid-pinning class="djGrid">
            </div>
            <div class="col-md-4">
                <input type="button" value="Save" ng-click="saveBenefit()" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>-->