<grid-box ng-model="page" ng-hide="showEditForm">
</grid-box>

<form name="editForm" novalidate ng-submit="saveForm(editForm)" ng-show="showEditForm">
    <div class="panel panel-default xmedium-panel">
        <edit-panel-head page="page" page-title="page.pageinfo.title" reset-form="resetFormCommon(editForm)" clear-form="clearFormCommon(editForm)"
            close-form="closeForm(editForm)" show-close="true" show-save="true" show-clear="true" show-list="false" show-reset="true"
            condition="true"></edit-panel-head>

        <div class="panel-body" style="padding:5px" ng-scrollbars ng-scrollbars-config="config">

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LocationId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LocationId" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.BRId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.BRId" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRSubUnitId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRSubUnitId" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRGradeId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRGradeId" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRLevelId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRLevelId" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRLTId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRLTId" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRWEFDate.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRWEFDate" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRToDate.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRToDate" ng-entity="entity" form="editForm"></field-box>
                </div>



            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRNumberOfDay.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRNumberOfDay" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRCycleDayOfMonth.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRCycleDayOfMonth" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRLeaveDays.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRLeaveDays" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRDayCriteriaId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRDayCriteriaId" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>



            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRPaymentModeId.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRPaymentModeId" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRMinDays.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRMinDays" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRMaxDays.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRMaxDays" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRTotAnlLeaveDays.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRTotAnlLeaveDays" ng-entity="entity" form="editForm" page="page"></field-box>
                </div>
            </div>



            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCRInProbation.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsCRInProbation" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRDrInProbation.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRDrInProbation" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCarryForwardMonthly.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsCarryForwardMonthly" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsLeaveEncashable.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsLeaveEncashable" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsSandwichLeave.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsSandwichLeave" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsPartialLeaveAllowed.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsPartialLeaveAllowed" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsHalfDayAllowed.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsHalfDayAllowed" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCreditBeforeWork.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsCreditBeforeWork" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsAllowedDailyAllowance.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsAllowedDailyAllowance" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsSeparateFromOffDay.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsSeparateFromOffDay" ng-entity="entity" form="editForm"></field-box>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCheckCreditPolicy.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsCheckCreditPolicy" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div ng-if="!entity.LCRIsCheckCreditPolicy" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRMinPresentDay.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRMinPresentDay" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCarryForwardYearly.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsCarryForwardYearly" ng-entity="entity" form="editForm">
                </div>
                <div ng-if="entity.LCRIsCarryForwardYearly" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRNumberOfLeave.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRNumberOfLeave" ng-entity="entity" form="editForm"></field-box>
                </div>


            </div>

            <div class="row">
                
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsShortLeave.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsShortLeave" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div ng-if="entity.LCRIsShortLeave" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRAllowedShortCount.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRAllowedShortCount" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div ng-if="entity.LCRIsShortLeave" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRMaxShortLeaveMinutes.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRMaxShortLeaveMinutes" ng-entity="entity" form="editForm"></field-box>
                </div>



            </div>





            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRTreatAs.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRTreatAs" ng-entity="entity" form="editForm"></field-box>
                </div>
                
                <div ng-if="entity.LCRTreatAs" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsTreatAsAbsent.text}}</label>
                    <input type="radio" name="commonRedioForPresentOrAbsent" ng-model="entity.LCRIsTreatAsAbsent" value="absentD">
                    <!--<field-box page="page" ng-column="page.pageinfo.fields.LCRIsTreatAsAbsent" ng-entity="entity" form="editForm"></field-box>-->
                </div>
                <div ng-if="entity.LCRTreatAs" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LTRIsPresentDays.text}}</label>
                    <input type="radio" name="commonRedioForPresentOrAbsent" ng-model="entity.LTRIsPresentDays" value="presentD">
                    <!--<field-box page="page" ng-column="page.pageinfo.fields.LTRIsPresentDays" ng-entity="entity" form="editForm"></field-box>-->
                </div>
               
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsOneTimeApplicable.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsOneTimeApplicable" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div ng-if="entity.LCRIsOneTimeApplicable" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRNextApplicable.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRNextApplicable" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsNegativeLeaveAllow.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsNegativeLeaveAllow" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div ng-if="entity.LCRIsNegativeLeaveAllow" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRNumberOfNegativeLeave.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRNumberOfNegativeLeave" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsComOff.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRIsComOff" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div ng-if="entity.LCRIsComOff" class="form-group col-md-3">
                    <label for="inputPassword3" clas>{{page.pageinfo.fields.LCRIsCompOffCash.text}}</label>
                    <input type="radio" name="commonRedioForCompOff" ng-model="entity.LCRIsCompOffCash">
                </div>
                <div ng-if="entity.LCRIsComOff" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCompOffLeave.text}}</label>
                    <input type="radio" name="commonRedioForCompOff" ng-model="entity.LCRIsCompOffLeave">
                </div>
                <div ng-if="entity.LCRIsComOff" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCompOffNone.text}}</label>
                    <input type="radio" name="commonRedioForCompOff" ng-model="entity.LCRIsCompOffNone">
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3" clas>{{page.pageinfo.fields.LCROnCalendarYear.text}}</label>
                    <input type="radio" name="commonRedio" ng-model="yearRange" value="calc">
                    <!--<field-box page="page" ng-column="page.pageinfo.fields.LCROnCalendarYear" ng-entity="entity" form="editForm"></field-box>-->
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCROnFinanceYear.text}}</label>
                    <input type="radio" name="commonRedio" ng-model="yearRange" value="fiscal">
                    <!--<field-box page="page" ng-column="page.pageinfo.fields.LCROnFinanceYear" ng-entity="entity" form="editForm"></field-box>-->
                </div>

                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsDayWise.text}}</label>
                    <input type="radio" name="commonRedio" ng-model="yearRange" value="days">
                    <!--<field-box page="page" ng-column="page.pageinfo.fields.LCRIsDayWise" ng-entity="entity" form="editForm"></field-box>-->
                </div>
                <div ng-if="entity.LCRIsDayWise" class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRDayDuration.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCRDayDuration" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>
            <div ng-if="entity.LCROnFinanceYear || entity.LCROnCalendarYear" class="row">
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCREffectedDateFrom.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCREffectedDateFrom" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCREffectedDateTo.text}}</label>
                    <field-box page="page" ng-column="page.pageinfo.fields.LCREffectedDateTo" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

        </div>
    </div>
</form>