<grid-box ng-model="page" ng-hide="showEditForm">
</grid-box>

<form name="editForm" novalidate ng-submit="saveForm(editForm)" ng-show="showEditForm">
    <div class="panel panel-default xmedium-panel">
        <edit-panel-head page-title="page.pageinfo.title" reset-form="resetFormCommon(editForm)" clear-form="clearFormCommon(editForm)"
            close-form="closeForm(editForm)" show-close="true" show-save="true" show-clear="true" show-list="false"
            show-reset="true" condition="true"></edit-panel-head>

        <div class="panel-body" style="padding:5px" ng-scrollbars ng-scrollbars-config="config">


            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRLTId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRLTId" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRGradeId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRGradeId" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRLevelId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRLevelId" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LocationId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LocationId" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.BRId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.BRId" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRSubUnitId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRSubUnitId" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRPaymentModeId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRPaymentModeId" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRDayCriteriaId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRDayCriteriaId" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRNumberOfDay.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRNumberOfDay" ng-entity="entity" form="editForm"></field-box>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRLeaveDays.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRLeaveDays" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRTotAnlLeaveDays.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRTotAnlLeaveDays" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRMinDays.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRMinDays" ng-entity="entity" form="editForm"></field-box>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRMaxDays.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRMaxDays" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>








            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3" clas>{{page.pageinfo.fields.LCROnCalendarYear.text}}</label>
                    <input type="radio" name="commonRedio" ng-model="yearRange" value="calc">
                    <!--<field-box ng-column="page.pageinfo.fields.LCROnCalendarYear" ng-entity="entity" form="editForm"></field-box>-->
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCROnFinanceYear.text}}</label>
                    <input type="radio" name="commonRedio" ng-model="yearRange" value="fiscal">
                    <!--<field-box ng-column="page.pageinfo.fields.LCROnFinanceYear" ng-entity="entity" form="editForm"></field-box>-->
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsDayWise.text}}</label>
                    <input type="radio" name="commonRedio" ng-model="yearRange" value="days">
                    <!--<field-box ng-column="page.pageinfo.fields.LCRIsDayWise" ng-entity="entity" form="editForm"></field-box>-->
                </div>
            </div>
            <!--{{entity.LCROnCalendarYear}}{{entity.LCROnFinanceYear}}{{entity.LCRIsDayWise}}-->

            <div class="row" ng-if="entity.LCRIsDayWise">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRDayDuration.text}}</label>

                    <field-box ng-column="page.pageinfo.fields.LCRDayDuration" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <!--<div class="row" id="fromDateToDate" ng-if="entity=='onCalenderYear'||entity=='onFinacielYear'">-->
            <div class="row" ng-if="entity.LCROnFinanceYear || entity.LCROnCalendarYear">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCREffectedDateFrom.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCREffectedDateFrom" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCREffectedDateTo.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCREffectedDateTo" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>






            <div class="row">

                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCarryForwardMonthly.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsCarryForwardMonthly" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsLeaveEncashable.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsLeaveEncashable" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsSandwichLeave.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsSandwichLeave" ng-entity="entity" form="editForm"></field-box>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsPartialLeaveAllowed.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsPartialLeaveAllowed" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsHalfDayAllowed.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsHalfDayAllowed" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCarryForwardYearly.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsCarryForwardYearly" ng-entity="entity" form="editForm">

                </div>
            </div>
            <!--{{entity.LCRIsCarryForwardYearly}}-->
            <div class="row" ng-if="entity.LCRIsCarryForwardYearly">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRNumberOfLeave.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRNumberOfLeave" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsCreditBeforeWork.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsCreditBeforeWork" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsTreatAsAbsent.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsTreatAsAbsent" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LTRIsPresentDays.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LTRIsPresentDays" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsTreatHalfDay.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsTreatHalfDay" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsAllowedDailyAllowance.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsAllowedDailyAllowance" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsSeparateFromOffDay.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsSeparateFromOffDay" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>



            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputPassword3">{{page.pageinfo.fields.LCRIsOneTimeApplicable.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.LCRIsOneTimeApplicable" ng-entity="entity" form="editForm"></field-box>
                </div>

            </div>

            <!--<div class="form-group col-md-4">
                        <label for="inputPassword3" >{{page.pageinfo.fields.LCRDayCriteriaId.text}}</label>
                        <field-box ng-column="page.pageinfo.fields.LCRDayCriteriaId" ng-entity="entity" form="editForm"></field-box>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword3" >{{page.pageinfo.fields.LCRDayCriteriaId.text}}</label>
                        <field-box ng-column="page.pageinfo.fields.LCRDayCriteriaId" ng-entity="entity" form="editForm"></field-box>
                    </div>-->


        </div>-->
    </div>
    <!--<div class="row">
                <div class="form-group col-md-6">
                    <div class="row">

                        <div class="col-md-4">
                            <label for="inputPassword3" class="control-label">{{page.pageinfo.fields.AEADAPPDateKey.text}}</label>
                        </div>
                        <div class="col-md-8">
                            <field-box ng-column="page.pageinfo.fields.AEADAPPDateKey" ng-entity="entity" form="editForm"></field-box>
                        </div>
                    </div>


                </div>
                <div class="form-group col-md-6">
                    <div class="row">

                        <div class="col-md-4">
                            <label for="inputPassword3" class="control-label">{{page.pageinfo.fields.AEADAttInTimeKey.text}}</label>
                        </div>
                        <div class="col-md-8">
                            <field-box ng-column="page.pageinfo.fields.AEADAttInTimeKey" ng-entity="entity" form="editForm"></field-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="row">

                        <div class="col-md-4">
                            <label for="inputPassword3" class="control-label">{{page.pageinfo.fields.AEADAttOutTimeKey.text}}</label>
                        </div>
                        <div class="col-md-8">
                            <field-box ng-column="page.pageinfo.fields.AEADAttOutTimeKey" ng-entity="entity" form="editForm"></field-box>
                        </div>
                    </div>


                </div>
                <div class="form-group col-md-6">
                    <div class="row">

                        <div class="col-md-4">
                            <label for="inputPassword3" class="control-label">{{page.pageinfo.fields.AEADRemarksKey.text}}</label>
                        </div>
                        <div class="col-md-8">
                            <field-box ng-column="page.pageinfo.fields.AEADRemarksKey" ng-entity="entity" form="editForm"></field-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputPassword3">{{page.pageinfo.fields.AEADEmpId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.AEADEmpId" ng-entity="entity" form="editForm"></field-box>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword3" class="col-sm-3 control-label">{{page.pageinfo.fields.AEADEmpId.text}}</label>
                    <field-box ng-column="page.pageinfo.fields.AEADEmpId" ng-entity="entity" form="editForm"></field-box>
                </div>
            </div>-->
    </div>
    </div>

</form>