<div class="pay-slip-wrapper ">
    <!-- ngIf: ctrl.isPaySlipAvailable -->
    <div class="clearfix pay-slip-container content-container " >
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4 class="page-heading">Payslips</h4>
            <p>Here you can manage all keka generated payslips for applicable financial years.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-3 col-md-3 col-lg-2 clear-side-padding">
                <div class="form-group col-md-12 vertical-margin  clear-side-padding pay-slip-year">
                    <label class="control-label col-sm-4 col-md-4 clear-right-padding" for="year">YEAR</label>
                    <div class="input-group col-sm-8 col-md-8">
                        <button name="year" data-toggle="dropdown" class="col-sm-12 col-lg-12 col-md-12 btn btn-default dropdown-toggle">
                            <span class="">2018</span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- ngRepeat: year in ctrl.paySlipYearList -->
                            <li data-ng-click="ctrl.getPayslips(year.id);"
                                class="">
                                <a class="clear-side-padding">
                                    <span class="subnav-item-title ">2018</span>
                                </a>
                            </li>
                            <!-- end ngRepeat: year in ctrl.paySlipYearList -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 clear-side-padding pay-slip-months-container">
                    <ul class="nav">
                        <li>
                            <a class="sidenav-header no-pointer">
                                <span class="subnav-item-title ">Pay-slips for 2018</span>
                            </a>
                        </li>
                        <!-- ngRepeat: month in ctrl.paySlipMonthList -->
                        <li  class="">
                            <a class="clear-side-padding active" data-ng-class="{'active': month.id == ctrl.currentMonth}" data-ng-click="ctrl.selectPayslip(month.id);">
                                <span class="subnav-item-title ">June</span>
                            </a>
                        </li>
                        <!-- end ngRepeat: month in ctrl.paySlipMonthList -->
                        <li  class="">
                            <a class="clear-side-padding" data-ng-class="{'active': month.id == ctrl.currentMonth}" data-ng-click="ctrl.selectPayslip(month.id);">
                                <span class="subnav-item-title ">May</span>
                            </a>
                        </li>
                        <!-- end ngRepeat: month in ctrl.paySlipMonthList -->
                    </ul>
                </div>
            </div>
            <!-- ngIf: ctrl.currentPaySlip != null -->
            <div class="">
                <div class="pay-slip-designer clear-side-padding clearfix col-sm-9 col-lg-10" data-ng-nicescroll="" data-nice-option="vm.scrollOptions"
                    tabindex="31" style="overflow: hidden; outline: none;">
                    <div class="pay-slip-designer-container clearfix col-sm-12">
                        <div class="col-sm-12 company-details clear-left-padding">
                            <div class="col-sm-8">
                                <h2 class="">
                                    <b>PaySlip</b> June 2018</h2>
                                <div class="title ">
                                    Keka Technologies
                                </div>
                                <address class="">
                                    Kavuri Hills Madhapur Hyderabad Telangana 500033
                                </address>
                            </div>
                            <div class="col-sm-4">
                                <!-- ngIf: ctrl.currentPaySlip.orgLogo -->
                            </div>
                        </div>
                        <div class="col-sm-12 personal-details ">
                            <h4 class="title ">Deepak Jain</h4>
                            <div class="col-sm-12 detail-wrapper clear-side-padding">
                                <!-- ngIf: ctrl.currentPaySlip.paySlipFields.length > 0 -->
                                <div class="col-sm-12 clear-side-padding " >
                                    <!-- ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="1">
                                        <div class="title ">Employee Number</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">1</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="26 Feb 2012">
                                        <div class="title ">Date Joined</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">26 Feb 2012</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="Legal">
                                        <div class="title ">Department</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">Legal</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="Editor">
                                        <div class="title ">Designation</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">Editor</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="Bank Transfer">
                                        <div class="title ">Payment Mode</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">Bank Transfer</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="Dena Bank">
                                        <div class="title ">Bank</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">Dena Bank</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="UNGS0040538">
                                        <div class="title ">Bank IFSC</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">UNGS0040538</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="738475013387214">
                                        <div class="title ">Bank Account</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">738475013387214</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container  pay-field-noborder"
                                        data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="UCOBL8815N">
                                        <div class="title ">PAN</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">UCOBL8815N</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container  pay-field-noborder"
                                        data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="166211745544">
                                        <div class="title ">UAN</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">166211745544</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container  pay-field-noborder"
                                        data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="QN/QSW/43219852/3043573">
                                        <div class="title ">PF Number</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">QN/QSW/43219852/3043573</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container  pay-field-noborder"
                                        data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                       title="5049708103">
                                        <div class="title ">ESI Number</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">5049708103</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                </div>
                                <!-- end ngIf: ctrl.currentPaySlip.paySlipFields.length > 0 -->
                            </div>
                        </div>
                        <div class="col-sm-12 salary-details">
                            <h5 class="title">Salary Details</h5>
                            <div class="col-sm-12 detail-wrapper  clear-side-padding">
                                <div class="col-sm-12 detail-container  clear-side-padding">
                                    <div class="col-sm-3 clear-side-padding">
                                        <div class="title">Actual Payable days</div>
                                        <div class="detail ">30</div>
                                    </div>
                                    <div class="col-sm-3 clear-side-padding">
                                        <div class="title">Total Working Days</div>
                                        <div class="detail ">30</div>
                                    </div>
                                    <div class="col-sm-3 clear-side-padding">
                                        <div class="title">Loss of Pay Days</div>
                                        <div class="detail ">2</div>
                                    </div>
                                    <div class="col-sm-3 clear-side-padding">
                                        <div class="title">Days Payable</div>
                                        <div class="detail ">28</div>
                                    </div>
                                </div>
                                <!-- ngIf: !ctrl.currentPaySlip.includeYTDValues -->
                                <!-- ngIf: ctrl.currentPaySlip.includeYTDValues -->
                                <div class="col-sm-12 detail-container salary-container clear-side-padding ">
                                    <div class="col-sm-6 salary-tile clear-left-padding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6 ">
                                                        <h6 class="title">Earnings</h6>
                                                    </div>
                                                    <div class="col-sm-3 text-right  amount">
                                                        <h6 class="title">Amount</h6>
                                                    </div>
                                                    <div class="col-sm-3 text-right amount">
                                                        <h6 class="title">YTD</h6>
                                                    </div>
                                                </div>
                                                <!-- ngRepeat: c in ctrl.currentPaySlip.earnings -->
                                                <div class="row " >
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        Basic
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        6,222.22
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        12,888.89
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: c in ctrl.currentPaySlip.earnings -->
                                                <div class="row " >
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        Special Allowance
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        9,333.33
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        19,333.33
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: c in ctrl.currentPaySlip.earnings -->
                                                <div class="row">
                                                    <div class="col-sm-6 text-moderate-bold includeYTDColumn ">
                                                        Total Earnings (A)
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        15,555.55
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        32,222.22
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ngIf: ctrl.currentPaySlip.contributions.length >0 || ctrl.currentPaySlip.deductions.length  > 0 || ctrl.currentPaySlip.reimbursements.length > 0 -->
                                    <div class="col-sm-6 salary-tile " >
                                        <!-- ngIf: ctrl.currentPaySlip.contributions.length >0 -->
                                        <div class="row " >
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6 ">
                                                        <h6 class=" title">
                                                            Contribution
                                                        </h6>
                                                    </div>
                                                    <div class="col-sm-3 text-right amount  ">
                                                        <h6 class="title">Amount</h6>
                                                    </div>
                                                    <div class="col-sm-3 text-right amount">
                                                        <h6 class="title">YTD</h6>
                                                    </div>
                                                </div>
                                                <!-- ngRepeat: c in ctrl.currentPaySlip.contributions -->
                                                <div class="row " >
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        ESI
                                                    </div>
                                                    <div class="col-sm-3 amount text-right includeYTDColumn ">
                                                        273.00
                                                    </div>
                                                    <div class="col-sm-3 amount text-right amount includeYTDColumn ">
                                                        565.00
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: c in ctrl.currentPaySlip.contributions -->
                                                <div class="row " >
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        ESI Employer
                                                    </div>
                                                    <div class="col-sm-3 amount text-right includeYTDColumn ">
                                                        739.00
                                                    </div>
                                                    <div class="col-sm-3 amount text-right amount includeYTDColumn ">
                                                        1,531.00
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: c in ctrl.currentPaySlip.contributions -->
                                                <div class="row">
                                                    <div class="col-sm-6 text-moderate-bold includeYTDColumn ">
                                                        Total Contributions (B)
                                                    </div>
                                                    <div class="col-sm-3 text-right amount includeYTDColumn ">
                                                        1,012.00
                                                    </div>
                                                    <div class="col-sm-3 text-right amount includeYTDColumn ">
                                                        2,096.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end ngIf: ctrl.currentPaySlip.contributions.length >0 -->
                                        <!-- ngIf: ctrl.currentPaySlip.deductions.length >0 -->
                                        <div class="row " >
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6 ">
                                                        <h6 class="title">Taxes &amp; Deductions</h6>
                                                    </div>
                                                    <div class="col-sm-3 text-right  amount">
                                                        <h6 class="title">Amount</h6>
                                                    </div>
                                                    <div class="col-sm-3 text-right amount">
                                                        <h6 class="title">YTD</h6>
                                                    </div>
                                                </div>
                                                <!-- ngRepeat: c in ctrl.currentPaySlip.deductions -->
                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        Professional Tax
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        150.00
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        300.00
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: c in ctrl.currentPaySlip.deductions -->
                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        Loan EMI
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        3,339.00
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        6,678.00
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: c in ctrl.currentPaySlip.deductions -->
                                                <div class="row">
                                                    <div class="col-sm-6 text-moderate-bold includeYTDColumn ">
                                                        Total Deductions (C)
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        3,489.00
                                                    </div>
                                                    <div class="col-sm-3 text-right includeYTDColumn amount ">
                                                        6,978.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end ngIf: ctrl.currentPaySlip.deductions.length >0 -->
                                        <!-- ngIf: ctrl.currentPaySlip.reimbursements.length >0 -->
                                    </div>
                                    <!-- end ngIf: ctrl.currentPaySlip.contributions.length >0 || ctrl.currentPaySlip.deductions.length  > 0 || ctrl.currentPaySlip.reimbursements.length > 0 -->
                                </div>
                                <!-- end ngIf: ctrl.currentPaySlip.includeYTDValues -->
                            </div>
                            <div class="col-sm-12 clear-side-padding">
                                <div class="col-sm-7 vertical-margin clear-left-padding">
                                    <div class="row">
                                        <div class="col-sm-8 text-moderate-bold">
                                            Net Salary Payable ( A
                                            <!-- ngIf: ctrl.currentPaySlip.contributions.length >0 -->
                                            <span  class="">
                                            - B</span>
                                            <!-- end ngIf: ctrl.currentPaySlip.contributions.length >0 -->
                                            <!-- ngIf: ctrl.currentPaySlip.deductions.length >0 -->
                                            <span  class="">
                                            - C</span>
                                            <!-- end ngIf: ctrl.currentPaySlip.deductions.length >0 -->
                                            <!-- ngIf: ctrl.currentPaySlip.reimbursements.length >0 -->
                                            )
                                        </div>
                                        <div class="col-sm-4 text-right ">
                                            11,055
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 clear-side-padding">
                                <div class="row">
                                    <div class="col-sm-4 text-moderate-bold">
                                        Net Salary in words
                                    </div>
                                    <div class="col-sm-8 clear-side-padding text-bold capitalize ">
                                        eleven thousand and fifty-five Rupees only
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 clear-side-padding col-sm-12 vertical-margin">
                    <div class="pull-right">

                        <input type="button" class="btn btn-success" data-ng-click="ctrl.downloadPdf();" value="DOWNLOAD">
                    </div>
                </div>
            </div>
            <!-- end ngIf: ctrl.currentPaySlip != null -->
            <!-- ngIf: ctrl.currentPaySlip == null -->
        </div>
    </div>
    <!-- end ngIf: ctrl.isPaySlipAvailable -->
    <!-- ngIf: !ctrl.isPaySlipAvailable -->
</div>