<div class="pay-slip-wrapper ">
    <!-- ngIf: ctrl.isPaySlipAvailable -->
    <div class="clearfix pay-slip-container content-container ">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4 class="page-heading">Payslips</h4>
            <p>Here you can manage all generated payslips for applicable financial years.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-3 col-md-3 col-lg-2 clear-side-padding">
                <div class="form-group col-md-12 vertical-margin  clear-side-padding pay-slip-year">
                    <div class="control-label col-sm-3 col-md-3 clear-left-padding">
                        <label for="year">Month</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control input-sm" ng-change="onChangePaySlip()" ng-model="month" ng-options="monthL.Id as monthL.Name for monthL in monthList"></select>
                    </div>
                </div>
                <div class="form-group col-md-12 vertical-margin  clear-side-padding pay-slip-year">
                    <div class="control-label col-sm-3 col-md-3 clear-left-padding">
                        <label for="year">Year</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control input-sm" ng-change="onChangePaySlip()" ng-model="years" ng-options="monthL.Id as monthL.Name for monthL in yearList"></select>
                    </div>
                </div>

            </div>
            <!-- ngIf: ctrl.currentPaySlip != null -->
            <div class="">
                <div ng-hide="isNoSalarySlip" class="pay-slip-designer clear-side-padding clearfix col-sm-9 col-lg-10" data-ng-nicescroll=""
                    data-nice-option="vm.scrollOptions" tabindex="31" style="overflow: hidden; outline: none;">
                    <div class="pay-slip-designer-container clearfix col-sm-12">
                        <div class="col-sm-12 company-details clear-left-padding">
                            <div class="col-sm-8">
                                <h2 class="">
                                    <b>PaySlip</b> {{monthName | date : 'MMMM'}} {{years}}</h2>
                                <div class="title ">
                                    {{companyDetail.CCOName}}
                                </div>
                                <address class="">
                                    {{companyDetail.CCOAddress}}
                                </address>
                            </div>
                            <div class="col-sm-4">
                                <!-- ngIf: ctrl.currentPaySlip.orgLogo -->
                            </div>
                        </div>
                        <div class="col-sm-12 personal-details ">
                            <h4 class="title ">{{amount.EmpName}}</h4>
                            <div class="col-sm-12 detail-wrapper clear-side-padding">
                                <!-- ngIf: ctrl.currentPaySlip.paySlipFields.length > 0 -->
                                <div class="col-sm-12 clear-side-padding ">
                                    <!-- ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="1">
                                        <div class="title ">Employee Code</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.EmpCode}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="26 Feb 2012">
                                        <div class="title ">Date Joined</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.JDdate}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="Legal">
                                        <div class="title ">Department</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.DeptName}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="Editor">
                                        <div class="title ">Designation</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.DesgName}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="Bank Transfer">
                                        <div class="title ">Payment Mode</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding "></div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="Dena Bank">
                                        <div class="title ">Bank</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.BankName}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="UNGS0040538">
                                        <div class="title ">Bank IFSC</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.ADIFSCCode}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container " data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="738475013387214">
                                        <div class="title ">Bank Account</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.BankAccountNo}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container  pay-field-noborder" data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="UCOBL8815N">
                                        <div class="title ">PAN</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container  pay-field-noborder" data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="166211745544">
                                        <div class="title ">UAN</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container  pay-field-noborder" data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="QN/QSW/43219852/3043573">
                                        <div class="title ">PF Number</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.PFPPFAccountNo}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                    <div class="col-sm-3 clear-side-padding detail-container  pay-field-noborder" data-ng-class="{'pay-field-noborder' : $index > ctrl.currentPaySlip.fieldBorderCount}"
                                        title="5049708103">
                                        <div class="title ">ESI Number</div>
                                        <div class="detail text-ellipsis col-sm-11 clear-side-padding ">{{amount.ESIMemeberNo}}</div>
                                    </div>
                                    <!-- end ngRepeat: field in ctrl.currentPaySlip.paySlipFields -->
                                </div>
                                <!-- end ngIf: ctrl.currentPaySlip.paySlipFields.length > 0 -->
                            </div>
                        </div>
                        <div class="col-sm-12 salary-details">
                            <h5 class="title">Salary Details</h5>
                            <div class="col-sm-12 detail-wrapper  clear-side-padding">
                                <div class="col-sm-12 detail-container  clear-side-padding">
                                    <div class="col-sm-3 clear-side-padding">
                                        <div class="title">Employee Name</div>
                                        <div class="detail ">{{amount.EmpName}}</div>
                                    </div>
                                    <div class="col-sm-3 clear-side-padding">
                                        <div class="title">Total Working Days</div>
                                        <div class="detail ">{{amount.SADPresentDays | number:2}}</div>
                                    </div>
                                    <div class="col-sm-3 clear-side-padding">
                                        <div class="title">Loss of Pay Days</div>
                                        <div class="detail ">{{amount.SADLwpDays | number:2}}</div>
                                    </div>
                                    <div class="col-sm-3 clear-side-padding">
                                        <div class="title">Days Payable</div>
                                        <div class="detail ">{{amount.SADSalaryDays | number:2}}</div>
                                    </div>
                                </div>
                                <!-- ngIf: !ctrl.currentPaySlip.includeYTDValues -->
                                <!-- ngIf: ctrl.currentPaySlip.includeYTDValues -->
                                <div class="col-sm-12 detail-container salary-container clear-side-padding ">
                                    <div class="col-sm-6 salary-tile clear-left-padding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6 ">
                                                        <h6 class="title">Earnings</h6>
                                                    </div>
                                                    <div class="col-sm-6 text-right amount">
                                                        <h6 class="title">Amount</h6>
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{earningHead.SHC0001}}
                                                    </div>
                                                    <div class="col-sm-6 text-right includeYTDColumn amount ">
                                                        {{amount.SHC0001 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{earningHead.SHC0002}}
                                                    </div>
                                                    <div class="col-sm-6 text-right includeYTDColumn amount ">
                                                        {{amount.SHC0002 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{earningHead.SHC0003}}
                                                    </div>
                                                    <div class="col-sm-6 text-right includeYTDColumn amount ">
                                                        {{amount.SHC0003 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{earningHead.SHC0004}}
                                                    </div>
                                                    <div class="col-sm-6 text-right includeYTDColumn amount ">
                                                        {{amount.SHC0004 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{earningHead.SHC0005}}
                                                    </div>
                                                    <div class="col-sm-6 text-right includeYTDColumn amount ">
                                                        {{amount.SHC0005 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6 text-moderate-bold includeYTDColumn ">
                                                        {{earningHead.totalEarning}} (A)
                                                    </div>
                                                    <div class="col-sm-6 text-right includeYTDColumn amount ">
                                                        {{amount.SHC0038 | number:2}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ngIf: ctrl.currentPaySlip.contributions.length >0 || ctrl.currentPaySlip.deductions.length  > 0 || ctrl.currentPaySlip.reimbursements.length > 0 -->
                                    <div class="col-sm-6 salary-tile ">
                                        <!-- ngIf: ctrl.currentPaySlip.contributions.length >0 -->
                                        <div class="row ">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6 ">
                                                        <h6 class=" title">
                                                            Deductions
                                                        </h6>
                                                    </div>
                                                    <div class="col-sm-3 text-right amount">
                                                        <h6 class="title">Amount</h6>
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{deductionHead.SHC0021}}
                                                    </div>
                                                    <div class="col-sm-3 amount text-right amount includeYTDColumn ">
                                                        {{amount.SHC0021 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{deductionHead.SHC0022}}
                                                    </div>
                                                    <div class="col-sm-3 amount text-right amount includeYTDColumn ">
                                                        {{amount.SHC0022 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{deductionHead.SHC0023}}
                                                    </div>
                                                    <div class="col-sm-3 amount text-right amount includeYTDColumn ">
                                                        {{amount.SHC0023 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{deductionHead.SHC0024}}
                                                    </div>
                                                    <div class="col-sm-3 amount text-right amount includeYTDColumn ">
                                                        {{amount.SHC0024 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-sm-6 capitalize includeYTDColumn ">
                                                        {{deductionHead.SHC0025}}
                                                    </div>
                                                    <div class="col-sm-3 amount text-right amount includeYTDColumn ">
                                                        {{amount.SHC0025 | number:2}}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6 text-moderate-bold includeYTDColumn ">
                                                        {{deductionHead.totalDeduction}} (B)
                                                    </div>
                                                    <div class="col-sm-3 text-right amount includeYTDColumn ">
                                                        {{amount.SHC0039 | number:2}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <!-- end ngIf: ctrl.currentPaySlip.contributions.length >0 || ctrl.currentPaySlip.deductions.length  > 0 || ctrl.currentPaySlip.reimbursements.length > 0 -->
                                </div>
                                <!-- end ngIf: ctrl.currentPaySlip.includeYTDValues -->
                            </div>
                            <div class="col-sm-12 clear-side-padding">
                                <div class="col-sm-7 vertical-margin clear-left-padding">
                                    <div class="row">
                                        <div class="col-sm-8 text-moderate-bold">
                                            {{netPay}} ( A
                                            <!-- ngIf: ctrl.currentPaySlip.contributions.length >0 -->
                                            <span class="">
                                                - B</span>
                                            <!-- end ngIf: ctrl.currentPaySlip.contributions.length >0 -->
                                            <!-- ngIf: ctrl.currentPaySlip.deductions.length >0 -->

                                            )
                                        </div>
                                        <div class="col-sm-4 text-right ">
                                            {{amount.SHC0040 | number:2}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 clear-side-padding">
                                <div class="col-sm-7 vertical-margin clear-left-padding">
                                    <div class="row">
                                        <div class="col-sm-8 text-moderate-bold">
                                            {{roundOff}}
                                        </div>
                                        <div class="col-sm-4 text-right ">
                                            {{amount.SHC0042 | number:2}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12 clear-side-padding">
                                    <div class="row">
                                        <div class="col-sm-4 text-moderate-bold">
                                            Net Salary in words
                                        </div>
                                        <div class="col-sm-8 clear-side-padding text-bold capitalize ">
                                            eleven thousand and fifty-five Rupees only
                                        </div>
                                    </div>
                                </div> -->
                        </div>
                    </div>
                </div>
                <div ng-hide="isNoSalarySlip" class="col-md-12 clear-side-padding col-sm-12 vertical-margin">
                    <div class="pull-right">

                        <input type="button" class="btn btn-success" data-ng-click="ctrl.downloadPdf();" value="DOWNLOAD">
                    </div>
                </div>

                <div ng-show="isNoSalarySlip" class="alert-info text-center vertical-margin col-sm-6 col-sm-offset-3 ng-scope">
                    <h4> No Salary Pay Slip </h4>
                </div>
            </div>
            <!-- end ngIf: ctrl.currentPaySlip != null -->
            <!-- ngIf: ctrl.currentPaySlip == null -->
        </div>
    </div>
    <!-- end ngIf: ctrl.isPaySlipAvailable -->
    <!-- ngIf: !ctrl.isPaySlipAvailable -->
</div>