<div class="modal-content">
        <div class="modal-header bg-primary">
            <h3 class="inline-block clear-vertical-margin">Primary Details</h3>
        </div>
    
        <div class="modal-body content-container">
            <div class="row add-signatory-container">
                <form name="addPrimaryDetailForm" id="addPrimaryDetailForm" data-ng-init="ctrl.form = this;" novalidate>
                    <div class="col-sm-12 vertical-margin">
                        <fieldset>
                            <div class="col-sm-12 new-person-details">
                                <div class="col-sm-6 clear-left-padding">
                                    <div class="form-group">
                                        <label>First Name <span class="font-red">*</span></label>
                                        <input type="text" class="form-control" data-ng-model="" name="FirstName" id="FirstName" required
                                        />
                                        <span class="validation-msg" data-validation-messages="" data-model-controller="addPrimaryDetailForm.FirstName" data-required-error="First Name is required"
                                            data-form-submit="addPrimaryDetailForm.$submitted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-side-padding">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input type="text" class="form-control" data-ng-model="" name="MiddleName" id="MiddleName"
                                            required />
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-left-padding">
                                    <div class="form-group">
                                        <label>Last Name <span class="font-red">*</span></label>
                                        <input type="text" class="form-control" data-ng-model="" name="LastName" id="LastName"
                                            required />
                                        <span class="validation-msg" data-validation-messages="" data-model-controller="addPrimaryDetailForm.LastName" data-required-error="Last Name is required"
                                            data-form-submit="addPrimaryDetailForm.$submitted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-left-padding">
                                    <div class="form-group">
                                        <label>Display Name</label>
                                        <input type="text" class="form-control" data-ng-model="" name="LastName" id="LastName"
                                            required />
                                        <span class="validation-msg" data-validation-messages="" data-model-controller="addPrimaryDetailForm.LastName" data-required-error="Last Name is required"
                                            data-form-submit="addPrimaryDetailForm.$submitted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-left-padding">
                                    <div class="form-group">
                                        <label>Gender <span class="font-red">*</span></label>
                                        <input type="text" class="form-control" data-ng-model="" name="LastName" id="LastName"
                                            required />
                                        <span class="validation-msg" data-validation-messages="" data-model-controller="addPrimaryDetailForm.LastName" data-required-error="Last Name is required"
                                            data-form-submit="addPrimaryDetailForm.$submitted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-left-padding">
                                    <div class="form-group">
                                        <label>DOB <span class="font-red">*</span></label>
                                        <input type="text" class="form-control" data-ng-model="" name="LastName" id="LastName"
                                            required />
                                        <span class="validation-msg" data-validation-messages="" data-model-controller="addPrimaryDetailForm.LastName" data-required-error="Last Name is required"
                                            data-form-submit="addPrimaryDetailForm.$submitted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-left-padding">
                                    <div class="form-group">
                                        <label>Martial Status </label>
                                        <input type="text" class="form-control" data-ng-model="" name="LastName" id="LastName"
                                            required />
                                        <span class="validation-msg" data-validation-messages="" data-model-controller="addPrimaryDetailForm.LastName" data-required-error="Last Name is required"
                                            data-form-submit="addPrimaryDetailForm.$submitted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-left-padding">
                                    <div class="form-group">
                                        <label>Blood Group</label>
                                        <input type="text" class="form-control" data-ng-model="" name="LastName" id="LastName"
                                            required />
                                        <span class="validation-msg" data-validation-messages="" data-model-controller="addPrimaryDetailForm.LastName" data-required-error="Last Name is required"
                                            data-form-submit="addPrimaryDetailForm.$submitted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-left-padding">
                                    <div class="form-group">
                                        <label>Hobbies</label>
                                        <input type="text" class="form-control" data-ng-model="" name="LastName" id="LastName"
                                            required />
                                        <span class="validation-msg" data-validation-messages="" data-model-controller="addPrimaryDetailForm.LastName" data-required-error="Last Name is required"
                                            data-form-submit="addPrimaryDetailForm.$submitted"></span>
                                    </div>
                                </div>
    
                             
                            </div>
                        </fieldset>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 vertical-margin">
                            <div class="col-sm-6 pull-right text-right">
                                <button type="submit"  class="btn btn-submit btn-primary" data-ng-click="">Update</button>                        
                                <a class="btn btn-cancel" data-ng-click="$dismiss();">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>