<div class="modal-content">
    <div class="modal-header bg-primary">
        <h3 class="inline-block clear-vertical-margin" ng-if="!isEdit" dotranslate>Add Holiday By Location</h3>
        <h3 class="inline-block clear-vertical-margin" ng-if="isEdit" dotranslate>Edit Holiday By Location</h3>
    </div>

    <div class="modal-body content-container">
        <form name="holidaybyLocation" id="holidaybyLocation" novalidate>
            <div class="row">
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Holiday</label>
                            <select class="form-control" name="HDCBLHDId" ng-options="opt.value as opt.name for opt in selects.HDCBLHDId" ng-model="entity.HDCBLHDId"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Location</label>
                            <select id="inputDepartment" ng-model="entity.LocationId" ng-change="locationOnChange(entity.LocationId)" class="form-control"
                                ng-options="loaction.value as loaction.name for loaction in selects.LocationId" data-placeholder="Select Nav Menu"
                                required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Branch</label>
                            <select id="inputDesignation" ng-model="entity.BRId" ng-change="branchOnChange(entity.BRId)" class="form-control" ng-options="branch.value as branch.name for branch in branchList"
                                data-placeholder="Select Nav Menu" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clear-left-padding">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label dotranslate>Sub-Unit</label>
                            <select id="inputEmployeeType" ng-model="entity.HDCBLSubUnitId" class="form-control"  ng-options="subUnit.value as subUnit.name for subUnit in subUnitList"
                                data-placeholder="Select Nav Menu" required>
                                <option></option>
                            </select>
                            <!-- <select class="form-control" name="HDCBLSubUnitId" ng-options="opt.value as opt.name for opt in selects.HDCBLSubUnitId" ng-model="entity.HDCBLSubUnitId"></select> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 vertical-margin">
                    <div class="col-sm-6 pull-right text-right">
                        <button type="submit" ng-if="!isEdit" class="btn btn-success" ng-click="saveForm(locationDetail);" dotranslate>Add Record</button>
                        <button type="submit" ng-if="isEdit" class="btn btn-success" ng-click="saveForm(locationDetail);" dotranslate>Update Record</button>
                        <a class="btn btn-cancel" ng-click="$dismiss();">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>