<div class="modal-content">
    <div class="modal-header bg-primary">
        <h3 class="inline-block clear-vertical-margin" ng-if="!isEdit" dotranslate>Add Loan Category Rule</h3>
        <h3 class="inline-block clear-vertical-margin" ng-if="isEdit" dotranslate>Edit Loan Category Rule</h3>
    </div>

    <div class="modal-body content-container">
        <form name="loanCategoryRuleDetail" id="loanCategoryRuleDetail" novalidate>
            <div class="col-sm-12 vertical-margin">
                <fieldset>
                    <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                        <div class="col-sm-4 clear-left-padding">
                            <div class="form-group">
                                <label>Grade</label>
                                <select class="form-control" data- ng-model="entity.LTRGradeId" ng-options="location.value as location.name for location in selects.LTRGradeId"></select>
                            </div>
                        </div>
                        <div class="col-sm-4 clear-side-padding">
                            <div class="form-group">
                                <label>Level</label>
                                <select class="form-control" data- ng-model="entity.LTRLevelId" ng-options="location.value as location.name for location in selects.LTRLevelId"></select>
                            </div>
                        </div>
                        <div class="col-sm-4 clear-right-padding">
                            <div class="form-group">
                                <label>Location</label>
                                <select id="inputDepartment" ng-model="entity.LocationId" ng-change="locationOnChange(entity.LocationId)" class="form-control"
                                    ng-options="loaction.value as loaction.name for loaction in selects.LocationId" data-placeholder="Select Nav Menu"
                                    required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                        <div class="col-sm-4 clear-left-padding">
                            <div class="form-group">
                                <label>Branch</label>
                                <select id="inputDesignation" ng-model="entity.BRId" ng-change="branchOnChange(entity.BRId)" class="form-control" ng-options="branch.value as branch.name for branch in branchList"
                                    data-placeholder="Select Nav Menu" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 clear-side-padding">
                            <div class="form-group">
                                <label>Sub-Unit</label>
                                <select id="inputEmployeeType" ng-model="entity.LTRSubUnitId" class="form-control" ng-options="subUnit.value as subUnit.name for subUnit in subUnitList"
                                    data-placeholder="Select Nav Menu" required>
                                    <option></option>
                                </select>
                                <!-- <select class="form-control" data- ng-model="entity.LTRSubUnitId" ng-options="location.value as location.name for location in selects.LTRSubUnitId"></select> -->
                            </div>
                        </div>
                        <div class="col-sm-4 clear-right-padding">
                            <div class="form-group">
                                <label>Loan Provider</label>
                                <select id="inputEmployeeType" ng-model="entity.LPId" class="form-control" ng-change="onChangeLoanProvider(entity.LPId)"
                                    ng-options="subUnit.value as subUnit.name for subUnit in selects.LPId" data-placeholder="Select Nav Menu"
                                    required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                        <div class="col-sm-4 clear-left-padding">
                            <div class="form-group">
                                <label>Loan Type</label>
                                <select class="form-control" data- ng-model="entity.LTRLTId" ng-options="location.value as location.name for location in loanTypeList"></select>
                            </div>
                        </div>
                        <div class="col-sm-4 clear-side-padding">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" data-ng-model="entity.LTRName" name="LTRName" id="LTRName" required />
                                <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                    data-form-submit="addSignatoryForm.$submitted"></span>
                            </div>
                        </div>
                        <div class="col-sm-4 clear-right-padding">
                            <div class="form-group">
                                <label>Max Limit</label>
                                <input type="text" class="form-control" data-ng-model="entity.LTRMaxLimit" name="LTRMaxLimit" id="LTRMaxLimit" required />
                                <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                    data-form-submit="addSignatoryForm.$submitted"></span>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 new-person-details" data-ng-class="{'clear-top' : 'edit'}">
                        <div class="col-sm-4 clear-left-padding">
                            <div class="form-group">
                                <label>Interest Percentage</label>
                                <input type="text" class="form-control" data-ng-model="entity.LTRInstallmentPercentage" name="LTRInstallmentPercentage" id="LTRInstallmentPercentage"
                                    required />
                                <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                    data-form-submit="addSignatoryForm.$submitted"></span>
                            </div>
                        </div>
                        <div class="col-sm-4 clear-side-padding">
                            <div class="form-group">
                                <label>Max Duration</label>
                                <input type="text" class="form-control" data-ng-model="entity.LTRMaxDuration" name="LTRMaxDuration" id="LTRMaxDuration" required
                                />
                                <span class="validation-msg" data-validation-messages="" data-model-controller="addSignatoryForm.signatoryName" data-required-error="Name is required"
                                    data-form-submit="addSignatoryForm.$submitted"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="row">
                <div class="col-sm-12 vertical-margin">
                    <div class="col-sm-6 pull-right text-right">
                        <button type="submit" ng-if="!isEdit" class="btn btn-success" ng-click="saveForm(loanCategoryRuleDetail);" dotranslate>Add Loan-Category</button>
                        <button type="submit" ng-if="isEdit" class="btn btn-success" ng-click="saveForm(loanCategoryRuleDetail);" dotranslate>Update Loan-Category</button>
                        <a class="btn btn-cancel" ng-click="$dismiss();">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>